[2021-06-17 15:42] #1457 closed

[2021-06-24 19:58] CraigComeOnThisNameCantBeTaken commented on #1383
Still doesnt work. Doesnt even work for .NET Standard 2.1 let alone .NET 5 using v3.2.17.

Should this be written down somewhere?

[2021-06-24 20:44] CraigComeOnThisNameCantBeTaken opened #1491 "FluentMigrator.DotNet.Cli does not work with .Net Standard 2.1 or .Net 5 projects"
**Describe the bug**
If the project which holds the migrations is not .Net Standard 2.0 and you attempt to run migrations using the dotnet-fm migration runner you will experience a Sytem.Runtime missing exception.

**To Reproduce**
Create a new .Net Standard 2.1 OR .NET 5 library
Install FluentMigrator from nuget
Globally (or locally) install FluentMigrator.DotNet.Cli
Run a migration command using

[2021-06-24 22:30] jzabroski commented on #1491
@CraigComeOnThisNameCantBeTaken Yes, the workaround for now is to run the FluentMigrator.DotNet.Cli with the flag `--allowDirtyAssemblies`.  This workaround needs to be documented on the github.io page.  It would be great if you could update that and add a section to the FAQ.  The docs are available at http://github.com/fluentmigrator/documentation - I love when people help contribute documentatio

[2021-06-24 22:32] jzabroski commented on #1491
Also, `--allowDirtyAssemblies` I believe was added in 3.2.15 , so if you are on 3.2.7 like your issue says, then recommendation is to upgrade.

I am hoping to finally push my branch for .net 5 out very soon - recovering from COVID-19 took much longer than anticipated, and I was pretty much useless for 10-12 weeks.

[2021-06-24 22:36] jzabroski commented on #1383
@CraigComeOnThisNameCantBeTaken Can you elaborate what issue you are running into?  My response in your issue #1491 I think covers the solution you are looking for.  Please try it and report back in that thread what you find.  Thanks.

[2021-06-25 08:07] CraigComeOnThisNameCantBeTaken commented on #1491
Sure - happy to :). Ill have a look tonight (uk time)

P.S. I am on 3.2.17 - typo.

[2021-06-25 17:38] jzabroski commented on #1491
@CraigComeOnThisNameCantBeTaken How did this work for you?

[2021-06-25 20:11] jzabroski commented on #1491
I updated the docs btw

[2021-06-25 20:17] jzabroski commented on #1491
Documents here: https://fluentmigrator.github.io/articles/runners/dotnet-fm.html#net-runtime-related-switches

Also updated the faq.

[2021-06-26 01:10] CraigComeOnThisNameCantBeTaken commented on #1491
Havent tested yet (I previously broke my migrations into a dedicated project to make them work) but Im sure it will.

Sorry I didnt get around to the docs PR - night got away from me.

[2021-06-26 01:10] #1491 closed

[2021-07-07 13:00] fairking opened #1492 "Sqlite Creating Unique Constraint not working"
**Describe the bug**
As we just found out the following line:
[code]
is not working with sqlite database. After the migration executed the constraint is missing in sqlite db and the duplicates are allowed.
However when I added extra line as a workaround, it created the expected constraint:
[code]

**To Reproduce**
See description

**Expected behavior**
It must create an unique constraint

**Inform

[2021-07-14 20:38] jzabroski commented on #1492
Hi @fairking ,

Hmm... That's pretty weird.  I went to the changes log for SQLite and it looks like this feature has been around awhile:

I think the problem is here:
https://github.com/fluentmigrator/fluentmigrator/blob/9c87d698b161b3a1bb596a5624c02891a64459c5/src/FluentMigrator.Runner.SQLite/Generators/SQLite/SQLiteGenerator.cs#L108-L111

And the fact that SQLite is not set to Strict but Loose c

[2021-07-15 19:54] jzabroski commented on #1456
@zelenij Just wondering if you do plan to create a PR here.  I am looking at overhauling the SqliteGenerator

[2021-07-16 03:05] zelenij commented on #1456
It's not too urgent for me, so feel free to overhaul...

[2021-07-16 19:01] jzabroski opened #1494 "New Nuget API Key Needed for AzureDevOps"

[2021-07-16 19:11] fubar-coder commented on #1494
Done

[2021-07-16 19:11] #1494 closed

[2021-07-20 13:38] jzabroski commented on #1348
@fubar-coder @lillo42 I finished updating the spreadsheet about two weeks ago; now I just need to merge the stuff that needs merging and create v4.x.y tags.

[2021-07-20 20:17] jzabroski commented on #1427
Not needed due to https://github.com/fluentmigrator/fluentmigrator/issues/1425#issuecomment-792260126

[2021-07-20 20:17] #1427 closed

[2021-07-29 20:53] CoskunSunali commented on #978
@jzabroski Thanks for your reply. Let me know when you can focus on this one so I share details if and when you need.

[2021-08-03 15:48] jzabroski opened #1498 "[documentation support] Fix invalid cref"
**Describe the bug**
https://dev.azure.com/fluentmigrator/documentation/_build/results?buildId=488&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=5caf77c8-9b10-50ef-b5c7-ca89c63e1c86

[21-06-25 05:46:46.542]Warning:[ExtractMetadata]Invalid cref value "!:ICustomAttributeProvider" found in triple-slash-comments for GetAllAttributes defined in fm-v3.x/src/FluentMigrator/Infrastructure/Extensions/

[2021-08-03 20:16] jzabroski commented on #956
Docs updated.  @igitur Thanks for the explanation.

[2021-08-19 12:23] lucas-garrido opened #1501 "Problem loading Hana dll"
Hello !
When i try to run a migration i have the following error :
       ---> (Inner Exception #4) System.IO.FileNotFoundException: Could not load file or assembly 'Sap.Data.Hana.v4.5, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.

I'm not using the hana v4.5 dll but the last one for net core

**To Reproduce**
csproj :
![image](https://user-images.githubusercon

[2021-08-23 03:47] Fungusware commented on #1492
Yes, this seem to be happening to me also.

Unique Constraint is not created and also Foreign Key create as

`            Alter.Table("Usage").AddColumn("LicenseId").AsInt32().Nullable().ForeignKey("License", "Id");`

Is not being applied.

[2021-08-23 19:06] yavorsp opened #1506 "SAP Hana - incorrect default type for boolean column"
**Describe the bug**
Followup of issue #1447 The issue with mapping of boolean to SAP Hana SQL column type is fixed in v3.2.17, however default initialization still uses integer type.

**To Reproduce**
Create.Table("NODE").WithColumn("ACL").AsBoolean().NotNullable().WithDefaultValue(true);
results in following SQL code:
CREATE COLUMN TABLE "NODE" ("ACL" BOOLEAN DEFAULT 1);
Correct should be
CREATE

[2021-08-26 13:49] MiroslavMikus opened #1508 "Runner for json file"
**Describe the question**
We often change our C# classes and stored values and would need to reflect this in our JSON files. At best in some maintainable and automatic manner. So here am I searching for some C# gems -_^.

Can be this framework used/extended to migrate JSON (or any text) files?

**Documentation Pages You've Read So Far**
Could not find any...

**Expected benefit**
We don't want to

[2021-09-04 00:20] lszczygielek commented on #1046
@jzabroski what is a status of `Create.View` proposition? This issue is marked as answered, but it's not clear if idea is dropped or is planned for future. Can you add info?

[2021-09-04 19:36] jzabroski commented on #1046
I have my own extension methods at one client for AlterView, DropView. They don't subclass from ICreateExpressionRoot but are simply extension methods on Migration class. DropView detects if the embedded resources exist, and if it does, throws an exception saying to delete the embedded resource.

I do the same thing for function, trigger and stored procedure objects.

[2021-09-14 14:25] brendonparker commented on #1323
I agree, this would be nice.

In the meantime, does anyone know of a workaround. Adding a dependency to FluentMigrator.Runner adds entirely too much dll bloat to my application.

[2021-09-14 14:30] brendonparker commented on #1323
This looks like a duplicate of #903

[2021-09-14 14:58] jzabroski commented on #1323
I'm working this month on 4.0 for the first time in over a year.  Hopefully that's the solution.

[2021-09-15 08:32] x3ntrix commented on #1114
Maybe the [database()](https://dev.mysql.com/doc/refman/8.0/en/information-functions.html#function_database) function it a good solution. We have overridden `void Process(RenameColumnExpression pExpression)` from `MySql5Processor` and extended the query a bit at the end. It now looks like this:
[code]
It solved the problem for us and we didn't encounter any new problems so far.

[2021-09-15 12:01] jzabroski commented on #1114
@x3ntrix Would you like to submit a PR?  Seems easy enough.  Can push out 3.3.1

[2021-09-17 08:16] hengway opened #1514 "To implement incremental upgrade for table"
**Describe the question**
To implement incremental upgrade for table

**Documentation Pages You've Read So Far**
https://fluentmigrator.github.io/articles/migration-runners.html?tabs=vs-pkg-manager-console

**Expected benefit**
I expected to have multiple assemblies, and each assembly will different migration tag
example:
File1.cs [Migration(20210917)]
File2.cs [Migration(20211017)]
File3.cs [Migr

[2021-09-17 10:29] hengway commented on #1514
Just found solution at : https://dotnetcorecentral.com/blog/fluentmigrator/

 serviceCollection = new ServiceCollection()
                // Add common FluentMigrator services
                .AddFluentMigratorCore()
                .ConfigureRunner(_rb => _rb
                    .AddMySql5()
                    .WithGlobalConnectionString(connectionConfig)
                    .ScanIn(Assembly.Get

[2021-09-20 01:03] rbakhshi commented on #908
I would love to see this. Currently we run our tests that involves running migrations in the tests. We use SQLite in-memory DB and everything is fine but the last hurdle is FluentMigrator that bypasses our Connection object and directly accesses the DB.

This means that we cannot have private in-memory db and need to make it a shared memory one (`data-source=:memory:` vs `data-soure=file.sqlite;mo

[2021-09-20 08:09] virgilp opened #1516 "What is the difference between Rollback & MigrateDown in Fluent Migrator?"
**Describe the question**
The documentation is really unclear what's the difference, and other questions I found don't address that (beyond superficial differences like "migrate:down" without version migrates down all migrations whereas "rollback" without version rolls back one migration).

But, what is the difference between the concept of "rollback" and "migrate down"? If you specify a version,

[2021-09-20 14:50] josh-hoiland opened #1517 "Set schema owner for version table schema"
**Is your feature request related to a problem? Please describe.**
I have a custom implementation of IVersionTableMetaData where I am setting SchemaName. And then, in my migrations, I'm creating tables in the same schema, and I'd like to be able to set the schema owner. It looks like if I create the schema from within a migration, I can set the owner with the ICreateSchemaOptionSyntax.Authorizatio

[2021-09-21 14:49] jzabroski commented on #1517
Can you alter the authorization after it has been created instead?

[2021-09-21 14:49] #1516 closed

[2021-09-21 14:52] josh-hoiland commented on #1517
Yeah, I should have mentioned that's what I'm doing as a workaround.

[2021-09-21 15:23] #1114 closed

[2021-09-30 06:00] rbakhshi commented on #908
I ended up following your suggestion @fubar-coder on injecting `IMigrationProcessor`. Still have to pass a global connection string in our case but managed to pass a custom DBFactory, DbCommand and DbConnection implmentations to ignore the global connection string.

This helped having a completely in-memory sqlite db which is shared between fluentmigrator and the rest of the testes

[2021-10-04 22:13] slauson opened #1524 "Sql Server - add support for NOT FOR REPLICATION clause option"
**Is your feature request related to a problem? Please describe.**
There is currently no way to add the NOT FOR REPLICATION clause option. For creating new tables with the option I'm currently using the `AsCustom` column type option for it, but it requires including the column type, identity property, and not for replication clause as the custom type.

**Describe the solution you'd like**
Add a Sq

[2021-10-05 00:17] jzabroski commented on #1524
I wonder if we should abstract it into a general Publication syntax root.  My sense is that since this hasn't really been requested before, most people leave it to (SQL Server or Postgres) DBAs to set up replication and thus likely don't manage it from C#.

I would therefore lean towards just using ISupportAdditionalFeatures to add metadata into the column expression.

[2021-10-06 14:06] dustyghost commented on #1075
Well we have a Blazor app, two DBs, in one app.
Right now I seem to have to create two service providers which messes with the DI in our case, and then we use tags in our migrations.
I take it this feature being resolved would be the one that would allow me to have runners for each DB in the same service provider?

[2021-10-07 09:50] ig-sinicyn opened #1525 "Add support for NullsDistinct() / NullsNotDistinct() for Postgre uinque indexes"
We have a migration for Postgres that creates an index over two columns, one of them is non-nullable.
We want to mimic MsSql behavior (nulls are treated as the same value) and to forbid duplicates like this:
[code]

There're NullsDistinct() / NullsNotDistinct() extension methods for MsSql server (actually, it does in reverse, allowing nulls to be treated as a distinct values), but there are no suc

[2021-10-07 10:37] damiencarol opened #1526 "Azure SQL database support"
**Describe the question**

Is the Azure SQL database is supported? planned?

**Documentation Pages You've Read So Far**

* source code (a little bit)
* https://fluentmigrator.github.io/#supported-databases

**Expected benefit**

If I got the answer to my question, I could do the following:
As a user, I would like to use fluentmigrator in Azure by using Azure SQL database.

**Information (please co

[2021-10-08 15:11] #1526 closed

[2021-10-28 04:03] lonix1 opened #1532 "[Docs] Difference to EF migrations"
I've searched the docs but cannot understand how FluentMigrator differs to EF Core migrations. Why do users prefer this library to the native migrations functionality?

It might be good to include that in the FAQ section. Thanks!

[2021-11-03 13:32] lonix1 commented on #1532
Thank you for those links they are very informative!

[2021-11-03 13:32] #1532 closed

[2021-11-10 14:32] Usualdosage commented on #974
I'd like to revisit this. I am using FluentMigrator for both MSSQL and Postgres, but the issue is specifically with the datetime2 type in MSSQL. In our tables, we utilize it as datetime2(0). If you do not specify precision in your statement, MSSQL defaults to a precision of 7.

Yes, there are straightforward workarounds, like the following:

`this.Execute.Sql("ALTER TABLE SomeTable ADD SomeColumn

[2021-11-10 15:49] jzabroski commented on #974
Changing the default precision is not going to happen, as it's a significant breaking change.

I also don't think it makes a lot of sense to change the behavior just because one person uses `DateTime2(0)` as if it were the T-SQL `Date` type.  I can even somewhat understand why you would want to use only `DateTime2(x)` in your code, given Entity Framework 6 (legacy EF) and various other libraries o

[2021-11-14 20:18] goto3 opened #1541 ".NET 6 compatibility"
I am trying to make FluentMigrator work with .NET 6 which uses a different builder on startup (Program.cs).

The idea is that I have to add the service to the service collection from the builder:
![image](https://user-images.githubusercontent.com/16456164/141696952-41ce395f-73e9-440b-b390-59d796460e81.png)

 Then get the service from the app and finally call the migration:
![image](https://user-im

[2021-11-14 21:53] goto3 commented on #1541
Solution:

![image](https://user-images.githubusercontent.com/16456164/141700072-01ba825f-6a9b-407e-a473-afe856848af4.png)

[2021-11-14 21:53] #1541 closed

[2021-11-16 00:02] jzabroski commented on #1525
[code]

[2021-11-18 00:42] wmaciel commented on #989
@fubar-coder , could you be a bit more specific on how the suggested workaround would work? It wasn't clear to me from the small snippet in #968 .

[2021-12-01 13:16] WajahatAliAbid opened #1544 ".Net 6 Support"
The new .net 6 LTS was released last month. However there is no support for it with Fluent Migrator CLI. Is it expected to be released soon?

[2021-12-02 07:42] maxkornev opened #1545 "Postgres10_0 / Postgress11_0: When altering column, migrator ignores collation."
Trying to update column collation using Postgres11 generator. But result SQL script doesn't contain a collation change statement.

The bug can be reproduced by the following test in FluentMigrator.Tests project:

[code]

Expected result: ALTER TABLE "public"."TestTable1" ALTER "TestColumn1" TYPE varchar(20) COLLATE Latin1_General_CS_AS, ALTER "TestColumn1" SET NOT NULL;
Actual result: ALTER TABLE

[2021-12-07 11:34] hengwayong opened #1546 "How to know the migration is completed?"
**Describe the question**
How to know the migration is completed?
Any way we can keep track the progress of migrator while it running

**Documentation Pages You've Read So Far**(https://fluentmigrator.github.io/api/v3.x/FluentMigrator.Runner.TrackingMigrationScope.html)

**Expected benefit**
There is a event or action call back when exception, error or the migrator complete

**Information (please

[2021-12-07 13:11] fubar-coder commented on #1546
You can create a "maintenance migration" (with the `MaintenanceAttribute` instead of the `MigrationAttribute`) and set the migration stage to `MigrationStage.AfterAll`.

This migration stage will now be called after each successfully applied migration. You can use the `IVersionLoader` service to get the latest version using the `VersionInfo` property. You can now use some kind of communication mec

[2021-12-13 06:56] lszczygielek commented on #1544
In dependencies section https://www.nuget.org/packages/FluentMigrator/ you can see that FluentMigrator is .NETStandard2.0, so it should work with .NET 6 without issues.

[2021-12-13 17:39] jzabroski commented on #1544
@lszczygielek Sort of.  You would need to enable the allow dirty assembly resolve flag.

I am hoping to get a chance to work on FluentMigrator again very soon.  I got delayed this year due to some Long Covid symptoms, but am past that now and just been catching up on life.

[2021-12-13 17:51] jzabroski commented on #1545
@maxkornev Would you like to submit a PR to fix it?  Can publish right away.  CanAlterColumnWithCollation is currently only tested on SQL Server....  It looks like the base Postgres*Tests class should have this logic, similar to how SQL Server 2005 tests contain this logic and other processors inherit it.

[2021-12-13 21:58] jzabroski opened #1549 "SetExistingRowsTo logic with system-versioned tables"
**Describe the bug**
If you use advanced database features, SetExistingRowsTo will only set values on the main table, not the history table.

[code]

**To Reproduce**
Observe the following error:
[code]

**Expected behavior**
Should be in-line with Microsoft documented behavior in article [Changing the Schema of a System-Versioned Temporal Table](https://docs.microsoft.com/en-us/sql/relational-dat

[2021-12-15 09:21] VeldoraStormDragon opened #1550 "Running the same set of migrations against multiple databases"
Hi there,

I have a requirement to apply migrations on multiple databases and of them have the same schema.  The number of databases to apply migrations on is over 500.  Here is what my implementation is.

     public class MigrationService
     {
        private readonly string _connectionString;

        public MigrationService(string connectionString)
        {
            _connectionString = c

[2021-12-15 14:28] jzabroski commented on #1550
That's a windows setting. https://docs.microsoft.com/en-us/windows/client-management/troubleshoot-tcpip-port-exhaust

I don't see why 500 connections would do this, but I also don't know much about Azure. I am not a big fan of Azure as Microsoft employees generally ignored my feedback on Azure Functions poor architecture with regards to in-place upgrades and they cost me a lot of hours of my perso

[2021-12-16 14:41] jzabroski commented on #1550
I would only call `BuildServiceProvider` once per AppDomain or AssemblyLoadContext (if you have multiple contexts - not typical in my experience).

I would resolve IMigrationService once per inner loop call, and have each instance get its own IMigrationRunner and therefore DbContext/SqlConnection.

I would pass the connection string in via `RunMigrations(string connectionString);` rather than your

[2021-12-16 14:45] jzabroski commented on #1550
https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections?tabs=csharp#connection-limit says the limit is 600 connections.

I am not sure how they count connections, but the trivial way to determine this would be to set-up a SQL Server Profiler trace with your specific Application Name in the connection string and then you can dump that trace to a table and see how many unique conne

[2021-12-24 01:07] zelenij commented on #1492
I experience the same issue with unique constraints in Sqlite

[2021-12-30 14:56] jzabroski commented on #1218
https://infocenter.sybase.com/help/index.jsp?topic=/com.sybase.help.sqlanywhere.12.0.1/dbprogramming/adodotnet-development-secta-3832474.html says:

However, it appears iAnywhere is on at least version 17 now, but the .NET Core package maintained by CodeRush only works up to 16.  All things considered, we can experiment with using System.Data.Odbc rather than deleting SAP SqlAnywhere altogether.

[2022-01-08 08:54] Pikachews commented on #1015
Do I still need to install .NET 5 in order to run dotnet-fm with .NET 6?
I get an error saying that .NET 5 is missing when I try to run it with .NET 6 as my only SDK installed, and it doesn't appear that `--allowDirtyAssembly` helps. Is there a way around that?

I'm trying to avoid having to install .NET 5 (since I'm running on M1 and trying to avoid having to install Rosetta), but if that's the o

[2022-01-08 08:54] Pikachews commented on #1544
Do I still need to install .NET 5 in order to run dotnet-fm with .NET 6?
I get an error saying that .NET 5 is missing when I try to run it with .NET 6 as my only SDK installed, and it doesn't appear that `--allowDirtyAssembly` helps. Is there a way around that?

I'm trying to avoid having to install .NET 5 (since I'm running on M1 and trying to avoid having to install Rosetta), but if that's the o

[2022-01-10 15:14] jzabroski commented on #1544
Short term, yes.  I am hoping to get to .NET 6 support this week.  The stupid SAP stuff is holding us back.

[2022-01-15 09:00] jcolebrand opened #1556 "How can I best monitor the execution of each migration in 3.x when we used the Announcer functionality in 1.4.0"
**Describe the question**
With 1.4.0 we used a custom IAnnouncer (code after body for further explanation) and we could capture all the data coming out of the migrations as they happened.

As best I can follow, this is all deprecated behavior so I should shift my paradigm. (If this is where I'm wrong, I can probably get away with registering my own IAnnouncer implementation and that's that)

What

[2022-01-18 21:16] jzabroski commented on #1556
@jcolebrand I read your comments and my heart goes out to you.

@fubar-coder removed the `IAnnouncer` interface because it wasn't clear it provided any benefits over using Microsoft .NET Core LoggerFactory approach.  (That said, it arguably **could** provide some benefits - but the interface just wasn't all that well designed in 1.4.0, so I agree with the decision to remove it.  For an idea of a b

[2022-01-18 21:50] fubar-coder commented on #1556
First, the `IAnnouncer` is (IIRC) still fully functional, but there's still a class that isn't deprecated yet and which might be something you can build on: [`FluentMigratorLogger`](https://github.com/fluentmigrator/fluentmigrator/blob/6a56b8e6749ab73910d5132bca9f2b5a398c21c8/src/FluentMigrator.Runner.Core/Logging/FluentMigratorLogger.cs).

So, you still have the choice to register your own [`ILog

[2022-01-18 21:57] jcolebrand commented on #1556
Thanks @fubar-coder that's what I was considering doing, but since it's marked obsolete I didn't want to rely on something that would go away.

I'll have a look at what @jzabroski linked to on 1208 and see if I see something good there too.

Maybe I can figure out a way to non-disclosure acceptable show you guys what I'm doing, see if anything jumps out at you.

Cheers!

[2022-01-18 22:06] fubar-coder commented on #1556
The `FiuentMigratorLogger` isn't going away (at least I didn't plan to remove it), so it's safe to use. BUT even when it may be removed in a future version, you can still copy the logger code into your project. The log ID's are extremely unlikely to change (if ever).

[2022-01-18 22:21] jcolebrand commented on #1556
Honestly it's just the IAnnouncer that we wanted to hook. I gotta figure out how to non-disclosure acceptable way to share what I'm doing. You would absolutely hate it I'm sure :D :D

[2022-01-18 23:15] jzabroski commented on #1556
#1208 is really about making it easier to extend FluentMigrator in a forward-looking way.  A lot of people basically create their own runner logic, and it would make more sense if the main bits were just there and easy to extend but with custom DI.  It's not about Announcers, per say.  It's really about, OK, I want to customize FluentMigrator with my own conventions, my own logging, etc. What's th

[2022-01-19 20:31] rom5jp commented on #1428
I'm facing the same issue but on .NET 6.

I'm trying to run the following command:
`.\Migrate.exe migrate --allowDirtyAssemblies --conn "Server=xxx;Port=xxx;Database=xxx;user=xxx;password=xxx;" --provider mysql --assembly "C:\...\bin\Debug\net6.0\myproject.dll" --task rollback --output --outputFilename output.sql`

When running that I receive the follow message: **!!! Could not load file or assemb

[2022-01-19 20:37] rom5jp opened #1557 "Error while trying to run Migrate.exe on .NET 6 | Could not load file or assembly"
**Describe the bug**
I'm trying to run a `rollback` command via Migrate.exe but I receive the following error message: "!!! Could not load file or assembly 'System.Runtime, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified."

**To Reproduce**
Run the following command: `.\Migrate.exe migrate --allowDirtyAssembli

[2022-01-19 21:25] fubar-coder commented on #1557
It seems that you've already used the `--allowDirtyAssemblies` flag. @jzabroski Any idea?

[2022-01-19 21:45] jzabroski commented on #1557
`--allowDirtyAssemblies` is not defined for Migrate.exe :(

I would recommend using FluentMigrator.DotNet.Cli .  Migrate.exe is a legacy tool.

[2022-01-20 15:53] jzabroski commented on #1557
@fubar-coder (Off-topic) At what point do you think we should just stop shipping Migrate.exe?  The main reason I ship it today is that FluentMigrator.MSBuild does not ship all associated binaries, and so I copy FluentMigrator.Console package binaries into my MSBuild tool folder so that I can get MSBuild console colors when I run MSBuild tasks.  I think we can fix FluentMigrator.MSBuild by packagin

[2022-01-20 16:48] #1557 closed

[2022-01-21 03:41] gwin003 commented on #1544
Came across this issue while trying to upgrade our projects to .NET 6. Has there been any progress made on this lately?

I decided to throw together a docker image that has both .NET 5 and .NET 6 installed so we can use it in our Bitbucket Pipeline, but still getting an error when running `dotnet-fm`.

`Unhandled exception. System.IO.FileNotFoundException: Could not load file or assembly 'System.R

[2022-01-21 05:16] Pikachews commented on #1544
Did you add the `--allowDirtyAssemblies` switch? I believe that should fix your issue.

[2022-01-21 14:10] gwin003 commented on #1544
@Pikachews Yes I have that switch in place. Here's the command I'm running.

[code]

[2022-02-01 16:41] roa-nyx opened #1560 "Migrations appear to always be included regardless of profiles."
Migrations appear to always be included regardless of profiles.

## Setup

I have two migrations:

[code]

[code]

## Runner

[code]

[code]

I would expect the "Blue" migration to never run. Instead it runs whenever I trigger the runner.

 - OS: Windows 10 (fully up to date)
 - Platform .Net Core 6
 - FluentMigrator version 3.3.1
 - FluentMigrator runner, in-process runner
 - Database Management

[2022-02-08 18:16] jzabroski commented on #1556
@jcolebrand I saw your reply in Gitter.  It's better to have a discussion with GitHub Discussions.  We try to discourage Gitter moving forward as it duplicates the primary purpose of GitHub Discussions, and with GitHub discussions, we can cross-link those chats to issues all in one platform.

[2022-02-08 18:16] jzabroski commented on #1556
@jcolebrand said on Gitter:

[2022-02-08 23:18] jcolebrand commented on #1556
@jzabroski Oh, whew, I thought I would be cluttering up Github Issues if I did that, and wasn't sure which way to go. Much happier to have that conversation here.

Do you have any thoughts on the above? Happy to read over any previous discussions, and/or submit a PR that sort of shows what I mean on the overall.

Cheers!

[2022-02-10 04:48] jcolebrand commented on #1556
Yeah, that's basically it. What I've done instead is also clunky, I'll share code here so you can see. I pulled the repo and think I've got most of what you guys are doing, which is why I think it could be managed to return something like what I'm looking for, but I get most consumers probably don't care either. Given how we utilize the framework, we run our migrations in parallel across all our t

[2022-02-10 04:51] jcolebrand commented on #1556
And I should also like to repeat @jzabroski that I get that adding code to support my specific use-case would be silly, so that's why I was curious if there had been a similar previous discussion so I could read up on it and understand prior development efforts. I could see it as useful even if there were unlikely to be many consumers in the future. Since C# just throws away uncaptured return obje

[2022-02-11 05:17] jcolebrand commented on #1556
Yeah, I'm definitely relying on the logger ids to capture what I want. Just can't let it go straight to console or whatnot, and maybe I missed how I should be implementing or utilizing FluentMigratorLogger on rereading this. Is it supposed to be inherited and captured from @fubar-coder ?

[2022-02-11 15:26] jzabroski commented on #1560
It looks like you are using Profiles, when you probably mean to use Tags.

I'm not sure why it would run the Blue Profile, but it is unusual to see someone apply a ProfileAttribute when a MigrationAttribute is also applied.  At the very least, that is not something I have ever done, and I don't think it makes a ton of sense.

Also, I recommend checking out MaintenanceMigrations instead of Profiles

[2022-02-11 15:35] #1560 closed, assigned to nobody

[2022-02-11 15:51] jzabroski commented on #1556
@jcolebrand I think what you are describing is logging "activities" rather than "events".  Time interval statistics are a property of an activity.  An event is a point in time.  That's why I referenced Its.Log as an example of a better way to do announcements.  Sometimes, announcements are about activities rather than events.

The way Its.Log (and even Serilog, honestly) work is you forward log da

[2022-02-14 11:00] henebb opened #1565 "Getting error "The certificate chain was issued by an authority that is not trusted""
Not sure where to put this, but not really a bug. But perhaps something worth clearifying somewhere? If not already clarified? I tried to look, but couldn't find anything. I might have searched poorly, and then you can just delete this question :)

But, since the release of v3.3.2 of FluentMigrator (where System.Data.SqlClient was replaced with Microsoft.Data.SqlClient) we started getting exceptio

[2022-02-14 21:23] henebb commented on #1565
Created a PR for this: https://github.com/fluentmigrator/documentation/pull/53 Not sure how to link to that PR in a more appropriate way 😄

[2022-02-15 18:01] jcolebrand commented on #1556
Then I may have dismissed the Its.Log too soon for not understanding the full implication of what it can offer, I will go back and investigate it further @jzabroski

We are running these in parallel using TPL and PLINQ per target environment, so they are needed in aggregate per environment, so we can do reporting per as needed.

O(1) validate inputs -> O(1) do some pre-work re: library locations,

[2022-02-15 19:26] jzabroski commented on #1556
I think I understand what you are getting at.

I had some machinations of a powerful way to mock and test migrations, whereby you could seed a MigrationContext with a database state that is basically an ASN.1 dictionary of object paths.  For example, you can think of the output of `SELECT * FROM INFORMATION_SCHEMA.COLUMNS` ANSI SQL compatibility view as a series of ASN.1 paths to an object, where

[2022-02-16 00:36] jcolebrand commented on #1556
Oh, yeah, no, I wouldn't be doing something like _that_ for logging checking. I see where you're going with that now re: activities, which isn't quite what I'm looking for. I just want to know basically when migrations finish and against what metadata did they finish. Those activity graphs on the ASN.1 would be intense, and more than I suspect most of what would be useful to me for my goals.

It's

[2022-02-18 20:55] CoskunSunali commented on #978
@jzabroski Actually plug-ins have their separate DB contexts. Since I can control when someone adds/injects/exposes a new DB context, I am adding a new set of migration runners per that DB context on the fly. Each DB context then has a custom `VersionLoader`.

[code]

All code above has its other accompanying parts. For example:

[code]

[code]

`MigrationSource<T>` is able to find migrations that

[2022-02-23 06:47] sakopov opened #1568 "Remove sensitive information in SQL logs"
**Describe the question**
Is it possible to remove sensitive information from SQL being logged out by FluentMigrator runner? I run migrations via Github actions and the logs end up containing a lot of secrets that are passed to the migration runner and eventually to the SQL being executed.

[code]

Here's my migrator setup. Note, at the very least I'd like to turn off SQL in the logs entirely, whi

[2022-02-23 08:57] #1568 closed

[2022-02-23 20:02] hakancunier opened #1569 "How to create partitioned table?"
Is there a way to create a table with partitions in postgresql. I mean;

CREATE TABLE customers (id INTEGER, status TEXT, arr NUMERIC) **PARTITION BY LIST(status);**

[2022-02-24 03:57] jzabroski commented on #1569
This is a duplicate of #967 which is not yet supported.

[2022-02-24 03:57] #1569 closed

[2022-03-02 08:52] icetech233 opened #1570 "fluentmigrator sqlite BUG ArgumentException"
sqlite

bool a  = this.Schema.Table("plu").Column("price_his").Exists();

System.ArgumentException:“Type of value has a mismatch with column typeCouldn't store <0> in dflt_value Column.  Expected type is Byte[].”

[2022-03-05 11:05] icetech233 commented on #1570
i find fluentmigrator  bug and  fix  it

[2022-03-07 19:06] vasundhara-b commented on #1061
any release pipeline steps to release to sql server?

[2022-03-07 19:52] jzabroski commented on #1061
@vasundhara-b I don't think your question belongs in this thread.  At any rate, 9 words is not a feature request.  Please open a new issue and follow the issue template describing what problem you're trying to solve.

[2022-03-08 09:55] vasundhara-b commented on #1061
ok thank you

[2022-03-13 14:45] azerios opened #1573 "Issue with AzureDevops during Test task"
**Describe the bug**
I'm using migrations inside my application, using CQRS architecture I wrote some tests about queries and commands.
Once the Test task is enable in the AzureDevops pipeline, for each tests linked to queries; all migrations are re-run so my task is always in timeout

**To Reproduce**
Create an empty project with 3 migrations, one to create users table, one migration to populate

[2022-03-21 19:27] fwhenin commented on #1544
Are there any updates to supporting .NET 6?

[2022-03-21 21:36] jzabroski commented on #1544
I'm making progress but only have so many free hours.

[2022-04-05 15:54] braveyp opened #1574 "FluentMigrator.Console and FluentMigrator.DotNet.Cli cannot apply migrations to MariaDB 10.6+"
**Describe the bug**
FluentMigrator.Console gives a cryptic error if you try to apply any migrations to a MariaDB 10.6 or later database:

!!! The given key was not present in the dictionary.

FluentMigrator.DotNet.Cli gives a slightly different error:

Unhandled exception. System.Collections.Generic.KeyNotFoundException: The given key '28265' was not present in the dictionary.

**To Reproduce**

[2022-04-05 16:35] braveyp opened #1575 "Specifying a utf8mb4 collation on mariadb 10.6 or later fails"
**Describe the bug**

Creating any string column with a utf8mb4 collation fails with an error message even when both server and client are set to use the utf8mb4 character set in my.ini

COLLATION 'utf8mb4_unicode_ci' is not valid for CHARACTER SET 'utf8mb3'

**To Reproduce**

Due to dependency issues you can only reproduce this in an in-process runner that has used assembly bindings to update to

[2022-04-09 10:49] mattbrailsford opened #1578 "Implement missing SQLite features"
Whilst looking through the SQLlite processor it appears that many of the features are just throwing compatibility notifications and whilst many of these features aren't implemented directly, some of them at least can be achieved by creating a temporary table with the new changes, copying the data over and then removing the old table

![SQLite-ALTER-TABLE-Steps](https://user-images.githubuserconten

[2022-04-14 17:05] jzabroski commented on #1578
Syntactic parsing and semantic binding of database dictionary items is tricky.  Every engine handles it differently.  I had brainstormed some ideas to make this work smoothly awhile ago, but never wrote about it publicly (I didn't want others stealing the ideas and using it in competing projects without credit, since that has happened in the past and been discouraging).

The general idea is to be

[2022-04-15 18:52] #1456 closed

[2022-04-15 18:53] jzabroski commented on #812
@mattbrailsford Any chance you can tackle this too?   I think this is and #1492 are the last two that would be nice to have before shipping 4.0

[2022-04-15 20:15] mattbrailsford commented on #812
Sure. I’m gonna look through it all as there is a lot that appears to be missing. I’ll see what I can fill in 👍🏻

[2022-04-16 14:52] mattbrailsford commented on #1492
I'm implementing a fix for this here https://github.com/fluentmigrator/fluentmigrator/pull/1585 but just to point out, what you are asking for is already supported if you go via the `Create.Index` API (which is effectively what you are doing in you workaround).

In my PR I'm just converting "UNIQUE" constraint requests into "UNIQUE" index requests instead (and same for DROPs)

[2022-04-16 16:12] mattbrailsford commented on #1570
Can close this issue as was resolved in #1580

[2022-04-16 16:14] mattbrailsford commented on #1389
This can be closed as was resolved in https://github.com/fluentmigrator/fluentmigrator/pull/1580

[2022-04-16 16:19] mattbrailsford commented on #1309
I think this was resolved in #1580 but it's hard to confirm as the images linked to are gone. @Sellec can you either re-attach the images or test the merged code from #1580 and see if this resolves your issue, otherwise I'd be tempted to mark this as closed and just allow it to be re-opened if it's not actually resolved.

[2022-04-16 16:32] mattbrailsford commented on #918
Confirmed as a bug. Whilst FK expressions can contain multiple columns to create the FK over, it appears there is currently no API methods that accept more than one column pair combination so it's not possible to create those multi-column FK's https://github.com/fluentmigrator/fluentmigrator/blob/master/src/FluentMigrator/Builders/Create/Table/CreateTableExpressionBuilder.cs#L185-L212

[2022-04-16 18:37] #1389 closed

[2022-04-16 19:51] #1492 closed

[2022-04-17 07:15] Sellec commented on #1309
1. time 0: mattbrailsford writes "can you reattach"
2. time +2hour: mattbrailsford closes issue.
3. time +6hour: Sellec comes home and see this comment.
4. profit: issue closed, nothing to do.
problem is not solved. https://c2n.me/4frO0jO

[2022-04-17 07:29] mattbrailsford commented on #1309
@Sellec can you provide the exact code you are running that calls that method? / your migration that is erroring? You are saying there is a problem but I don’t see it in the screenshot.

PS closed issues are not a final state. They can be re-opened if more info comes to light. In this case it’s “we think it’s solved, but happy to re-open if not”.

[2022-04-17 14:15] Sellec commented on #1309
it needs to create new sample project, i would do it tomorrow. My current running code is part of one big private project.

[2022-04-17 14:25] mattbrailsford commented on #1309
@Sellec that’d be a huge help. Thanks 👍🏻

[2022-04-17 17:41] jzabroski commented on #1309
@sellec sorry, but when someone provides a PR and claims it is fixed, I try to trust them. I don't have time to verify every issue is closed and as Matt pointed out, the original issue lost some details to The Pastebin Lost and Found. 😀

[2022-04-17 19:14] Sellec commented on #1309
[Sample project](https://drive.google.com/file/d/1iuTRUIhvH5NGCUdL4Fc5O8ug6eFK_QEK/view?usp=sharing)
Error throws in

when executing check

Please dont ask me why i need to check table columns twice.

[2022-04-17 19:17] jzabroski commented on #1575
Can you show me how this should work with just the Mysql driver? Like a hello world program.

[code]

[code]

[2022-04-17 19:22] #1574 closed

[2022-04-17 19:23] jzabroski commented on #1574
Will publish 4.0 soonish. No exact ETA. @mattbrailsford is helping modernize our Sqlite stack.

[2022-04-17 19:44] mattbrailsford commented on #1309
Thanks @Sellec I’ll check the example you’ve provided tomorrow 👍🏻

From you highlighted code snippets though I think you might not be testing against the updated source (it’s not actually been released yet so would require you to build from source yourself) that I mentioned as there is nowhere now in the SQLite providers codebase which attempts to read everything into memory from the table_info ta

[2022-04-18 08:50] mattbrailsford commented on #1309
Ok thanks @Sellec for the example code it does indeed look like it wasn't running against the updated code. I've tested that same project code with a locally built version of FM with the #1580 PR fix in and it is indeed resolved.

@jzabroski I think it's safe to reclose this issue with the fix being in the upcoming 4.0.0 release 👍

[2022-04-18 08:59] mattbrailsford commented on #1578
In working on the PR https://github.com/fluentmigrator/fluentmigrator/pull/1585 I did attempt to look at this briefly, but I think the trickiest thing here is that realistically it's just gonna be error prone having any generic solution as the whole duplicating a table is fine in simple examples but as soon as you bring views, triggers, constraints into the mix, it becomes a chain reaction of nece

[2022-04-18 12:53] #1309 closed

[2022-04-18 13:10] jzabroski commented on #1578
This is great research. What should I prioritize giving feedback to you on first?

I'm thinking of releasing a 4.0.0-beta.1 release to let people bang on the changes, once we square away some of these open threads. Thoughts?

[2022-04-20 14:51] #812 closed

[2022-04-22 12:51] PeterBenko commented on #1490
Do the regrets have something to do with [this issue](https://github.com/dotnet/SqlClient/issues/727) or are they unrelated?

[2022-04-22 13:03] jzabroski commented on #1490
Interesting. @mattbrailsford I wonder if the SNI issue with SQLite is related to this issue?

@PeterBenko Matt had to manually include the SQLite native interface package in his recent PR.

[2022-04-22 15:38] jzabroski commented on #1490
@PeterBenko  I think I found the root cause, which wasn't really articulated in that issue you linked, but hinted at:

It looks like this document explains it: https://docs.microsoft.com/en-us/sql/connect/ado-net/sqlclient-troubleshooting-guide?view=sql-server-ver15

Our tests run on net461:

https://github.com/fluentmigrator/fluentmigrator/blob/master/test/FluentMigrator.Tests/FluentMigrator.Test

[2022-04-22 15:43] jzabroski commented on #909
@fubar-coder pushing this out a bit.  I think it should be easy to implement, just a matter of prioritization.

[2022-04-22 15:45] jzabroski commented on #1525
@lillo42 Is this something you're interested in adding?

[2022-04-22 15:50] jzabroski commented on #1575
@braveyp It sounds like MySQL 8 introduced utf8mb4 as the default character set.  Thus, can you reproduce this issue on a local machine running a docker MySQL 8 db?

Example article I found: https://www.codeproject.com/Articles/5328564/Easily-Convert-All-MySQL-Databases-Tables-To-utf8m

[2022-04-22 15:54] jzabroski commented on #1575
Agree.

Actually, I think you are trying to solve an x-y problem.  I am not 100% positive, but it sounds like the codeproject article I linked above tells you what the trivial solution is for MySQL 8 - convert every table to utf8mb4 first, then run additional migrations.

You can use Execute.WithConnection to run the sample codeproject code and convert your database.  You may need to coordinate wi

[2022-04-22 15:57] jzabroski commented on #1573
@azerios I think this is a misconception about your overall Ci/CD process.  I don't want to engage in a thread where I'm giving out consulting advice, but you should look into global set-up/teardown in your test framework.

If you're using xunit.net, see https://xunit.net/docs/shared-context

[2022-04-22 16:08] jzabroski commented on #1545
@maxkornev I see that what you're saying is the method `SqlServer2005GeneratorTests.CanAlterColumnWithCollation` should also apply to the Postgres generator:

https://github.com/fluentmigrator/fluentmigrator/blob/9c87d698b161b3a1bb596a5624c02891a64459c5/test/FluentMigrator.Tests/Unit/Generators/SqlServer2005/SqlServer2005GeneratorTests.cs#L387-L395

but the logic should be:

[code]

I'm not sure w

[2022-04-25 17:42] guppylein opened #1589 "migration with execute sql with multiple commit-statements and multipleActiveResultSets set to true throws mars error on .net core"
**Describe the bug**
I'm just moving from a Full .NET-project to .netcore. Running a migration with connection string _MultipleActiveResultSets=true_ with the following Sql throws MARS-error.
I updated from FluentMigrator 1.6.2 to 3.1.3. Running the same migration in Full .NET framework and Version 1.6.2 does not throw an error.

[code]

**Exception**
[code]

**To Reproduce**
Create a simple table

[2022-04-28 05:44] lillo42 commented on #1525
@ig-sinicyn I think postgres doesn't have this functions, so you need to do this manually with filter:

[code]

@jzabroski what do you think? since Postgres doesn't have `NULL DISTINCT` should we add it and handle multi-column manually and filter? (I think this can be a bit complicated, specially when we are going to multi-column as null or null distinct and some filter)

[2022-04-28 14:51] spiana opened #1590 "Mysql exception using SystemMethods.NewGuid"
**Describe the bug**
Mysql  exception using SystemMethods.NewGuid

**To Reproduce**
create a table with a column of type varchar using default SystemMethods.NewGuid
            Create
                .Table("test")
                .WithColumn("Id").AsInt32().PrimaryKey().Identity()
                .WithColumn("code").AsString(50).NotNullable()
                .WithColumn("uuid").AsString(50).WithD

[2022-04-29 15:59] dorlandode opened #1591 "Issue with Maintenance Migrations (BeforeAll and AfterAll)"
**Describe the question**
I am having issues getting the Maintenance migrations to run.  I trying to run the BeforeAll and AfterAll MigrationStages, but they will not execute.
I have several migrations that run successfully, but the BeforeAll and AfterAll are not working as I would expect.

Example code:
[code]

[code]

From the Startup.cs
[code]
webapi csproj file:
[code]

As a work-around I foun

[2022-04-29 17:57] #1107 closed

[2022-05-02 09:27] ig-sinicyn commented on #1525
@lillo42
Hi!

MS SQL does not have built-in option to manage null comparison, too. The NullsDistinct() / NullsNotDistinct() helpers [do something similar](https://github.com/fluentmigrator/fluentmigrator/blob/9c87d698b161b3a1bb596a5624c02891a64459c5/src/FluentMigrator.Runner.SqlServer/Generators/SqlServer/SqlServer2008Generator.cs#L98-L100) to what you've proposed.

[2022-05-02 16:21] jzabroski commented on #1591
I don't think there is enough information here to reproduce your issue, because it sounds like a configuration issue where you're using an in-process runner in a Website  hosting context.

That said, your maintenance migrations are empty - so how are you determining they aren't being run?

I'd recommend adding at least a Windows Event Pipe log message so you can verify. - Note, you are using Windo

[2022-05-02 16:54] jzabroski commented on #1590
I am not a MySQL expert, but it looks like MySQL changed the rules regarding allowing functions/expressions as default values in:

* MySQL 8.0.13 - See: https://dev.mysql.com/doc/refman/8.0/en/data-type-defaults.html#data-type-defaults-explicit
* MariaDB 10.2.1 - See: https://jira.mariadb.org/browse/MDEV-10134

That said, it looks like the MySql Generator is also spuriously adding a "SELECT" in fr

[2022-05-02 17:25] juanchavezlive commented on #1544
Any update about this issue ? :(

[2022-05-03 11:46] fubar-coder commented on #1590
@jzabroski Sorry, no idea

[2022-05-03 13:35] jzabroski commented on #1590
All good.  I was able to stand up MySQL to test.

The following works well:

[code]
as does
[code]

I think, based on my reading, that UUID() may be preferable by default, perhaps with an FAQ added in the docs for now for using the RawSql helper to use a more complex expression like `(BIN_TO_UUID(UUID_TO_BIN(uuid(),1),1))`

[2022-05-03 13:43] jzabroski commented on #1590
An additional point is that Microsoft T-SQL [`NEWID()`](https://docs.microsoft.com/en-us/sql/t-sql/functions/newid-transact-sql?view=sql-server-ver15#remarks) documentation notes:

In addition, [RFC4122 Section 4.1.1](https://datatracker.ietf.org/doc/html/rfc4122#section-4.1.1) notes:

Also, [RC4122 Section 4.1.3](https://datatracker.ietf.org/doc/html/rfc4122#section-4.1.3) describes the Version 1

[2022-05-03 13:57] jzabroski opened #1592 "Minimum .NET TFM must be net462 as of 4/26/2022"
**Describe the bug**
https://aka.ms/msbuild/developerpacks redirects to https://docs.microsoft.com/en-us/dotnet/framework/install/guide-for-developers and notes:

[2022-05-03 14:12] spiana commented on #1590
@jzabroski I am now testing using Mysql version 8.0.27 but I have encountered the same problem on version 5.7.

[2022-05-03 14:22] jzabroski commented on #1590
@spiana I don't think 5.7 supports it, period.  That said, `SELECT UUID()` is incorrect.  What's crazy is you are the first persion to report this in 4+ years and it's been broken the whole time 😆

I'll address #1156 issues as part of 4.0.0 as well. Hope to finalize release today or tomorrow.

[2022-05-03 14:23] jzabroski commented on #1590
@spiana Just wondering if you know otherwise as to whether 5.7 should support this.  I'm not a MySQL expert.  The MySQL docs are super longwinded, like reading a John Updike novel.

[2022-05-03 14:34] jzabroski commented on #1498
This is caused by our fluentmigrator/documentation/azure-pipelines.yml using ubuntu Linux environment, which does not support net461 TFM, and thus it cannot resolve reference libraries that are intended for Windows environment developers.

[2022-05-03 14:34] #1498 closed

[2022-05-03 14:39] #1592 closed

[2022-05-03 14:40] #1590 closed

[2022-05-03 14:44] jzabroski commented on #1589
I believe that's because you are using an older version of the .NET SQL Native Client , which allowed some pretty bad T-SQL apparently.  I'm shocked the SQL you pasted even works.  Closing this until you can give me a more robust repro.

However, here is your problem if you can't see it:
[code]

[2022-05-03 14:44] #1589 closed

[2022-05-03 14:45] jzabroski commented on #1575
@braveyp any update?

[2022-05-03 14:46] #1570 closed

[2022-05-03 14:48] jzabroski commented on #1545
@lillo42 Any interest in looking at this bug?

[2022-05-03 14:58] dorlandode commented on #1591
I emptied them out, for posting on here, but I set a break point, which was never hit in debug.  I was attempting to do an advisory lock.

[2022-05-03 15:03] #1550 closed

[2022-05-03 15:10] guppylein commented on #1589
@jzabroski Thanks for testing, the posted SQL was shortened, but the `COMMIT/BEGIN TRANSACTION`-part is really auto-generated by Microsoft SQL Server Management Studio, if you rename a column in the designer ;)

I'll will have a look at my referenced sql-packages, so maybe the problem lies there.

[2022-05-03 15:22] jzabroski commented on #1591
There is one other thing to check, which is that you are scanning the assembly that contains maintenance migrations.  The current Scanner syntax needs improvement. See #1231

[2022-05-03 23:46] jzabroski commented on #1387
An example of the code written to alter all `image`, `text` and `ntext` data types in a 500GB SQL Database is below.
It is an exercise to the reader to implement `EmbeddedResourceUtility.GetCsvData<T>`, but the idea is that it reads a CSV file saved as an embedded resource inside the FluentMigrator Migrations project assembly.
The general approach of going column by column, row by row, was the onl

[2022-05-04 00:00] jzabroski commented on #1525
@lillo42 This tutorial is probably the explanation you are looking for: https://www.enterprisedb.com/postgres-tutorials/postgresql-unique-constraint-null-allowing-only-one-null

[2022-05-04 00:01] jzabroski commented on #1525
@lillo42 See previous reply. I assigned it to you. Feel free to un-assign yourself if you're not that interested.

[2022-05-04 19:45] jzabroski commented on #1565
Thank you.  Merged it already.

[2022-05-04 19:45] #1565 closed

[2022-05-05 09:41] mattbrailsford commented on #1323
Submitted PR #1600 to resolve this

[2022-05-05 09:57] mattbrailsford commented on #1164
New PR at #1600

[2022-05-05 10:06] mattbrailsford commented on #1018
Is this still an issue?

[2022-05-05 10:08] mattbrailsford commented on #903
Submitted a fresh PR #1600 to resolve this

[2022-05-05 12:57] jzabroski commented on #1018
I think so.

[2022-05-05 14:56] jzabroski opened #1602 "Merge Snowflake processor/generator into master branch"
@mattbrailsford If interested.

This basically consists of looking at my spreadsheet

https://docs.google.com/spreadsheets/d/1dd8bD5pTznS85auIzTCCXF44Ol_gcjpdXJhr6cB6fDc/edit#gid=0

and rounding up all the commits that mention Snowflake, and getting them into master, and updating the nuget package for the snowflake .net "connector"

plus adding a ProcessorId for snowflake. and updating fluentmigra

[2022-05-05 14:58] jzabroski commented on #1113
@mattbrailsford Thoughts on this SQLite issue?

[2022-05-05 15:11] mattbrailsford commented on #1113
I'm not entirely sure, but guess would be this? https://www.sqlite.org/rescode.html

The SQLITE_TOOBIG error code indicates that a string or BLOB was too large. The default maximum length of a string or BLOB in SQLite is 1,000,000,000 bytes. This maximum length can be changed at compile-time using the [SQLITE_MAX_LENGTH](https://www.sqlite.org/limits.html#max_length) compile-time option, or at run

[2022-05-05 15:19] mattbrailsford commented on #1018
Could this be because the service provider is never disposed? If you take the example from here https://fluentmigrator.github.io/articles/quickstart.html?tabs=runner-in-process there is the `CreateServices` method that generates the service provider and then is used like so:

[code]

But shouldn't this be used in a using statement?

[code]

[2022-05-05 15:24] jzabroski commented on #1018
Possibly.  There was a user who put together a repro of the issue, including in a docker container, but I can't seem to find it.

[2022-05-05 15:25] #1061 closed

[2022-05-05 15:59] jzabroski commented on #1018
CreateServices should not instantiate any objects, only instantiate the "type universe" used to instantiate objects inside a scope.  In other words, when the service provider gets disposed of should not matter.

I think the call to CreateServices calls ConfigureRunner, which creates a concrete MigrationRunnerBuilder, which hangs on to a reference to the IServiceCollection.  Using RedGate Ants Memo

[2022-05-05 17:15] jzabroski commented on #1508
@MiroslavMikus I dont know what this request means.  I dont understand what migrating a json file means.  I would probably suggest looking into Simon Cropp's DiffEngine for snapshot testing.

[2022-05-05 17:15] #1508 closed, assigned to nobody

[2022-05-05 17:49] jzabroski commented on #1113
The particular problem here is we don't use the SQLite Blob API. @fubar-coder comment here: https://github.com/fluentmigrator/fluentmigrator/issues/1113#issuecomment-553342021

[2022-05-05 18:12] mattbrailsford commented on #1113
Not really sure what the “Blob API” is. I thought as long as their property was of type binary it should map to a SQLite blob? https://github.com/fluentmigrator/fluentmigrator/blob/master/src/FluentMigrator.Runner.SQLite/Generators/SQLite/SQLiteTypeMap.cs#L38

[2022-05-05 21:14] jzabroski commented on #1113
https://docs.microsoft.com/en-us/dotnet/standard/data/sqlite/blob-io

[2022-05-05 21:19] jzabroski commented on #1483
Microsoft.Data.SqlClient 4.0.0 fixes this, but introduces another error, where only setting Encrypt=false avoids.

https://github.com/dotnet/SqlClient/issues/1263#issuecomment-926157580

[2022-05-05 21:25] jzabroski commented on #1483
The crux of the problem is using net461 (or legacy .NET Framework) with Mono _on Linux_.

[2022-05-06 14:36] jzabroski commented on #1483
@arhughes The maintainer of Microsoft.Data.SqlClient wrote back that Microsoft.Data.SqlClient netfx implementation relies on system calls unavailable on Linux.  He suggested if you need to use SQL Server on Linux, you use System.Data.SqlClient (I believe, but am not positive, that is what he meant by saying "use the correct platform implementation assembly").

I suppose the short-term fix here wou

[2022-05-09 01:57] #1525 closed

[2022-05-23 15:32] GKannan1990 commented on #812
Hi Team,

Try to execute Delete.Column("Col2").FromTable("TableName"); on the latest version of sqlite. But column still there after migration. Could you please let me know, delete column will support by fluentmigrant 3.3.2

[2022-05-23 15:34] jzabroski commented on #812
This issue is tagged with a 4.0.0 milestone.

[2022-05-23 15:35] GKannan1990 commented on #812
Thank you Team... Could you please suggest any workaround....

[2022-05-23 15:46] fairking commented on #812
You can simply execute the following plain sql:
[code]

[2022-05-23 15:53] GKannan1990 commented on #812
Tried Execute.Sql("alter table Table1 drop column Col2"); but getting below issue.
!!! SQLite Error 1: 'near "DROP": syntax error'.
While Processing:
"ALTER TABLE Table1  DROP COLUMN Col2"

[2022-05-23 15:58] jzabroski commented on #812
DROP requires SQLite 3.35.0.

[2022-05-23 16:19] GKannan1990 commented on #812
Currently we are using SQlite 1.0.115.5. But still getting below issue
!! SQLite Error 1: 'near "DROP": syntax error'.
While Processing:
"ALTER TABLE Table1 DROP COLUMN Col2"

[2022-05-23 16:48] jzabroski commented on #812
@GKannan1990 You don't understand what you are doing. Ask someone you work with who is senior for help. You are wasting our time and will likely make a big mistake until someone explains to you what the task is and how to proceed.

[2022-05-25 08:28] fairking opened #1604 "Is sqlite auto increment supported?"
**Describe the question**
Is sqlite auto increment supported?
As far as I understand it is not. I tried the following code be it seems not working:
[code]

**Documentation Pages You've Read So Far**
https://fluentmigrator.github.io/articles/extensions/sql-server-extensions.html

**Expected benefit**
To apply autoincrement primary keys to sqlite db.

**Information (please complete the following inf

[2022-05-25 17:48] mridah commented on #815
The link above doesn't work anymore. Does anyone has the code?

[2022-06-01 15:38] jzabroski commented on #908
@JonasJes the solution is to use Microsoft DI and wire up the SQLiteProcessor.  DI becomes your factory.  DI allows lambdas/delegates to be specified so in that case you can wire it up however you like.

https://github.com/fluentmigrator/fluentmigrator/blob/c4babcfed93e4c490d7a12d21be27e8c378937f4/src/FluentMigrator.Runner.SQLite/Processors/SQLite/SQLiteProcessor.cs#L67

The one gotcha with wiring

[2022-06-02 01:48] rbakhshi commented on #908
@JonasJes Here is what I did:

Below is the configuration for fluentmigrator:

[code]

I had to see how fluent migrator is doing it and add the exact set of services that it needs to function and then change those that I needed, like, `IMigrationProcessor` and `SqliteProcessor`.

For `IMigrationProcessor` I extended the `GenricProcessorBase` and copied the implementation of `SqliteProcessor` into

[2022-06-06 08:28] Sellec commented on #1309
Hi. Is there any way to get this fix for 3.x versions?

[2022-06-06 12:17] jzabroski commented on #1309
No, but 4.0 is coming very soon.

[2022-06-06 14:13] ModernRonin opened #1607 "Maintenance migrations doesn't get executed when registering migrations via .ScanIn(typeof(Program).Assembly).For.Migrations()"
**Describe the bug**

Maintenance migrations don't seem to be executed.

**To Reproduce**
I have a maintenance migration defined as

[code]
Note that I throw an exception in `Up()`.

When I run the migrations in a unit-test, they all run through just fine and *I never hit the exception*.
In fact, all the structure described in my migrations is created happily.

So I am under the impression this sp

[2022-06-06 18:44] jzabroski commented on #1607
If you're using the in-process runner, are you setting up the scan call for the maintenance migrations.  Maintenance migrations are currently not assumed to be in the same assembly as your regulation migrations.

Related, we would love a PR for #1231

[2022-06-06 18:50] ModernRonin commented on #1607
Regarding the first question, I use the following extension method:
[code]

The second assembly passed (typeofCleanup) is the one containing the maintenance migrations. Or am I doing something wrong here?

Regarding the second question, all projects reference the same version (we use [paket](https://fsprojects.github.io/Paket/index.html) which enforces this for all nugets).

[2022-06-06 19:04] jzabroski commented on #1062
Possible duplicate #1607

[2022-06-06 19:11] jzabroski commented on #1607
See: https://github.com/fluentmigrator/fluentmigrator/issues/1062#issuecomment-616598419 - I think this is actually the heart of it.

Nobody ever did a PR to fix this/smooth it over, but we did get to the bottom of it / provide workarounds.

[2022-06-07 14:46] jzabroski commented on #1309
4.0 plan to ship this week.

[2022-06-13 13:16] vadzimdv commented on #815
https://github.com/serenity-is/Serene/blob/master/Serene/Serene.Web/Initialization/DataMigrations.cs

[2022-06-13 13:16] vadzimdv commented on #815
https://github.com/serenity-is/Serene/blob/master/Serene/Serene.Web/Initialization/DataMigrations.cs

[2022-06-14 13:50] jseekamp commented on #1544
I would love to help out with this, but I want to make sure my efforts would be in the correct place. Is https://github.com/fluentmigrator/fluentmigrator/pull/1451 where the work is being done?

[2022-06-14 16:10] jzabroski commented on #1544
Hi @jseekamp
I had prototyped something for .NET 3.1 awhile ago - see #1178 - I got sick with long covid and never finished it up. Doing better now but lost a lot of life time healing up.

[2022-06-15 22:23] jseekamp commented on #1544
@jzabroski Really sorry to hear that. Hope you fully recover soon. Would it make more sense to drop #1178 in favor of #1451 and jump directly to .net 6?

[2022-06-17 18:15] GKannan1990 opened #1612 "Dependent dlls for Migrator.exe?"
Hi Team,

I'm using Fluent Migrator Console 3.3.2 in my.Net application. 

To migrate up or down the database, Migrate.exe needs to be executed by passing the assembly file from the command line. And by default, the Migrate.exe file resides in the /packages/FluentMigrator.Console.3.3.2/net461/any folder.

I want to bundle this Migrator.exe with my setup. I removed other database dlls. However, I a

[2022-06-17 21:31] jzabroski commented on #1612
Use FluentMigrator.DotNet.Cli and install it as a .NET local tool

[2022-06-30 10:08] Alksar opened #1614 "How to get raw sql for migrations"
Hi, thanks for the project.

How to properly get raw sql for migrations in fluent style?

[2022-07-03 09:37] rvdginste opened #1616 "Can the Postgres 10 & 11 processor be made public?"
In my projects, I inherit from the sql processor and sql generator classes, so that I can extend the functionality of the sql generator based on the "AdditionalFeatures" of an expression. I use this currently to make it really easy to automatically populate some fields (auditing, primary key using hi-lo-generator) when doing inserts using FluentMigrator.

My current project uses Postgres 13 and so

[2022-07-10 17:06] shailesh1984 opened #1617 "How to run multiple database migration from console application(.net core)?"
Hi Team,

Requirement :
I have 3 database and 3 new class library and 1 console application.
Executing console application with these 3 migration DB's(class library).

DB : SQL Server 2018
Application : .NET Core
FluentMigration Version : 3.3.2

Please kindly help me and provide some migration code steps.

Thanks,
Shailesh M

[2022-07-14 09:13] ModernRonin commented on #1607
Sorry, it took me a while to try this out, swamped with other stuff.

Removing WithMigrationsIn() does not change any behavior - so, you're right it's unnecessary, however, I still don't hit the exception.

The workaround works fine, though :-)

Thank you, not just for the help, but generally for this awesome library!

[2022-07-15 19:40] jzabroski commented on #1617
Hi @shailesh1984

I don't really understand this request.  Are you asking how to pass in multiple assemblies to the FluentMigrator.DotNet.Cli tool?

[2022-07-15 19:45] jzabroski commented on #1062
I added a comment and updated the sample to help avoid this booby trap until we have time to do a proper fix. https://github.com/fluentmigrator/fluentmigrator/commit/d0c4c362138bd4bb60cdc0d317236bcf2d54ded5

[2022-07-15 19:48] jzabroski commented on #1616
@rvdginste So, the fundamental reason these were likely private is either "by accident" or to avoid people depending on breaking changes across Postgres.  We will make it public for 4.0 which I will be releasing very soon.

[2022-07-19 09:41] dittodhole opened #1618 "Add STRICT Tables for SQLite"
With SQLite 3.37.0 the [type affinity](https://www.sqlite.org/datatype3.html) of SQLite got enhanced by [STRICT Tables](https://www.sqlite.org/stricttables.html).

Any chance to opt-in?

[2022-07-19 09:44] dittodhole opened #1619 "Add WITHOUT ROWID for SQLite"
With SQLite 3.8.2 [WITHOUT ROWID](https://www.sqlite.org/withoutrowid.html) got introduced.

Any chance to opt-in?

[2022-07-19 15:47] jzabroski commented on #903
Resolved via @mattbrailsford PR #1600

[2022-07-19 15:47] #903 closed

[2022-07-24 02:24] crimcol commented on #1544
Stuck on same issue. I want to use Migrate.exe instead of dotnet-fm to support both .net framework and .net 6.

[2022-07-25 14:35] jseekamp commented on #1544
My issue is that I can't run migrate at all since I'm on a Macbook Pro M1. .net 5 doesn't support ARM based CPUs.

[2022-07-25 15:08] jzabroski commented on #1544
@jseekamp Initially, your comment reads as off-topic. Did you mean to additionally say, ".NET 6 support resolves this problem, because [.NET 6 is the first release that supports ARM-based CPUs](https://devblogs.microsoft.com/dotnet/announcing-net-6/)"?

[2022-07-25 15:09] jzabroski commented on #1544
I'm actually very close to shipping .NET 6 support.  I got Covid (again) 3 weeks ago, so it delayed things a bit again.

[2022-07-25 15:14] jake-carpenter commented on #1544
@jseekamp You can get .NET 5 installed using Rosetta, but it will be a separate binary and (I believe, correct me if I'm wrong) it has to be run from a terminal that is also using Rosetta.

I have the same issue, but don't use the .NET 5 binary because I'm in a situation where I need cross-platform support and have reverted to building my migration projects as an EXE in the meantime.

Very sorry t

[2022-07-29 12:38] fairking opened #1621 "Db connection remains open after the migration"
**Describe the bug**
When the runner migrates the sqlite database, the database remains open. After I migrate the database I would like to move the database to different directory. But I got an error "The process cannot access the file 'c:\temp\testdb.db' because it is being used by another process.". So looks like the database keeps opened after the migration run.

**To Reproduce**
[code]

**Expe

[2022-07-29 12:41] fairking commented on #1621
Tried scope but it didn't help:
[code]

[2022-07-29 12:53] fairking commented on #1621
Also tried this but again it is not working. Looks like there are more connections are being opened than one:
[code]

[2022-07-29 16:01] pmarflee opened #1622 "Maintenance Migrations without tags aren't executed by the .NET Framework Console Runner when the -tag option is set"
**Describe the bug**
I have a number of maintenance migrations in my project. These migrations do not have tags specified against them. The .NET Framework Console Runner does not execute these migrations when the _-tag_ option is set.

**To Reproduce**
1. Get a copy of the following Github repo: (https://github.com/pmarflee/MaintenanceMigration)
2. Create a new Service-based database named **Migra

[2022-08-02 13:30] jbrierley opened #1623 "AnnouncerFluentMigratorLogger FluentMigrator v2 Porting to v3 Help Request"
I have an implementation in v2 that I am upgrading to the latest v3.x and now have several obsolete entries giving me problems. I used an announcer to forward the logging to an even which I control the logging.

the rough code I am using is this:
                    var announcer = new TextWriterAnnouncer(message => Log(logs, message));
                    var processorFactory = new SqlServerProce

[2022-08-02 15:29] pmarflee commented on #1622
After reading through the source code, I see that there is a `--include-untagged:` switch that allows untagged migrations and/or maintenance migrations to be run when tags are provided. Once I added this switch to my PS build script, my untagged migrations were executed regardless of whether any tag values were provided to the runner.

It would be a good idea to add details of this switch to the o

[2022-08-02 22:14] jzabroski commented on #1622
@pmarflee Sorry that you wasted time on this.

The documentation repo is at github.com/fluentmigrator/documentation - PRs welcome to fix this.

[2022-08-03 13:31] MangelMaxime commented on #1152
Hello,

having the `NULL` or `NOT NULL` always generated can generates invalid SQL queries.

For example, this query is invalid:

[code]

Error:

[code]

If I remove the `NOT NULL` instruction on line `[IsValid]` then the SQL becomes valid.

I tried using `SET ANSI_NULL_DFLT_ON` but it didn't seems to work for me. I am using SQL Edge server.

[2022-08-03 15:44] jzabroski commented on #1623
@jbrierley Here is the 2.0 to 3.0 upgrade guide, bookmarked to the spot where we cover announcers: https://fluentmigrator.github.io/articles/guides/upgrades/guide-2.0-to-3.0.html#iannouncer

  I will close this issue for now.  If you find there is something specifically missing in this guide, please open a new issue to address either (1) missing docs (2) possible missing features.

[2022-08-03 15:44] #1623 closed

[2022-08-03 16:35] jzabroski commented on #1152
@MangelMaxime Hello, I honestly wasn't aware of Azure SQL Edge.

The correct workaround is discussed here: https://github.com/fluentmigrator/fluentmigrator/issues/1152#issuecomment-575708512

I actually ran into this myself yesterday. I should probably smooth this feature out soon, as it is a bit annoying.

[2022-08-03 18:32] MangelMaxime commented on #1152
@jzabroski I didn't try the code you linked because I thought it would still add the `NULL` or `NOT NULL`.

Thanks for the tips

[2022-08-03 19:09] jzabroski commented on #1152
Nope, it works, although I did fix a typo 3 hours ago in the code where I had a missing ( ) in the interpolated format string. - I think I wrote that example from my phone many years ago w/o compiling.

[2022-08-11 14:09] jzabroski commented on #1614
Hi @Alksar ,

If you want to insert custom raw sql into an expression, you can use `Raw.Sql(string)` signature.  This is used for escaping data within insert, update and delete expressions.

If you want to get the raw sql generated for a migration, then we call that a _script_.  There is a command line option to generate a script via Preview Mode.

If you want something else, please explain like @

[2022-08-11 14:23] jzabroski commented on #1622
Fixed doc

[2022-08-11 14:23] #1622 closed

[2022-08-11 15:42] DevelopmentLeadRR commented on #1440
Hi @jzabroski & @DarrenWainwright,

I've just encountered exactly the same problem. Is there any update, or have you ever managed to make it work?

[2022-09-01 17:37] jseekamp commented on #1544
Yes, sorry this exactly what I meant to say.

[2022-09-05 12:52] guppylein opened #1626 "Different behavior with german umlauts between Execute.Sql and Execute.EmbeddedScript"
**Describe the question**
I'm having some issue with encoding when executing INSERT-Statement with e.g. german umlauts through Execute.EmbeddedScript. Executing same SQL with Execute.Sql(@"..."); works:

[code]
The name-column is defined as NVARCHAR, which should support special chars.

The insert statement:
[code]

Executing via EmbeddedScript:
[code]

produces `Wei�`

Executing same SQL via Exec

[2022-09-08 10:14] #1626 closed

[2022-09-09 11:22] adri360 commented on #1166
Hi,
I know that it's an old thread. But, I've been searching a lot, but I haven't found any concrete examples with Castle Windsor or any other DI library.
Is it compatible?

[2022-09-09 11:22] adri360 commented on #1166
Hola,
se que es un hilo viejo. Pero, he estado buscando mucho, pero no he encontrado ningún ejemplo concreto con Castle Windsor o cualquier otra biblioteca DI.
¿Es compatible?

[2022-09-09 11:39] adri360 commented on #1166
Hello,
I know this is an old thread. But, I've been searching a lot, but I haven't found any concrete example with Castle Windsor or any other DI library.
Is it compatible?

[2022-09-09 11:40] adri360 commented on #1166
Hi,
I know this is an old thread. But, I've been searching a lot, but I haven't found any concrete example with Castle Windsor or any other DI library.
Is it compatible?

[2022-09-16 09:36] Mulik commented on #1621
Hi. I have the same issue. Any luck with fix or workaround?

[2022-09-27 21:57] Andrioden commented on #1544
Any news on this? @jzabroski , would be great to get rid of .net 5 workaround that we have to place in our dockerfiles and build scripts in .net 6 projects.

[2022-10-11 07:06] michasacuer commented on #1379
Any updates?

[2022-10-19 13:33] guangzhengli commented on #982
Same Issue with Postgres for me.  I think most projects only need one database runner dependency.

[2022-10-19 17:26] jzabroski commented on #982
We're releasing a version that contains one runner dependency.

[2022-10-19 17:26] #982 closed

[2022-11-04 15:09] NatMarchand commented on #1544
Hi there!
Although it'd be great to have net6 supported, you can totally run dotnet-fm having just net6. The key is to allow roll forward for dotnet with an environment variable (DOTNET_ROLL_FORWARD).

[code]

[2022-11-07 09:53] stilettk commented on #126
The pull request have been reverted and this problem is still there. Is there any solution or workaround is still needed?

[2022-11-18 10:57] suatsuphi opened #1637 "LiteDB support"
Hi,

Could you add litedatabase support ? https://www.litedb.org/

[2022-11-18 18:11] jzabroski commented on #1637
You can always just use the regular ODBC support and generic driver to talk to litedb.   This is also the same way you could add Trino support, for example: https://trino.io/docs/current/language/sql-support.html

I personally don't plan to add support for it, but you could also submit a PR to make it happen.

[2022-11-19 14:58] fubar-coder commented on #1637
LiteDB is a NoSQL database and FluentMigrator doesn't support those (yet).

[2022-11-19 16:54] jzabroski commented on #1637
@fubar-coder You are right. It supports SQL but not through the System.Data API, so the generic processor / generator isn't useful. Confirmed via reading https://github.com/mbdavid/LiteDB/blob/master/LiteDB/Client/Database/LiteRepository.cs

It is still PLAUSIBLY possible to basically use LITEDB with FluentMigrator, but they would have to use some connectionless mode, generate a script, and the Li

[2022-11-29 22:03] Anhil-111 opened #1638 "The DI example does not call Dispose() on ServiceProvider"
**Describe the bug**
The DI example from your documentation does not call `Dispose()` on `ServiceProvider` even though it implements `IDisposable`.

Not calling `Dispose()` on the `ServiceProvider` means it won't be called on registered singletons. I experienced issues in the past where Ctrl+C wouldn't terminate the process because of this.

**To Reproduce**
Pretty much follow the steps outlined h