[2020-05-09 10:40] pergardebrink commented on #1242
I have a related question on this. I have some migrations I generate from our legacy sql files and run them with Execute.Sql() and the output becomes cluttered with all SQL statements.

As I can see, the issue is that ExecuteSqlStatementExpression overrides ToString() that concatenates the statement, which is then logged. https://github.com/fluentmigrator/fluentmigrator/blob/e82aafa20e6dbe3cefa221

[2020-05-10 11:01] benmccallum commented on #1184
Source of info for analyzer/codefixer testing [here](https://github.com/dotnet/roslyn-sdk/tree/master/src/Microsoft.CodeAnalysis.Testing).

[2020-05-10 11:39] benmccallum commented on #1184
[Source examples](https://github.com/microsoft/vs-threading/tree/master/src/Microsoft.VisualStudio.Threading.Analyzers.Tests) for verifier tests, since the documentation is still confusing as.

I'm currently trying to figure out how to add a reference to the FluentMigrator.Abstractions project, which I think is something covered in [here](https://github.com/microsoft/vs-threading/blob/master/src/M

[2020-05-13 21:42] KrisPetkov commented on #486
After 6 years and a half are there any plans for that? I bet that EF code is quite different now. This functionality will be quite handy for starting and rapidly developed projects which are using the Code First approach.

[2020-05-13 23:08] jzabroski commented on #486
@KrisPetkov  First, this is out of our hands.

Second, to step on a soap box for a moment:
I think that FluentMigrator supports a superset of all SQL database migrations, not just those using EF.  There are multiple migration frameworks in .NET, but FluentMigrator is one of the more actively maintained projects with the help of myself, @BigYellowHammer , @eloekset and @fubar-coder .

The main reas

[2020-05-14 01:10] jzabroski commented on #1242
@andrecarlucci First, Great to see you decided to join FluentMigrator as a community member.  I'm glad I reached out.  Sorry for the delays in responding - COVID-19 lockdown really slows down life with things like buying grocercies, etc.

Second, I think you bring a good point.  I have not had any GDPR requirements but this is definitely huge for GDPR customers.  And, on my project the last 3 year

[2020-05-15 15:01] KrisPetkov commented on #486
@jzabroski Thank you for the comprehensive answer!
I also think that FluentMigrator is a superior product.
And with my question I was targeting the source generators only (my mistake that I didn't specify it better) .

I'd be happy to help with the issues but first I have to finish with another two projects otherwise I will not be able to pay any attention to the issues.

[2020-05-15 15:28] jzabroski commented on #486
Can you please open a new issue and link your original comment in that new issue, so that you are the issue owner?  It will then let you navigate in GitHub to your global open Issues and let you track across all projects what you want to get done.

I feel you.  My biggest problem is I have endless ideas and can only type 60-70 wpm.

[2020-05-15 17:09] KrisPetkov opened #1248 "Adopt EF Core Code First approach to automatically generate migrations"
FluentMigrator is a great tool for managing database migrations and I think it can be enriched with the functionality that will allow people who are using the code first approach (e.g. PoC projects and rapidly developed projects with not yet completely specified database structure) to auto generate migrations from the domain entities/classes. This option is available in Entity Framework under the

[2020-05-19 14:43] anderslyman opened #1250 "Included column in a unique index added as part of the unique constraint instead"
**To Reproduce**
Use the following:
[code]

It creates the index like this:
[code]

**Expected behavior**
I would expect this to create an index with an included column, like so:
[code]

**Information (please complete the following information):**
 - OS: Windows 10
 - Platform .NET Standard 2.0
 - FluentMigrator version: 3.2.6
 - FluentMigrator runner: IMigrationRunner
 - Database Management Syste

[2020-05-19 14:48] anderslyman commented on #1250
Looking at this a little more - we have some tables where the index is created correctly, and others where it isn't (in the same database).

I'm trying to track down the difference between the tables...

[2020-05-19 15:24] anderslyman commented on #1250
Found the issue... This is our fault, and not a bug in FluentMigrator (although I may have a feature request now around being able to target file groups).
We have some custom code to move indices from the `Primary` file group to our `Index` file group, and apparently the drop/recreate involved in said moves is not considering "included" columns.

[2020-05-19 15:24] #1250 closed

[2020-05-19 19:31] jzabroski commented on #667
Duplicate of #967 - @barser  This is absolutely on the roadmap to try to add this year.

[2020-05-19 19:31] #667 closed

[2020-05-19 19:31] jzabroski commented on #1250
@anderslyman Note, one area for improvement is the fact that there are _**two ways for SQL Server engineers**_ to create unique constraints:

[code]
and, arguably the nicer way as follows (nicer as in it is easier for programmatic manipulation):

[code]

As far as file groups go, there was somebody who was interested in adding support for #967 (see also #667)

[2020-05-19 20:58] pergardebrink commented on #1242
@jzabroski, first of all wanted to express my thanks for all your efforts in this project! I understand that times as these are tough, and taking time to work on open source projects like this on your spare time should come second after managing life in these COVID-times!

I have just started testing fluent migrator and it seems to solve a lot of the issues I've had with the current migration tool

[2020-05-19 22:22] jzabroski commented on #1242
@pergardebrink Yeah, FluentMigrator is awesome and to think, when my current job insisted I use it, I was skeptical.  Now I love it.  It has bailed me out of some MAJOR jams that were impossible to solve before or would delay a project a full week to solve.

For example, converting all ntext fields in SQL Server db to nvarchar(max) is trickier than you would think due to needing to write an update

[2020-05-25 09:07] YeskaNova opened #1252 "Better Console logging"
Console.WriteLine is polluting the console and there is no way to disable it ( in my stress tests, it prints hundreds of time exceptions that are well handled in my user code ). It could be better if we move that to proper Microsoft.Extensions.Logging.Console .

ex: https://github.com/fluentmigrator/fluentmigrator/blob/24df4a710481182388a5dcd5306a6231b24146d8/src/FluentMigrator.Runner.SqlServer/Pr

[2020-05-25 14:46] pergardebrink opened #1254 "WriteError in FluentMigrator"
I was looking at the issue https://github.com/fluentmigrator/fluentmigrator/issues/1252 and tried to solve it by removing some of the Console.WriteLine statements (https://github.com/fluentmigrator/fluentmigrator/pull/1253).

However, it seems as when we log an error with an exception (using the LogError extension method from Microsoft.Extensions.Logging), the string message never reaches the logs

[2020-05-27 03:33] iceoz opened #1255 "DependecyInjection For Migrations"
I Make a custom nuget to use in all my projects, inside there is some migrations and works like a charm, but then i tried to hide this migrations making then internal

Obviusly it didn't work hehe

Searching in your source code i finded this

`assemblies.SelectMany(a => a.GetExportedTypes()).Where(t => typeof(IMigration).IsAssignableFrom(t) && !t.IsAbstract);`

the GetExportedTypes only get public

[2020-05-27 16:37] jzabroski commented on #1255
@iceoz I'll delegate this question to @fubar-coder .  I don't know the precise answer as to "why".  It looks like @fubar-coder refactored the code to remove the concept of IAssemblyCollection and replace it with IAssemblySource.  I'm not sure why this change was made. It looks like @fubar-coder experimented with a couple of different ways for locating assemblies to scan/decorate, including Scrutor

[2020-05-29 09:44] andrecarlucci commented on #1242
Hi guys! Sorry about the delay. I guess we are all busy these days :)
@pergardebrink PR should solve my problem for now. Thanks a lot!

[2020-05-30 20:37] jzabroski commented on #1255
@iceoz I added an Architecture Decision Record (ADR) document to the FluentMigrator master branch to lay out some thoughts on dependency injection.  Please have a look at the commit above and feel free to add review comments.  It might be able to view the HTML version, here, especially the table I created: https://github.com/fluentmigrator/fluentmigrator/blob/master/adr/DependencyInjection.md#the-

[2020-05-31 10:34] fubar-coder commented on #1255
`IAssemblyCollection` was too inflexible and did too much in one place. The `IAssemblySource` was a replacement that allowed me to implement the fluent API (see [`.ScanIn`](https://fluentmigrator.github.io/articles/guides/upgrades/guide-3.0-to-3.1.html)) for the configuration of assembly sources. Those interfaces probably should've been internal...

[2020-06-01 10:21] KrisPetkov opened #1256 "PostgreSQL IsIdentity is creating the PK the old way?"
**Describe the question**
When I'm creating a new table for my PostgreSQL v12.2 and I set the **IsIdentity** property to **true** for the PK the column is created as `serial NOT NULL`. This is the old way of creating PK in PostgreSQL (before v10) and the new way is `int4 NOT NULL GENERATED BY DEFAULT AS IDENTITY`

Do you know how can I set this option so the PK can be created by the new way?

**In

[2020-06-01 12:39] jzabroski commented on #1255
Thanks, Mark!  That makes sense - I was starting to figure that out by seeing how the code evolved from Scrutor to our own scanning extensions.  It would almost be nice if Scrutor factored out just the ScanIn API into its own package.  Then, I don't think you would have had to write your own, right?

[2020-06-01 13:23] jzabroski commented on #1256
@KrisPetkov Is this causing an error, or is this a stylistic change you prefer?

[2020-06-01 13:47] jzabroski commented on #1256
The only Generator/Processor with robust version-specific support is SQL Server.  To change it, you would have to sub-class https://github.com/fluentmigrator/fluentmigrator/blob/5b44713448145572c70fcd283feb95ba7bcf0675/src/FluentMigrator.Runner.Postgres/Generators/Postgres/PostgresColumn.cs

and use in-process runner.

Alternatively, submit a patch that creates a new ProcessorId whereby people can

[2020-06-01 15:19] KrisPetkov commented on #1256
How can I use a sub-classed version of this class and tell FluentMigrator to use my sub-class instead of the base class?

I'm sorry but I didn't quite catch this part with the ProcessorId.

P.S. I'm not much familiar with the architecture and the code of the FluentMigrator but I took a quick look. Is it possible to extend the **AddPostgres** extension method in **PostgresRunnerBuilderExtensions.cs

[2020-06-01 15:29] jzabroski commented on #1256
FluentMigrator.DotNet.Cli nuget package, FluentMigrator.MSBuild nuget package, and FluentMigrator.Console nuget package.... all run off ProcessorId to select an object graph to use for interpreting migrations.  That object graph starts with a Processor and includes a Generator, but also details like Column model for how to pretty print as SQL the logical model FM provides.

When you switch to the

[2020-06-01 15:53] jzabroski commented on #1256
@KrisPetkov The list of ProcessorId's is listed here under Identifier column: https://fluentmigrator.github.io/#supported-databases

[2020-06-01 17:26] jzabroski commented on #1255
Changed the folder structure for ADRs. New link: https://github.com/fluentmigrator/fluentmigrator/blob/master/adr/proposed/DependencyInjection.md

[2020-06-01 20:48] jzabroski commented on #1242
@pergardebrink  Solution is merged.  Should release 3.2.7 this week.

[2020-06-01 22:42] jzabroski commented on #1123
@gandarez Terribly sorry I've made you wait so long.  Life got so crazy this year with COVID-19.  I'm planning to ship this as part of 3.2.7 this week.  Waiting to hear back from Nate McMaster on what the proper use of his library is on that getter/setter thing.  To say it's ridiculous that this PR has waited so long because of that minor issue is an understatement.  I hope you're still using Flue

[2020-06-01 22:48] jzabroski commented on #1123
Nate's response:

[2020-06-01 22:59] jzabroski commented on #1254
So, basically, the else clause should always execute?

[2020-06-01 23:26] jzabroski commented on #1152
Hi Denis,

I think we should always specify nullability.  For that reason, I don't think it's a good reason to co-opt custom type to derive a nullability phrase.  What would probably make more sense is to explicitly set Nullable(null) and create a method `Nullable(bool? nullableState)` where if nullability is unknown, we dont do anything.  I'll think about it.

[2020-06-01 23:27] jzabroski commented on #1152
It turns out this is actually a database engine setting, believe it or not.

[2020-06-01 23:49] jzabroski commented on #1256
@KrisPetkov , it appears @sohra has written a full PR for this here: https://github.com/Sohra/fluentmigrator/tree/feature/postgres10identity

I generally like his approach and asked him to submit a PR.  He also fixed a minor issue in the test helper utilities.

It's possible down the line some of this logic can move into a more abstract interface, as Firebird, Postgres and SQL Server are pretty si

[2020-06-01 23:53] jzabroski commented on #1256
@KrisPetkov Here is @Sohra 's remarks: https://github.com/fluentmigrator/fluentmigrator/pull/1084#pullrequestreview-351910675

[2020-06-02 00:01] jzabroski opened #1258 "SQL Server WithFilter -> Filter rename refactor"
Fallout from stale review: https://github.com/fluentmigrator/fluentmigrator/pull/1081#pullrequestreview-301346756

[2020-06-02 00:02] jzabroski opened #1259 "Create.UniqueConstraint API should be as feature complete as Create.Index for creating unique indexes"
See https://github.com/fluentmigrator/fluentmigrator/pull/1081#pullrequestreview-301346756

At a high level, SQL Server only supports creating unique constraints with included column lists and filter clause using the [`CREATE INDEX`](https://learn.microsoft.com/en-us/sql/t-sql/statements/create-index-transact-sql) syntax.  The goal is to make it so that `Create.UniqueConstraint` offers the same ex

[2020-06-02 01:18] jzabroski commented on #970
@PeterKneale I fixed the tests and also `Flatten()`ed the `AggregateException` so that the "true" issue gets displayed.  Your test doesn't directly cover this (but came close in `Write_aggregate_exception_of_two_exceptions_each_with_inner_exceptions_one_of_which_is_an_aggregate`) but if you'd like to further improve it, you can.

[2020-06-02 06:26] KrisPetkov commented on #1256
@jzabroski This is great and I think that this solution is pretty good.
I hope that Sohra will make a PR and these changes will be merged.
I will close my issue and will keep track #1084
Thank you for your time!

[2020-06-02 06:26] #1256 closed

[2020-06-02 12:26] jzabroski commented on #1256
Thank you as well for the great discussion!  You help make projects like these worth the effort!

[2020-06-04 15:45] fairking opened #1262 "Oracle migrations are not transactional by default"
**Describe the bug**
If I run migrations on oracle db and after some error happen I clearly see there are partially some tables crated. I cannot see it in mssql.

**To Reproduce**
Create a migrator with some table creation and then add next line which will throw an error. You will see that the first table is created.

**Expected behavior**
It should rollback whole transaction without creating anyt

[2020-06-04 16:30] jzabroski commented on #1262
@fairking Has oracle added transactional DDL?

https://www.google.com/search?q=oracle+transactional+ddl

![image](https://user-images.githubusercontent.com/447485/83785315-228d2200-a65f-11ea-9921-3e71e3fc78d2.png)

[2020-06-04 16:31] jzabroski commented on #1262
To elaborate, one of the amazing and under-recognized features of SQL Server is transactional DDL.  Very few databases have this feature.  It doesn't always work perfectly, especially with synonyms and how name binding resolution works in SQL Server, but when it does, it saves a ton of time.

[2020-06-04 16:40] jzabroski commented on #1262
No worries.  Oracle shops tend to use the Down part of migrations a lot :)

[2020-06-04 16:50] fairking commented on #1262
I have to write tons of down scripts which I don't have. Second thing whic is worrying me is all my transactions in all my requests are going to hell. :-(

[2020-06-04 16:56] jzabroski commented on #1262
See: http://www.dba-oracle.com/oracle_tips_db_copy.htm

You need an easy way to clone your pre-prod db environment so that you can effectively flashback your whole db schema.

[2020-06-04 18:38] fairking commented on #1262
I hope I can also use `AutoReversingMigration` for oracle issue.

[2020-06-04 18:41] jzabroski commented on #1262
Yes, you can.  I am not sure how well supported AutoReversingMigration is.  I personally only use ForwardOnlyMigration.  I work on very huge db projects with 1000 tables/indexes/views and hundreds of stored procedures, and the cost of rolling back vs. testing well is rather no-brainer.

[2020-06-04 18:43] fairking commented on #1262
I agree. That's why am looking for alternatives. Db backup is the second alternative one.

[2020-06-04 18:59] fairking commented on #1262
What I would like it to be is to have `AutoReversingMigration` which could allow for Update/Insert/Delete/Execute. Then I could always put a check if the following Update/Insert/Delete/Execute required or not. Something like: `if {row doesn't exist} do {insert}` or `if {row exists} do {delete}` and so on. What do you think @jzabroski ?

[2020-06-04 19:15] fairking commented on #1262
This is one of the examples how do I solve it :-) :
![image](https://user-images.githubusercontent.com/13495631/83800939-2ab98180-a6a0-11ea-906c-d393c65aedd3.png)

[2020-06-04 19:25] jzabroski commented on #1262
I think somewhere in the backlog I started spec'ing out something for restoring data as part of migrations, but I can't even recall my thought process at the time.  I think it involved copying all the related data to a separate schema and transfering it back, which would be a minimal t-log operation in case of rollback required.

[2020-06-04 20:57] fairking opened #1263 "if_exists works in reverted way on oracle"
**Describe the bug**
The check {if index exists} working in reverted way.

**To Reproduce**
The following statement:
[code]
throws an error: `ORA-01418: specified index does not exist`
Sql: `DROP INDEX ix_core_users_discriminator`

**Expected behavior**
It should not attempt to delete the index

**Information (please complete the following information):**
 - OS: Windows 10
 - Platform .NET Core 3.

[2020-06-04 21:33] fairking commented on #1171
I have the same issie too. Waiting for the release. Appreciate your hard work guys.

[2020-06-04 21:41] jzabroski commented on #1171
@fairking I merged the fix , release coming this week.

[2020-06-04 22:30] jzabroski commented on #1263
So is this basically your migration?
[code]

If so, the full existence check SQL [should be logged](https://github.com/fluentmigrator/fluentmigrator/blob/c753ddd71c7de565bacf04eeaa03d94ba64646b6/src/FluentMigrator.Runner.Oracle/Processors/Oracle/OracleProcessorBase.cs#L221) before the drop statement.  Can you please copy-paste it?

[2020-06-04 22:56] fairking commented on #1263
The actual script is very big and it is Uu. The Down is empty. It is like this:
[code]

[2020-06-04 23:47] jzabroski commented on #1263
Can you copy-paste what the output is to the console before the drop statement?  It should log the existence check.  It is a line that look something containing `SELECT 1 FROM ALL_INDEXES WHERE upper(OWNER) = 'core_users' AND upper(INDEX_NAME) = 'ix_core_users_discriminator'`

[2020-06-04 23:58] jzabroski commented on #1263
Can you also try specifying the schema?

[code]

[2020-06-05 00:04] fairking commented on #1263
This is how it looks:
[code]
Terminal:
[code]

[2020-06-05 00:23] fairking commented on #1263
If I specify the schema the same error still persists.

[2020-06-05 01:04] jzabroski commented on #1263
That's strange - also the code for SchemaExists in OracleProcessorBase is strange to me (it's returning an int and implicitly converting it to a bool).  Calling it a day for tonight.

As some pre-bedtime ideas:

An alternative way to write the existence check might be:

[code]

[2020-06-05 12:53] fairking commented on #1263
Tried to run MSSQL Migration and also cannot see any checks on MSSQL:
[code]
But because as I remember the index in MSSQL db exists, the result is not ended up with the error about missing index.

So the tests on Oracle and MSSQL show that the check `exists` is not processed by the actual sql query.

[2020-06-05 14:07] fairking commented on #1263
1. I can see some of the `exists` checks do not log the sql query into the terminal.
2. I am not sure if `exists` check run the query in `ReadCommitted` or `ReadUncommitted`. So eg. I have table renamed in the same script and then I would like to drop the index. Originally that index must to be dropped before rename:
[code]
3. Regarding the situation I have with the index `ix_core_users_discrimina

[2020-06-05 14:12] jzabroski commented on #1263
Thanks.  I probably won't look any further today but I have a checklist of things to investigate.  Ideally I'd like to include a fix (or respond with correct usage syntax) before 3.2.7 is published, which I have a hard cut-off goal of Sunday night for 3.2.7 fixes.

[2020-06-05 14:21] fairking commented on #1263
Thanks I fixed the script in different way, so no response required. But I I can see now those `exists` checks need to be used carefully assuming they are executed at the beginnig of the script and that the index name must be unique across the scheme (not table like in mssql).

[2020-06-05 14:26] jzabroski commented on #1263
I did create a batch actions ticket recently to make some of this easier to use: #1221

Separately, I had a separate idea for allowing monadic-like F#-like computation expressions in FluentMigrator.  See: #987 The idea is that one could use something like LINQ IEnumerable interface and the LINQ syntax to define a monadic-like computation that builds up a list of side effects (aka migrations) and t

[2020-06-05 15:05] KrisPetkov commented on #1038
Hi @jzabroski
Any plans to merge this functionality in near future?
Can you please tell me if there is some workaround or alternatives until an official support for enums is provided?
I'm thinking to expose my enums as integer values to  the database and to handle the enum mapping inside my entities. Something like this (If there is something more clever than this approach I'd be happy to hear it)

[2020-06-05 15:18] jzabroski commented on #1038
Merging this requires merging #1178 which is still a work in progress  The reason is that Microsoft botched how they package System.ComponentModel.DataAnnotations nuget package such that it links the wrong assembly under certain conditions.  The only way to force the right assembly is to re-map all of the FluentMigrator dependencies based on which version of the framework the user targets.  That's

[2020-06-05 15:20] jzabroski commented on #1038
You're free to use the In-Process Runner and copy-paste the above code into your project if that is what you would like to do, and report back on your success here.  That would be helpful as I have not actually tested my assumption that #1178 fully resolves this dll loading error.  (With an In-Process Runner, you can also _force it to work_ via a DirtyAssemblyResolveHelper pattern, which is what B

[2020-06-05 21:32] KrisPetkov commented on #1038
@jzabroski thank you! I will give it a try after the weekend and will let you know if I had managed to adjust the sample to our scenario and if it works

[2020-06-06 19:50] Pretasoc commented on #854
I`d love to see async support and have just started working on it, but as it is a rather large feature, it will take some time until a PR is ready.

[2020-06-06 23:13] pergardebrink commented on #1035
Is there a specific reason to do option two? I hooked up number two, where I create a new DI scope per database with serviceProvider.CreateScope() and changed the connectionstring

I have about 120 databases that needs to have the same set of migrations applied in one go and I could of course go with option one as you say and iterate over all of them...

[2020-06-06 23:18] pergardebrink commented on #1035
I should add that I didn't use the ConnectionAccessor, don't remember exactly now what stopped me from doing that, but I think I couldn't get it to behave exactly as I wanted in the scope, so I created this extensions method where I have deferred it like this to get different connectionstrings per scope:

[code]

[2020-06-06 23:56] jzabroski commented on #1035
He had the same "database" but different schemas. He needs to inject just the assembly. Plus, by doing it this way you can use the same connection string. In his case, it was clear the only real variation in the connection string was the tenant (database schema). Since he is using MySQL, schemas map to actual databases. Other engines like SQL Server allow multiple schemas per DB.

By creating sepa

[2020-06-07 11:44] jzabroski commented on #854
Hi @pretasoc

I'm in the process of an enormous PR right now so it makes sense to coordinate any other large efforts. My PR is to correctly support  .net core 3.1. As part of this I'm also restructuring the unit tests. In addition, there are some basic things I want to fix before adding async support, as making broken things async likely only makes some things worse.

[2020-06-07 15:50] Pretasoc commented on #854
Hi @jzabroski,

good to know, that there are other changes ahead. Almost all changes i made so far are currently pushed to the fork at my Github. Basically i am trying to provide an asynchronous interface for each component, that either communicates with the database or uses such a component. My goal is to implement theese interfaces in the existing classes, so we can avoid code duplication.

I kn

[2020-06-07 16:16] jzabroski commented on #854
I found your branch: https://github.com/Pretasoc/fluentmigrator/tree/feature/AsyncMigrator

I am thankful you put descriptive comments in your commits.  But the real work is likely stuff like:

1. Handling Control+C SIGINT when running FluentMigrator.DotNet.Cli, FluentMigrator.MSBuild, or FluentMigrator.Console from the command line. - This is going to be a new feature and so the framework needs n

[2020-06-07 16:33] jzabroski commented on #854
Actually, can you explain what you mean by calling synchronous code under an async wrapper?  For example, as Mark mentioned in the original post, DbCommand provides some basic async support.  I think maybe I am just confused by what you meant.  Is there an example in your 140 commits so far of what that looks like so we can agree on an approach?

[2020-06-07 16:37] Pretasoc commented on #854
I agree, `async` support is hard to get right and easy to get wrong. And i can assure, i dont just want to slap `async` in the code and call it a day. I can understand the code, i wrote so far, looks kind of hacky, buts its in a very early exploring stage, to see, what is actually possible.

I must admit, i'm a littble confused, where you see 140 commits of me, as i remember only 5 or so on that b

[2020-06-07 16:43] jzabroski commented on #854
This is why I thought you did 140 commits lol

![image](https://user-images.githubusercontent.com/447485/83974583-75174a00-a8bc-11ea-9774-65c283b1dd08.png)

[2020-06-07 16:44] Pretasoc commented on #854
So my current idea how to approach this topic is, to add additional interfaces, that provide asynchronous methods for the things, that can be done asynchronously. If a platform does not support async, those interfaces wouldn't be implemented. As i mostly work on SQL-Server i have a very limited view on the other database frameworks, but on SQL server most database calls can be done asynchronously.

[2020-06-07 16:45] Pretasoc commented on #854
Ah, yes i branched from develop.

[2020-06-07 16:48] Pretasoc commented on #854
So to conclue this: I will draft a proposal how async support could be realized. AS im currently very busy at my daytimer job, I doubt i can show something before next weekend.

[2020-06-07 16:48] jzabroski commented on #854
Got it.  I also want to rework develop, as I don't like how previously we were not following a gitflow model and we were doing too much for a major release IMHO.  I want to do smaller major releases going forward.  It's going to be a lot of work to integrate 3.2.7 to 3.3.0, and then 3.3.0 to 4.0.x releases.  (If you want to help with that, that would be awesome, and you may even be able to give me

[2020-06-07 16:51] jzabroski commented on #854
Thanks for your help.  This all sounds good.

[2020-06-07 16:55] jzabroski commented on #854
That is the theoretically correct way, and makes sense to me.  However, it does not answer how to abort in-progress sequence of migrations.  There needs to be a layer inbetween these Task returns that decides whether it should continue or cancel the "interstitial" task upon SIGINT.  This is effectively what xunit.net does for its test runner, as most unit tests don't accept cancellation tokens the

[2020-06-07 17:18] jzabroski commented on #854
One last thought. Should the code use partial classes to hold Async interface. This would declutter the code a bit and reduce the weight of lines of code to read. The sync and async interfaces can then share basic reusable snippets like SQL statements to run to check for existence of a sql object in DB

[2020-06-07 21:34] KrisPetkov commented on #814
Hi @fubar-coder
I have an issue with the naming convention. I have implemented my own IConventionSet class and it is registered as a singleton.
I also have an implementation of IForeignKeyConvention:

[code]

But that code and especially the **Apply** method never gets called (I tried with breakpoint to see if it is called). And my custom naming is not applied.
My migration is of type **AutoRevers

[2020-06-08 10:11] iceoz commented on #1255
thanks for responding my coment @jzabroski @fubar-coder  =) and i can't understand why not use scrutor, in scrutor you can pass a list of assemblies or types to get theirs assemblies, but at the same time scrutor seems to be a little abandoned =/

[2020-06-08 12:42] jzabroski commented on #1255
I don't think Scrutor is abandoned. :) It literally has twice as many downloads as FluentMigrator and is one of the most popular Nuget packages not provided by Microsoft.  If that is abandoned then the .NET open source community is in serious trouble lol :)

[2020-06-08 13:39] KrisPetkov commented on #814
@fubar-coder
I have some more information:

If I try  to follow your example I'm hitting the following problems:
1. My naming convention has not been applied at all (as I described in my previous post)
2. Getting "A circular dependency was detected for the service of type..." exception

* The above two depends whether I'm going to register it like this (for `1.` problem):

[code]

* Or like this (

[2020-06-08 14:07] jzabroski commented on #814
@KrisPetkov Please open a new issue and I'll investigate.  Please also if you comment on old issues, do so via simply referencing comments in a new issue.  It helps make sure new issues/bugs do not get lost, but also see the linked issues from the new issue.

[2020-06-08 14:35] KrisPetkov opened #1264 "Naming conventions not working"
**Describe the bug**
After following the example provided by @fubar-coder for custom naming conventions as described here: https://github.com/fluentmigrator/fluentmigrator/issues/814#issuecomment-409585968 I'm facing two different issues:

1. My naming convention has not been applied at all
2. Getting "A circular dependency was detected for the service of type..." exception

* The above two depend

[2020-06-08 15:05] eloekset commented on #1101
I think we can close this mega long thread, since we got the steps to complete this NuGet stuff in issue 1180 (already referenced 22 feb).

[2020-06-08 15:05] #1101 closed

[2020-06-08 15:06] KrisPetkov commented on #1038
@jzabroski  I have found a clever way for resolving my issue here. It is related to the implementation of the [NopCommerce's MigrationManager](https://github.com/nopSolutions/nopCommerce/blob/develop/src/Libraries/Nop.Data/Migrations/MigrationManager.cs). (I'm going to make an analogue with the NopCommerce project because the project that I'm working on is proprietary and I cannot share much code

[2020-06-08 15:13] jzabroski commented on #1038
Interesting.  I did not know about NopCommerce.  How did you find it?  Thanks for sharing, but... just so I understand, what was wrong with using the C# 7.3 type constraint proposal above (`AddDataFor`)?   What limitation did it have?

[2020-06-08 15:20] jzabroski commented on #1264
Off-topic comment:
A `MigrationManager` is effectively what #1208 seeks to achieve, although I think calling it `FluentMigratorApplication` is more likely.  Currently, the closest thing we have to this concept is `TaskExecutor` class.

Thanks for mentioning NopCommerce in the other thread (#1038), as it demonstrates people are effectively writing their own redundant `FluentMigratorApplication` cla

[2020-06-08 15:22] jzabroski commented on #1252
Resolved in 3.2.7. @YeskaNova  Please provide any feedback if you find further aspects of logging that need improvement.

[2020-06-08 15:22] #1252 closed

[2020-06-08 15:22] jzabroski commented on #1254
@pergardebrink Just a nudge - what behavior do you think it should be?

[2020-06-08 15:24] jzabroski commented on #1241
Just an update on this.  I released 3.2.7 this morning.  There is a small chance we will have a 3.2.8 release as there is an outstanding Oracle PR, but otherwise I am focused on finishing 3.3.0 which should address this problem.

[2020-06-08 15:26] jzabroski commented on #1238
Fixed in https://github.com/fluentmigrator/fluentmigrator/commit/ef5ee397249ab82ff3028b1f546c19fceab02576

[2020-06-08 15:26] #1238 closed

[2020-06-08 15:29] jzabroski commented on #1242
@andrecarlucci @pergardebrink  Fixed in 3.2.7 released this morning. Thank you for your help and bringing this to my attention and coming up with a simple, elegant solution.

[2020-06-08 15:29] #1242 closed

[2020-06-08 16:17] KrisPetkov commented on #1038
In my previous company we were using their open source e-shop (I think they are the biggest open source project for e-commerce) and I was quite familiar with their architecture. Until recently they were using EntityFramework as an ORM but few days ago I read that they got rid of it and migrated to linq2db and FluentMigrator. The project that I'm currently working on is using the same projects (lin

[2020-06-09 02:15] #1171 closed

[2020-06-09 03:30] iceoz commented on #1255
Hehe, i just say what i think =)  and it's a amazing library, but comparared to fluent migration, they have lower code frequency

[2020-06-09 15:57] fairking opened #1265 "OracleException ORA-01704 string literal too long"
**Describe the bug**
Still got the same error after upgrading to v 3.2.7

**To Reproduce**
Table:
![image](https://user-images.githubusercontent.com/13495631/84169877-0b8c6c80-aa71-11ea-8bde-c18cb4c61f3d.png)
Migration:
![image](https://user-images.githubusercontent.com/13495631/84170294-6de56d00-aa71-11ea-9776-c75caff532aa.png)
File content (file size 12,739 bytes):
![image](https://user-images.g

[2020-06-09 16:08] fairking commented on #1265
Files to debug: [http://www.filedropper.com/completedticketsbypriority](http://www.filedropper.com/completedticketsbypriority)

[2020-06-09 16:25] fairking commented on #1265
Update: If I remove `Encoding.UTF8` from `File.ReadAllText` it runs the script with no issues.

[2020-06-09 17:20] jzabroski commented on #1265
@PhenX Any idea why UTF encoding would change the behavior here?  I'm sure there is a logical explanation but I am blanking as to why.  I did find this issue on Stack overflow: https://stackoverflow.com/questions/59851455/utf-8-oracle-entity-framework-core

[2020-06-09 17:21] jzabroski commented on #1265
@fairking If you use less than 4000 characters in the file, does the problem still happen?  I wonder if this is not at all related to Fabien's change but some low-level issue in the Oracle driver.

[2020-06-09 17:58] fairking commented on #1265
I got a solution, give me please 15 min

[2020-06-11 21:07] pergardebrink commented on #1254
Sorry for not responding. I haven't really digged into the details on the logging setup in FluentMigrator yet and how it's supposed to work as I'm quite new to the project still. There are a few custom loggers and I guess some parts are to adapt and reimplement how the "announcers" work/worked before?.

But yes, I would expect that a call to WriteError with a message and exception should produce o

[2020-06-11 21:16] jzabroski commented on #1254
Yes, i think that is the most desirable.  The only reason I would see for the other approach is it lets the caller decide.

Let me know if you'd like to do a PR to fix this.

As far as the announcers, I believe you saw my comments from the security/password thread where I explained the evolution of the logging API.  I kind of like what Jon Sequitur's Its.Log framework does: https://github.com/jons

[2020-06-12 16:47] jzabroski commented on #978
@CoskunSunali I've been taking over the backlog grooming from Mark.  I'm going to re-title this issue.

Are you using FluentMigrator anywhere publicly?  It could be a good source of reference for others, since its obvious you did a lot of customization based on your comments.

[2020-06-12 16:48] jzabroski commented on #978
See #1255 - I will have to update the ADR to include this issue.

[2020-06-12 17:06] jzabroski commented on #708
Tom Marien notes:

I would note that the issue is that the Conditional support isn't output as part of the script.  This was raised recently.  It also complicates generating a rollback script.

@ktodyruik notes:

Basically, you want to mock the version info table row data source?  This should be covered under #978 , as it would also make the changes easier to test.

This is now tracked in #1033.

[2020-06-12 17:24] jzabroski opened #1275 "Remove Travis CI"

[2020-06-12 17:29] #1275 closed

[2020-06-13 20:02] Pretasoc commented on #854
So its one week later and i doubt i will complete the proposal tomorrow. Because i want async support with as few changes as possible in existing migrations, there are some difficulties how to do async migrations in a consistent pattern.

[2020-06-14 13:56] jzabroski commented on #854
Hi @Pretasoc , awesome.  Also, regarding sharing basic reusable snippets like SQL statements, this need came up recently, as the way FluentMigrator approaches these snippets is not super-great (but not necessarily bad, either).  For example, see: https://github.com/fluentmigrator/fluentmigrator/issues/1263

I believe the reason FluentMigrator uses these out-of-band tests is that most databases req

[2020-06-14 14:03] jzabroski commented on #1263
Copy-pasting my comments from #854:

I will try to transfer this comment and the [previous comment above](https://github.com/fluentmigrator/fluentmigrator/issues/1263#issuecomment-639530102) into an architecture decision record to elaborate on what we want to achieve.  I have separately outlined some thoughts on how we can achieve it in #908 : Support an `IUnitOfWork` and  `IUnitOfWorkParticipant`

[2020-06-14 14:11] jzabroski commented on #1264
So, I finally got a chance to grok what your issue is about.  The program is your MigrationManager class is creating a circular dependency.  I have not traced the graph myself, but I would guess passing in both an IMigrationRunner and IMigrationRunnerConventions to the same constructor is the root cause.  Please look at TaskExecutor in the source code to see how it is done there.  Note: I am not e

[2020-06-14 14:11] #1264 closed

[2020-06-14 15:16] KrisPetkov commented on #1264
@jzabroski Thank you! I will have a look

[2020-06-14 15:47] jzabroski commented on #1265
I'm reviewing this today and trying to resolve today as well.

[2020-06-14 16:18] jzabroski commented on #978
@CoskunSunali In thinking about this, what database are you using?  I would guess, based on your request, MySQL.  Did I guess right?

[2020-06-14 17:20] CoskunSunali commented on #978
Hi @jzabroski I’m using MSSQL but the app is DB provider independent so it can be anything that EF Core and FM supports basically.

I still don’t have the time to reply to your previous comments/questions but that is on my todo list to reply ASAP. Sorry for that.

[2020-06-14 19:17] jzabroski commented on #1033
I think a simpler syntax, for FluentMigrator.DotNet.Cli might be:

[code]
If user specifies a larger number in first part of range coordinate than second part, raise error.

[2020-06-14 19:19] jzabroski commented on #1263
@fairking I am going to retitle this issue, as I think it is inaccurate based on your last comment here:

The problem is that Conditionals are not part of the migration itself, so depending on how you run the migration, you may get different results.

One possible workaround (for now) is to effectively patch FluentMigrator.DotNet.Cli migrate parameters to support #1033

[2020-06-14 19:22] jzabroski opened #1277 "Doc for Release Process"
Create architecture decision record for Release Management Process.

[2020-06-14 19:22] #1277 closed

[2020-06-15 12:42] szyb commented on #1160
I have the same problem, but I couldn't reproduce it with small example project. All I have is a stack trace, maybe this will tell something to you
[code]
I'm running migrations from batch
[code]

[2020-06-15 13:47] jzabroski commented on #1160
@szyb Please see my reply directly above your comment.

A more permanent fix is coming in #1178

The most common way I've run into assembly link-load problem is by referencing System.ComponentModel.Annotations nuget package.  What System.* assemblies are you referencing in your erroring project?

[2020-06-15 13:48] #1160 closed

[2020-06-16 10:46] szyb commented on #1160
In fact, I have reference to System.ComponentModel.Annotations, however adding it to my small trying-to-be-repro project didn't show any issues with that.
For me, now it is better to temporarily downgrade project to net standard 2.0 as all deploy scripts and team members uses FluentMigrator.DotNet.Cli runner and we would like to keep it that way.
I'm looking forward to permanent fix. Good luck!

[2020-06-16 13:17] jzabroski commented on #1160
System.ComponentModel.Annotations is the worst because its OOB and, in my opinion, packaged incorrectly.  If you search the dotnet org GitHub, you will find me complaining about this.

The problem is the net472 assembly uses a different z in x.y.z version number.  This creates a dependency diamond.  It is not FluentMigrator's fault that Microsoft packaged System.ComponentModel.Annotations in a way

[2020-06-16 13:45] jzabroski commented on #1160
Also, note, just adding a package won't necessarily cause problems.  It has to be linked to the runtime assembly fluent migrator is walking.

[2020-06-16 14:01] Powerz opened #1278 "Can't create a unique filtered index with included columns."
**Describe the bug**
FluentMigrator generates invalid SQL for a unique filtered index with included columns.

**To Reproduce**
[code]

This will result in the following SQL:
[code]

**Expected behavior**
[code]
The `WHERE` has to go right after `INCLUDE`.

**Information (please complete the following information):**
 - OS: MacOS Catalina 10.15.5.
 - Platform .net core 3.1
 - FluentMigrator version

[2020-06-16 18:41] jzabroski commented on #1278
N.B. @gliljas .  I hope to get a chance to fix this weekend, unless you want to jump ahead of me.

[2020-06-18 16:35] ctrlaltdan opened #1280 "Idempotent migrations (similar to EntityFramework)"
I have seen an open pull request https://github.com/fluentmigrator/fluentmigrator/pull/664 (from 2015) relating to idempotent SQL script generation and was wondering what the current thinking is on this?

Ideally we'd like to see the `dotnet fm` cli behave in a similar way to the `dotnet ef` cli and be able to output a single idempotent migrate script.

https://docs.microsoft.com/en-us/ef/core/mis

[2020-06-18 16:57] jzabroski commented on #1280
@ctrlaltdan Hi Dan,

I think that is trying to do idempotent migrations in a different way, by assuming nothing about the database's current state.  It's an interesting approach, but as @DustinVenegas mentions in the comments, his Preconditions idea is more general.

Currently, you can use the in-process runner to do what you want to do, but the FluentMigrator.DotNet.Cli tool doesn't support it ye

[2020-06-18 17:02] jzabroski opened #1281 "Preconditions"
From #664 , @DustinVenegas wrote a good suggestion:

Effectively, Preconditions are like our Conditionals today, except they do not actually connect to the database to determine their truthiness.

Advantages could be:
1. Possibly improve error logging.  If a migration command fails, we can explicitly state any preconditions that should be checked.
2. It might be possible for FluentMigrator to main

[2020-06-22 09:31] benjaminrupp opened #1283 "Connection string Password is not replaced"
If password is at the end of the connection string and string does not end with ; the password is not replaced and is plaintext in the log file.

Classe: AppConfigConnectionStringReader.cs
Line: 39

Suggestion:
Replace regex with (PWD=|PASSWORD=)(([^;]*);|([^;]*)$)

[2020-06-22 10:16] SebaVDP opened #1284 "[Runner] VersionInfo not generated with -no--connection option"
I don't have access to the database, so I am generating my script with -no--connection and --preview options.
When I don't define an --start-version or I put it on 0, no VersionInfo table is created in the generated script.

I would like to have a way where the generated script also includes the VersionInfo Table.
For example by adding an specific option on the runner
Or by setting the option --st

[2020-06-22 13:09] jzabroski commented on #1283
Eww.  This code is nasty :)

https://github.com/fluentmigrator/fluentmigrator/blob/e82aafa20e6dbe3cefa221303fe23cf8bf59fffd/src/FluentMigrator.Runner/Initialization/NetFramework/AppConfigConnectionStringReader.cs#L39

Without thinking about this too hard, why aren't we using DbConnectionStringBuilder?  Is the problem that we then don't know exactly which fields the raw connection string contained?

[2020-06-22 13:24] jzabroski commented on #1284
See: #1226
While that only mentions ConnectionlessVersionLoader and creating the initial VersionInfo table, it's the general way connectionless journaling is handled that needs improvement.

[2020-06-22 13:24] #1284 closed

[2020-06-22 15:34] jzabroski commented on #1283
@benjaminrupp Submit a PR for your suggestion.  We should probably look into refactoring to use DbConnectionStringBuilder, though.  However, its a pretty glaring hole to potentially log the password to a file, so we should do an immediate hotfix.

[2020-06-22 16:54] jzabroski commented on #1283
See: https://docs.microsoft.com/en-us/dotnet/api/system.data.common.dbconnectionstringbuilder?view=netcore-3.1#:~:text=The%20DbConnectionStringBuilder%20performs%20no%20checks%20for%20valid%20key%2Fvalue%20pairs.&text=The%20SqlConnectionStringBuilder%20supports%20only%20key,pairs%20will%20throw%20an%20exception.

This probably explains why we don't use DbConnectionStringBuilder.

I guess the real

[2020-06-23 22:20] trllgrn commented on #1241
Looking forward to this as well.  Been seeing this issue in our project for a month or so.

[2020-06-25 09:12] skiryazov commented on #1078
Is there a way to ONLY generate the SQL and not execute it though?

I can disconnect it from the database but then it generates the SQL for the 1st migration only, ending on a "ROLLBACK TRANSACTION"

[2020-06-25 09:57] skiryazov commented on #1078
Disregard the noob, found it, AsGlobalPreview is the thing I need.

[2020-06-29 13:29] Qhero commented on #1178
Hi @jzabroski
Firstable I would like to thank you for your work on this issue, also I would like a quick catch up about the support of .NET Core 3.x. As far I can see this is still under development,but I would really appreciate if you can provide a rough date of patch. It will help us to know which strategy we will apply to our application (downgrade or upgrade).
Thank you!

[2020-06-29 13:40] jzabroski commented on #1178
I want to finish it by the end of the summer.  I maintain two projects, this and RazorLight.  This PR is rather enormous.  To complicate things, I was falling behind accepting PRs to FluentMigrator, so I chose to accept those PRs and do small releases.  So now I have to merge those PRs to my jzabroski/FluentMigrator branch, which is extra work.  It's a fine balance between moving features forward

[2020-06-29 14:15] Qhero commented on #1178
I know this is not you fulltime job, that's why I can't thank you enough for what you do! Thank you for the catch up.

[2020-06-29 14:50] jzabroski commented on #1178
We will get there.  I think once proper 3.1 support is implemented, adding features is gonna be a relative breeze.  I have so many cool, innovative ideas in this space that nobody has even thought of yet.  I haven't even written design docs for the really cool ideas because I don't want anyone stealing my original thoughts and then being like, "FluentMigrator doesn't do this" (as is common in open

[2020-06-29 20:03] jzabroski opened #1289 "Fully Deterministic Build with SourceLink"
https://github.com/clairernovotny/DeterministicBuilds

# Directory.Build.props
See: https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2019#directorybuildprops-example
[code]

[2020-06-30 14:18] Chandler-Davidson opened #1290 "SQLite Rename Column"
SQLite previously did not support column renaming; however, since 2018-09-15 (v. 3.25.0), SQLite has supported it via the ALTER command. See: https://www.sqlite.org/changes.html

We should update the existing RenameColumn generator for SQLite to use the command. I'm unsure how we support versioning of databases, please let me know!

[2020-06-30 15:39] jzabroski commented on #1283
@benjaminrupp Can you tell me what runner you're using and how you're getting the connection string?  I've tried to reproduce the issue, but am not able to.  I wrote a unit test that steps through it, and so it's possible I'm not configuring dependencies correctly.  The crux of it is if you load a connection string via configuration file, we never log the connection string, just the connection nam

[2020-06-30 21:23] jzabroski commented on #1290
The way we support versioning is not super-modular, so it makes sense you wouldn't know how we do it.  The most common way is to recurse on the existing Generator by subclassing it and then overriding the virtual method that adds the incremental functionality.  Each new Generator in turn needs a new Processor and ProcessorId (see fluentmigrator.github.io for list of ids).

It would, in many ways,

[2020-07-01 04:13] benjaminrupp commented on #1283
Hi jzabroski,

here is our init-code:
 private static IMigrationRunner GetMigrator(IApplicationContext applicationContext, string connectionString)
        {
            // Workaround to problem in password regex replacer in AppConfigConnectionStringReader of FluentMigrator
            if (!connectionString.EndsWith(@";"))
                connectionString += @";";

            FixWrongVersionNumbe

[2020-07-01 12:57] Powerz commented on #1278
Hi guys, did you have a chance to take a look? No rush, just asking :)

Btw, thank you for working on this awesome project.

[2020-07-06 19:55] southernprogrammer commented on #1290
👍

[2020-07-06 20:17] #1290 closed

[2020-07-07 07:16] dependabot-preview[bot] opened #1293 "Dependabot couldn't reach https://www.myget.org/F/fluent-migrator/api/v3/index.json as it timed out"
Dependabot couldn't reach https://www.myget.org/F/fluent-migrator/api/v3/index.json as it timed out.

Is https://www.myget.org/F/fluent-migrator/api/v3/index.json accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/fluentmigrator/update

[2020-07-07 07:44] eloekset commented on #1293
Should take a look at #1180 again. Last time I was looking into it, I couldn't synchronize packages from the myget feed. We need to get those out of there and over to the new feed as the first step.

[2020-07-08 06:36] #1293 closed

[2020-07-08 13:42] jzabroski commented on #1293
That would be great.

[2020-07-09 11:50] eloekset commented on #1180
The reason I didn't find any packages in the MyGet feed, is simply because I forgot to add the **-Prerelease** flag.

I found a [PowerShell module that Microsoft has made](https://docs.microsoft.com/en-us/azure/devops/artifacts/tutorials/migrate-packages?view=azure-devops) to migrate from MyGet to Azure Artifacts. Exactly what we need to do this in just a few simple steps. No. It doesn't work. Of

[2020-07-09 12:18] eloekset commented on #1180
No, same thing on a Mac with PowerShell 7. There I had to specify `-TempFilePath`, but the result is the same. And someone else got the same set of error messages and gave up: https://github.com/microsoft/azure-artifacts-migration/issues/4

[2020-07-10 13:19] jzabroski commented on #1283
Got it.  This only happens if you pass in a raw connection string instead of a connection string name.  I suppose this would happen if you're using an external loader like Hashicorp Vault to load the sensitive information, as the default connection string name loader only uses .NET specific chain of responsibility.

[2020-07-10 15:07] jzabroski commented on #1283
@benjaminrupp I think your regex is incorrect. It's subtle, but because of greedy quantification, you have to put the $ at the end of each sub-token, because each sub-token is its own DFA string. I also labeled the capture groups so it's a bit clearer (if a lot longer).  Here is my attempt at it.

### Pattern
[code]
### Input
[code]

I plugged it into http://regexstorm.net/tester

![image](https:/

[2020-07-10 15:59] jzabroski commented on #1283
Updated regex one last time to include additional test case.

[2020-07-13 15:18] jzabroski commented on #1283
@benjaminrupp On Friday, I fixed this locally using the above regex, but want to clean up the test before I merge it.  Frankly, I was surprised to see there is basically no deep structural testing of logging in the code base.  I explored several different ways to write our first "semantic logging tests."  One is using a library called MELT that mocks MS DI ILoggerProvider, but I am not sure I love

[2020-07-13 15:27] Slesa opened #1295 "How to specifiy autoincremental IDs supporting SqLite and MsSql?"
When developping with MS Sql LocalDB, I've started with a migration
[code]
which works perfectly with new rows - I was happy.
Given this version to QS, they said "But hey, there is no generated data at all?" They are using SqLite. After some trouble with Guids, I found out that only
[code]
works here. Docs of SqLite say: try to avoid autoinc!

Knowing, that different creation for different DB type

[2020-07-13 15:34] jzabroski commented on #1295
@Slesa

Unfortunately, this doesn't exist.  There are explanations for why it doesn't exist, and some discussion in private between myself and another person on how to rectify this.

There is one workaround to your problem: Use an extension method.

[code]

then you can write:

[code]

It's not perfect but it does solve the problem relating to the capturing of Abstract Syntax Tree root, and is bas

[2020-07-13 15:39] jzabroski commented on #1295
Edited original pseudo-code above. Please refresh.

[2020-07-13 15:42] jzabroski commented on #1295
BTW, as a best practice, you should explicitly specify Nullable/NotNullable, as FM defaults to NotNullable.

For more examples on using extension methods, see the examples folder: https://github.com/fluentmigrator/fluentmigrator/blob/e82aafa20e6dbe3cefa221303fe23cf8bf59fffd/samples/FluentMigrator.Example.Migrations/MigrationExtensions.cs#L25

[2020-07-13 15:48] Slesa commented on #1295
Mmh... the fluent base is killing everything. Either IfDatabase or Create, one of them is the root.
If there would be an extension
[code]
wouldn't that help?

[2020-07-13 15:51] Slesa commented on #1295
It feels strange to give an incremental primary key the option 'NotNullable'...

Anyway, I think my real problem is that the SqLite provider puts the autoincremental option to the expression. Is it imaginable to have a second extension for SqLite (and I think MySql, too? Not sure) WithAutoincrement()?

[2020-07-13 16:29] Slesa commented on #1295
This is the shortest code I've found. I will need that for each table with auto IDs - so almost all.

To be repeated for each table:
[code]

Extension methods for all tables to declare the columns:
[code]

Extension for table creation itself:
[code]
Maybe there are ways to use your first suggestion, but it is difficult to find the right interface to extend (it is not IMigration, maybe IIfDatabaseE

[2020-07-13 17:20] jzabroski commented on #1295
I dont know if this helps, but I had a typo in my original example.  It should be `var expr = migration.Create.Table`.  The basic trick is of using an extension method is to capture the "this" variable to avoid referring to the wrong "this", since the value of "this" changes at run-time (literally, its internal state accumulator of the runtime AST changes depending on which IfDatabase condition is

[2020-07-13 17:22] #1295 closed

[2020-07-13 19:39] #765 closed

[2020-07-16 18:49] mitselplik opened #1302 "Why is IAnnouncer marked obsolete?"
Call me crazy but right now I see a great deal of value in keeping this interface and the set of classes that are using it.  I want to be able to pipe migration results asynchrously as log messages occur in an IActionResult method of an API to the browser output using a text stream variation of what Stephen Cleary did here: [Streaming Zip on ASP.NET Core](https://blog.stephencleary.com/2016/11/str

[2020-07-16 19:09] jzabroski commented on #1302
Hi Jeremy,

I was not involved when it was marked obsolete, but my guess is that it was over-abstracted.  I've written up thoughts elsewhere in this projects Issues as it relates to bringing back some of the abstraction logic.  I totally get the idea of piping "log events / activities" as data and creating "log messages" from those events / activities.  That is something Its.Log does.  If you sear

[2020-07-16 19:10] #1302 closed

[2020-07-21 12:26] ikusmart opened #1304 "PostgreSQL: Unsupported DbType 'DateTimeOffset'"
I'm using PostgreSQL 12.2 with FluentMigrator 3.2.7.
I have the following column definition in my migration:

`.WithColumn("createDate").AsDateTimeOffset(7).NotNullable()`

When i run migration, I get the following exception:
[code]

If I use folowing code - the migration runs successfully:
`.WithColumn("createDate").AsDateTimeOffset().NotNullable()`

[2020-07-21 13:10] jzabroski commented on #1304
@ikusmart The Postgres [Date/Time types](https://www.postgresql.org/docs/12/datatype-datetime.html) documentation says the allowed range is 0 to 6.  Quote (**emphasis mine**):

What behavior were you expecting / like to see for an invalid Postgres precision?

[2020-07-22 18:22] #1283 closed

[2020-07-22 18:44] #1289 closed

[2020-07-22 19:02] #1278 closed

[2020-07-22 19:25] #1304 closed

[2020-07-22 19:25] jzabroski commented on #1304
Fixed.  Now throws ArgumentOutOfRange exception when you pass in an invalid precision.

[2020-07-22 21:47] jzabroski opened #1305 "Investigate NugetCommand@2 Custom -SkipDuplicate"
**Describe the bug**
Today, while releasing FluentMigrator 3.2.8, we ran into a partial failure in the deploy to nuget.org.

We may want to use the nuget.exe -SkipDuplicate flag to allow for partial failure.

**To Reproduce**
See Release-40 and Release-41 for various efforts to fix the deploy.

**Expected behavior**
If there is a partial failure on deployment, continue to upload packages.  Should

[2020-07-22 21:56] jzabroski commented on #1305
I was able to get it to work by forcibly excluding the one FluentMigrator.3.2.8.nupkg https://dev.azure.com/fluentmigrator/fluentmigrator/_releaseProgress?releaseId=41&_a=release-environment-logs&environmentId=155

[2020-07-22 22:09] #1265 closed

[2020-07-22 22:19] #1258 closed

[2020-07-22 22:19] jzabroski commented on #1258
This was actually already done.

[2020-07-22 22:20] jzabroski commented on #1237
@Jason6809  Did you ever figure out how to execute this with PowerShell?  Thanks

[2020-07-22 22:38] eloekset commented on #1180
I finally found some time (at night) to make some progress on this migration from MyGet to Azure Artifacts. After tracking down the issue with the PowerShell module (https://github.com/microsoft/azure-artifacts-migration/issues/8), it seems like I'm able to migrate all packages - it's still running though, so I have to verify that everything is moved before I check the first checkbox of this issue

[2020-07-22 22:43] eloekset commented on #1180
The next thing is to change the badge on the readme.md front page. But we've got an issue there. Seems like we have to use promoting to the **Prerelease** view to get the correct badge, because now we only get the latest version that is not a prerelease, and when I try to switch to the Prerelease view it gives me a warning that we haven't got any packages there yet.

![image](https://user-images.g

[2020-07-22 22:48] eloekset commented on #1180
Hurray! I've checked the first checkbox. All packages are migrated. I know because I saw the count to be migrated was 191 when I debugged the PowerShell module.
![image](https://user-images.githubusercontent.com/791721/88236825-3677fc00-cc7e-11ea-8d62-707681242ba2.png)

[2020-07-22 22:50] jzabroski commented on #1180
Great

On Wed, Jul 22, 2020, 6:48 PM Eivind Gussiås Løkseth <
notifications@github.com> wrote:

[2020-07-22 22:59] eloekset commented on #1180
I tried to promote a prerelase to the **Prerelease** view, but it won't help us getting the badge that we want for readme.md, because Azure Artifacts requires that we *don't* use the standard NuGet prerelease naming convention that has been working all time...
![image](https://user-images.githubusercontent.com/791721/88237136-ddf52e80-cc7e-11ea-841e-663717a2bd76.png)

I hope Microsoft can just fix

[2020-07-22 23:31] jzabroski opened #1306 "Use Nuget Installer task in AzureDevOps"
@eloekset  this will allow us to control what version of Nuget we use.

The default uses 4.x, which is rather odd.  I hard-coded it to use 5.4, as that has lots of bells and whistles.

![image](https://user-images.githubusercontent.com/447485/88239216-c2276380-cc51-11ea-9063-608ed8ee0008.png)

[2020-07-22 23:31] #1306 closed

[2020-07-23 08:30] eloekset commented on #1180
I'll just leave this screenshot here, since I will use this GitHub issue as reference for a feature request to Azure Artifacts.
![image](https://user-images.githubusercontent.com/791721/88266140-f5f49e80-ccce-11ea-8ada-15cfd6ad1519.png)

What we need is this:
![image](https://user-images.githubusercontent.com/791721/88266378-6d2a3280-cccf-11ea-8549-2b9c68c3598f.png)

Because that's what works in V

[2020-07-23 09:02] eloekset commented on #1180
I think we need upvotes to this suggestion to get this feature: https://developercommunity.visualstudio.com/idea/703726/generate-badge-without-version-restrictions.html

[2020-07-24 21:39] eloekset commented on #1305
Looks like jzabroski already found the solution using -SkipDuplicate. https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-push

Will just have to modify the task and see if it works as expected the next time we run into a situation like this. Will update the issue once the release task is changed.

[2020-07-24 21:44] jzabroski commented on #1305
@eloekset  Note, I did not get it to work when I tried.  The main things I am confused by are: when using nuget Custom task in ADO, how do you pass in the glob of files to push?  How do you pass in the -SkipDuplicates parameter?

[2020-07-24 21:49] eloekset commented on #1305
It's easy to support -SkipDuplicate on an internal feed, but when **External NuGet server** (like NuGet.org) is selected, the option goes away. I'm afraid we'll have to switch to **custom** command instead of **push** we'll have do go some rounds before the nifty details are configured correctly.
![image](https://user-images.githubusercontent.com/791721/88438094-2db33180-ce08-11ea-9511-33d86cb4cdb

[2020-07-24 22:03] eloekset commented on #1305
Oh, I see your comment now. Forcibly excluding a package from the script sounds a bit too cumbersome. I think we should try using a custom command then. It will probably take some releases to have it correctly setup, but as long as we don't have anything that needs to be released in a hurry, we should be fine with that.

[2020-07-24 22:06] jzabroski commented on #1305
I would create a second release pipeline with two dummy packages.  FluentMigrator.Dummy1, FluentMigrator.Dummy2.  You can unlist those packages in nuget.org for end-to-end integration test.  Just define them both as Tools in the csproj and pack them.  That would avoid creating spurious releases in the main channel.  Do you agree?

[2020-07-24 22:17] eloekset commented on #1305
I think this command is correct, but it's hard to know unless we test it with some other feed maybe. Don't necessarily have to deploy to nuget.org.
`push $(System.DefaultWorkingDirectory)/**/*.nupkg;!$(System.DefaultWorkingDirectory)/**/*.symbols.nupkg -src NuGet.org -SkipDuplicate`

Two things that I'm not sure of:
1. Will the `-src` parameter understand that the value `NuGet.org` represents the

[2020-07-24 22:19] eloekset commented on #1306
oh, great! 👍

[2020-07-28 14:23] Sellec opened #1309 "WithDefaultValue error with EF.Core SQLite provider"
When using Microsoft.EntityFrameworkCore.SQLite package instead of System.Data.SQLite, looks like Microsoft.Data.Sqlite.SqliteDataReader returns "dflt_value" column descriptor as "System.Byte[]" instead of "System.Objects" when using System.Data.SQLite.SQLiteDataReader from System.Data.SQLite package.
So FluentMigrator.Runner.Processors.DataReaderExtensions.ReadTable generates error when it tries

[2020-07-28 14:29] jzabroski commented on #1309
Please provide stack trace.  Thanks for the description of the problem.

[2020-07-29 04:34] Sellec commented on #1309
Version 3.2.8.
Screenshots:
thats why the exception raises - https://c2n.me/48zpI5b
with error with Microsoft.EntityFrameworkCore.Sqlite - http://clip2net.com/s/48zpzuo
without error with System.Data.SQLite - http://clip2net.com/s/48zpAKx

Exception stack trace:

Call stack:

 	System.Data.dll!System.Data.DataColumn.this[int].set(int record, object value)
 	System.Data.dll!System.Data.DataTable.Ne

[2020-08-07 00:16] jzabroski opened #1310 "AsStringMax() / AsAnsiStringMax()"
Darren Oster on Stack Overflow had this brilliant siggestion: https://stackoverflow.com/a/2496809/1040437

Only difference is I think it should be called `AsStringMax` and `AsAnsiStringMax` so that it's easier to discover via IntelliSense/Resharper

[2020-08-07 12:57] kiranbhadani opened #1312 "Improve version table check"
I am using FulentMigrator v3.8.2, with .Net core 3.1 and MSSQL DB

**Describe the bug**
During sql profile trace for my application I found that version table check if been executed some many times on every request

SELECT 1 WHERE EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo' AND TABLE_NAME = 'MigrationVersionInfo' AND COLUMN_NAME = 'AppliedOn')

**Expected behavior**

[2020-08-07 13:02] jzabroski commented on #1312
@kiranbhadani So, if I understand your point, it's not the existence of the migration version number you want to see reduced, but the initial check to see if the AppliedOn column exists for the version table?

[2020-08-12 11:28] vijayganeshpk opened #1317 "The framework 'Microsoft.NETCore.App', version '2.1.0' was not found"
**Describe the bug**]
Unable to run out of process migration on MacOS Catalina

When trying to run `dotnet-fm` getting error

[code]

**To Reproduce**
1. Install global tool `dotnet tool install -g FluentMigrator.DotNet.Cli`
2. Try to execute the tool even without any parameters `dotnet-fm`

**Expected behavior**
Get an help text

**Information (please complete the following information):**
 - OS:

[2020-08-12 16:11] jzabroski commented on #1317
Hi @vijayganeshpk Thanks for reporting this.  Unfortunately, this is not a bug - it is exactly what the message indicates.  When you run dotnet-fm, what you are actually running is dotnet.exe, so the error message you get is before dotnet-fm even executes.

The solution for now is to install .NET Core 2.1.  We're working on #1178

[2020-08-12 16:11] #1317 closed

[2020-08-13 07:08] i-sinister commented on #771
Why is this issue closed? Problem still exists in 3.2.1 - schema name explicitly specified in migrations is still used. This prevents running migrations at multiple schemas based on the connection string and server configuration. There are several scenarios for this like 'multiple instance for QA for different versions of app' or 'using separate schemas for different customers', to name few.

With

[2020-08-17 19:24] jzabroski commented on #771
The workaround was described.  Basically, the issue is solved but not integrated directly into the main product, because scraping the connection string for search_path and any other connection-specific things is probably best left as a customization by the user.

The search_path is for SQL you wrote; it was never intended to be respected by automatic SQL scaffolding tools like FluentMigrator.  If

[2020-08-17 19:28] jzabroski opened #1318 "Allow DI injection of Quoters in Processor constructors"
PS: [PosgressProcessor also instantiates PostgressQuoter](https://github.com/fluentmigrator/fluentmigrator/blob/v3.2.1/src/FluentMigrator.Runner.Postgres/Processors/Postgres/PostgresProcessor.cs#L54) which makes it impossible to override it in the container.

_Originally posted by @i-sinister in https://github.com/fluentmigrator/fluentmigrator/issues/771#issuecomment-673303328_

[2020-08-18 06:32] i-sinister commented on #771
Issue description tells that generated sql "bypasses search_path" and uses "public" schema name hardcoded in the migrator library and suggested workaround is ... using schema name that is hardcoded in application. How is this "not bypassing search_path"?

search_path is for any sql statement executed by postgres server and there no difference between a scripts generated by migration libraries and

[2020-08-18 11:43] eallende commented on #812
Hello, I have an issue with this solution.
When you want to have more than one DeleteColumn expressions like this in the same migration:
`Delete.Column("Col1").FromTable("TableName");`
`Delete.Column("Col2").FromTable("TableName");`
When it tries to delete the second Column, it throws an error saying that Col1 is not a column. And that's right actually because I have deleted previously.
Any workar

[2020-08-18 13:41] jzabroski commented on #771
You can scrape the search_path value from the connection string by creating a lambda that returns an IConnectionStringAccessor.  There's no requirement it has to be hardcoded.  Workarounds can range from simple to more sophisticated.  I think in this case Mark was just trying to explain where the hooks are, without writing all the pseudo-code (because then people expect you to just go implement it

[2020-08-18 13:51] jzabroski commented on #771
Actually, and this is hard to infer by looking at the code since it looks so similar to Postgres, but the MySqlQuoter is actually equivalent to saying "Use the database name from the connection string as current schema", which is similar to your feature requirement, it's just that the default schema comes from a different part of the connection string.  MySQL `schema()` does something different th

[2020-08-18 14:05] jzabroski commented on #771
@i-sinister I will implement a way to lock all old discussions with a robot that mentions the proper etiquette.  I think you raised a number of good process points here and made me think more deeply about various project management issues, so thank you.  Hope we can continue this discussion.  I plan to start locking old threads soon with a notice that communicates guidelines on opening new issues.

[2020-08-18 14:20] jzabroski commented on #1237
@Jason6809  Hi - I am going to close this issue. Please re-open if you have renewed interest in getting help.

[2020-08-18 14:20] #1237 closed

[2020-08-18 14:21] jzabroski commented on #1312
@kiranbhadani Can you please respond.

[2020-08-18 14:37] jzabroski commented on #812
If you use two separate migrations, does it still throw an error saying that Col1 is not a column?

[2020-08-18 14:45] kiranbhadani commented on #1312
@jzabroski  Yes, that's correct

[2020-08-18 14:54] jzabroski commented on #1312
Ok, I'll look at the commit history to see why it was done this way.  If it seems like an oversight instead of a feature (e.g. for compatibility with a database like SQLite or some other db with limited features), then will look to only do this call once.  At first glance, it does seem like an oversight.

I will put this as a 4.0 milestone, since its technically a breaking change in behavior and v

[2020-08-18 14:59] c17r commented on #1035
I'm in a similar boat of multi-tenant with no data commingling, my layout is
1. shared_db: user accounts, site configuration, includes mapping a client to an ops database
1. ops_###_db: operational data, one per client
1. reporting_db: data warehouse

I'm using Tags to map a migration to a database "type". My migration plan is to:
1. run the shared migrations
1. query the client<->ops mapping tabl

[2020-08-18 15:16] eallende commented on #812
No, no that way. But still I wanted to be able to have them on the same migration

[2020-08-18 15:32] jzabroski commented on #1035
@c17r Thanks for the detailed use case layout.  Very helpful.

WithGlobalConnectionString is per service provider.  So, if you're _only_ referencing FluentMigrator objects within your DI scope, you can just create multiple service providers and dispose of them when you're done.  The "Global" is really per ServiceCollection _at the point you call `BuildServiceProvider();`_

[2020-08-18 15:35] jzabroski commented on #812
I don't have the bandwidth right now to do a deep dive and figure out whether this is possible.  I'm sorry.  Just giving you proper notice that you're stuck with the separate migrations approach for now.

[2020-08-19 07:53] i-sinister commented on #771
This would not be necessary in the first place if postgres processor were working like mysqls instead of putting "public" schema everywhere. Also workaround does not work when search_path is not specified in connection string. But, again, mysql implementation does not require any workaround because it does not contain any magic default schema name.

I'm criticizing design decisions for postgres ru

[2020-08-19 15:31] jzabroski commented on #771
OK, I re-read our discussion.

1. You're not advocating we support `search_path` from the connection string (which is _what this issue is about_)
2. Instead, you're advocating we we support `current_schema()` instead of `"public"` in the places you mention.

I think the proposed fix then is the following (if you agree and want to do the work to create the PR and write the tests, that would be awes

[2020-08-20 10:27] i-sinister commented on #771
Here is the essential part of issue description:

So lets take it line by line:
1. it tell `**...eg when set in ... connection string**` - so this is just an example of how search_path can be configured but if search_path is not configured in connection string it does not mean it is not defined and should not be handled. Put it another way - search_path is always defined for the session even if it

[2020-08-20 11:21] jzabroski commented on #771
Can you comment on whether the fix I outlined solves your problem? It sounds like you want it to add a feature toggle, but otherwise you have not weighed in on it?

[2020-08-21 06:03] i-sinister commented on #771
No, this fix will make generated queries look like `CREATE TABLE current_schema()."MY_APP_TABLE_NAME" ...` which is not a valid sql.

[2020-08-24 10:46] oivindth opened #1323 "Adding Runner without dependencies to other database types"
It should be possible to add migration runner without adding dependencies to other database types.

Can AddFluentMigratorCore() and IMigrationRunner be moved to FluentMigrator.Runner.Core package so that I can add Runner.Core package instead of Runner package which has all the db dependencies?

[2020-08-24 12:26] jzabroski commented on #1323
Hi @oivindth , there is an open PR for this concept.  #1198 . I haven't given it much attention because I've been doing a lot of "product management" type work after taking over the project from @fubar-coder .

I think it should be possible to do as you suggest.  The main blocking ticket is for me to finish up #1178 and merge the 4.0 branch with the 3.0 branch (75% done).

[2020-08-24 13:05] jzabroski commented on #1323
I did an initial review of @gliljas #1198 PR this morning.  My synopsis is here; https://github.com/fluentmigrator/fluentmigrator/pull/1198#pullrequestreview-473416186

[2020-08-25 09:55] igitur commented on #956
For anyone else coming here, to disable the stripping of comments in `FluentMigrator.Console`, use the `--strip-` flag (notice the `-` at the end).

[2020-08-25 12:50] jzabroski commented on #956
That's weird.  I never noticed that.  Will have to check that.  Created a doc ticket. https://github.com/fluentmigrator/documentation/issues/30

[2020-08-26 22:57] jzabroski commented on #1178
@fubar-coder

I tried this but I found it was tricky to "just use c# 8".  I followed Stuart Lang's guide, in particular, and what I found is that when non-.NET Core 3.0 target frameworks use C# 8.0, if you include features like switch expressions in the code, you get lots of "Red ink" in the Visual Studio IDE that throw off the whole experience of using Visual Studio.  I found Stuart Lang's guide

[2020-08-27 15:26] jzabroski commented on #771
@i-sinister Any thoughts on the last two replies?  Understand you're probably busy hitting a deadline.  I put together the above in part to help you.

[2020-08-27 21:29] jzabroski opened #1326 "`.Covering()` extension for Index creation"
**Is your feature request related to a problem? Please describe.**
It is common when creating indexes to create a "covering index" where the included columns on the leaf node allow the query optimizer to only traverse the non-clustered index, thus avoiding traversal of the clustered index as well.

**Describe the solution you'd like**
[code]
In this way, `.Covering()` is a wrapper around `.Include

[2020-09-01 12:30] pippolino opened #1327 "Create NuGet FluentMigrator.Runner.Common for remove dependencies to DB package from FluentMigrator.Runner"
When the "FluentMigrator.Runner" package is included as a dependency, all packages from the various DB implementations are also included as they are called dependencies. Example: "**FluentMigrator.Runner.Db2**" or "**FluentMigrator.Runner.Oracle**"

It would be convenient to have a package just for "**FluentMigrator.Runner.dll**" by calling it "**FluentMigrator.Runner.Common**" and add this depend

[2020-09-01 13:09] #1327 closed

[2020-09-01 22:13] jzabroski commented on #771
@i-sinister I moved the above table and footnotes to: https://github.com/fluentmigrator/fluentmigrator/blob/master/adr/proposed/DefaultSchema.md

[2020-09-02 12:49] jzabroski commented on #1327
@pippolino Yes, that is under consideration.  I am guessing you closed this because you found the related issue.

[2020-09-02 20:31] pippolino commented on #1327
Yes ... 👍

[2020-09-03 07:54] igitur opened #1332 "Order of statements using Execute.WithConnection() and Execute.Sql()"
**Describe the question**
I'm trying to use `.patch` files to migrate my MSSQL stored procedures instead of describing the full stored procedure for UP and DOWN migrations. (Side note: because I'm simultaneously dealing with many code branches and using the traditional approach I found that after merging branches, some stored proc migrations might undo older changes. And patch files can be applied

[2020-09-03 15:43] igitur commented on #1332
BTW, I couldn't find any unit tests for `.WithConnection()`. Did I just not search hard enough?

[2020-09-03 17:41] jzabroski commented on #1332
That's a really interesting approach to versioning stored procedures.

Execute.WithConnection does execute _its' contents_ "out of sequence", in a way.  The issue is that FluentMigrator collects all "commands" first, then executes them.  So, FluentMigrator merely collected _the promise_ to execute some lambda, not the _result_ itself.  This can lead to some counter-intuitive behavior when mixing D

[2020-09-03 17:43] jzabroski commented on #1332
BTW, the workaround is to simply move your Execute.WithConnection into its own migration.  Its not a 100% workaround because you can't capture the side-effects of the computation itself.  The other workaround is to not directly couple your connection logic to IMigration interface, and instead write delegates that take a IDbConnection and IDbTransaction as parameters, because then you can daisy cha

[2020-09-03 17:52] jzabroski commented on #1332
I suppose if we implemented #854 , we could each top-level command return a Task, and have a way to ContinueWith the migration.  Perhaps then a `With.Task` or something could be used to get any results from Execute.WithConnection.  This would be more possible with return type covariance mentioned for C# 9.0 https://devblogs.microsoft.com/dotnet/welcome-to-c-9-0/

However, it would also mean droppi

[2020-09-04 13:24] sturled commented on #1023
Got a new keyboard? Any plans on wrapping this one up?

[2020-09-08 06:34] ParthiKarnan opened #1333 "Can not able to run fluentmigrator's migration using command line with net core app 3.1"
I'm building .NET Core 3.1 application projects with PostgreSQL Databases. I'm trying to migrate all the tables to PostgreSQL database using fluentmigrator package from command line by using the below command.

When I run the above command I'm getting the below error.

-------------------------------------------------------------------------------
=============================== FluentMigrator ===

[2020-09-09 17:17] jzabroski commented on #1333
@ParthiKarnan It looks like you're using an ancient version of the FluentMigrator runner.  Can you please upgrade to the latest version?

[2020-09-09 17:17] #1333 closed

[2020-09-09 17:19] jzabroski commented on #1332
@igitur Curious how you made out?

[2020-09-11 06:31] igitur commented on #1332
Promise I'll give feedback when I do anything. Have been working on other stuff in the meantaime. Thanks for the replies though.

[2020-09-15 18:40] amirmokarram opened #1341 "Transaction per session"
Hi
I need run multiple transaction per session in one scope because I have multiple databases.
If failed one migration entire databases rollback all executed migrations.

I think if pass transaction on each session best solution for me.
Please help me about this situation.

[2020-09-16 11:03] emejibka opened #1342 "Why `dotnet fm migrate` does not run tagget migration if tag parameter is omitted?"
fm v 3.2.9

I run migrations with command
`dotnet fm migrate --verbose -p oracle -c connection_string --processor-switches "Force Quote=false" -a migrations.dll`
and migrator skip all migrations with tags. How to run `fm migrate` with all migrations in assembly (with tags and withoute tags)?

[2020-09-16 13:07] jzabroski commented on #1342
Hmm... I don't think we've had this specific request before (being able to Tag a Migration, but to then ignore the Tag).  As such, there is no support for this feature at this time.  You would have to create your own Runner and replace the logic for filtering based on tags.

[2020-09-16 13:08] jzabroski commented on #1341
@amirmokarram Please read the documentation before filing issues - this is supported.  http://fluentmigrator.github.io

[2020-09-16 13:08] #1341 closed

[2020-09-17 00:41] mreiland opened #1343 "Execute.EmbeddedScript cannot find resource, but I can find it via reflection"
Hey There,

I'm building an sql file as an embedded resource, but I can't seem to get Execute.EmbeddedScript to find it.  Below is sample code.

This will write the output of the embedded file to the console, but the Execute.EmbeddedScript line will still throw an exception about not being able to find the

`public override void Up() {
      var assembly = System.Reflection.Assembly.GetExecutingAs

[2020-09-17 13:19] jzabroski commented on #1343
@mreiland This question is probably better suited to Stack Overflow, but I would suggest dumping out all resource names using Console.WriteLine.  Chances are you didn't specify the full namespace, or you did not actually set the file to be an EmbeddedResource type.

[code]

[2020-09-17 13:19] #1343 closed

[2020-09-22 00:26] wtilton commented on #1014
Trying with 3.2.9 and doesn't seem to work. I'll try looking into Octopack but running migrations has started to be a big PITA. First stopped working when upgrading to .NET Core 3.1 now this.  :(

[2020-09-22 00:55] jzabroski commented on #1014
@wtilton can you elaborate?

[2020-09-22 03:32] wtilton commented on #1014
Sure thing, sorry about that. I'll confirm more things tomorrow back at work. What happened is that I added two references, one to System.Data.SqlClient and another to a EPPlus. The error that's returning seems to be similar to the OP where it cannot find the dll. When I did a **dotnet publish** and ran it in there there was a different error where it said that couldn't find a different dll even t

[2020-09-22 03:37] wtilton commented on #1178
Is there anything we could do to help get this to completion? I wouldn't mind donating some time although admittedly have no idea where to start or how to help.  I started looking into this and it started to become a rabbit hole for me.

[2020-09-22 11:48] mtugnoli opened #1344 "Ignore Attribute"
In my class I have a field that doesn't exist on the database, is there a function to ignore it?

[2020-09-22 12:13] jzabroski commented on #1344
@mtugnoli Thanks for your question, but I'm not sure what you are asking. FluentMigrator doesn't directly use class properties. Can you please upload some sample code or rephrase your question?

[2020-09-22 12:14] mtugnoli commented on #1344
Sorry, you are right !, I was studing a project, but is my error !!
Thank you anyway !

[2020-09-22 12:19] jzabroski commented on #1014
I am the OP :)

But this issue is a bit tricky and if you're using the FluentMigrator.MSBuild.dll, the biggest problem you'll have is loading the DLL into the MSBuild.exe process. Depending on which version of MSBuild you're using, you'll run into different issues. MSBUILD 16.6.5 made this a bit better by allowing you to more properly isolate things.

I think the right, general, but dirty fix is t

[2020-09-22 13:39] #1344 closed

[2020-09-22 17:40] wtilton commented on #1014
Whoops, my bad lol.

I'm not sure what MSBuild version I have, but I'll find out. I'm simply trying to run **dotnet fm migrate** commands and getting errors like

[code]

when the DLL is plainly there in the folder sitting about just hoping to be loaded.

I'll research this, but I haven't looked at the code much. I'm assuming that the assembly resolver would be someplace in the CLI project somepla

[2020-09-22 17:48] wtilton commented on #1014
My MSBuild version is 16.4.0.56107, I'll see about updating to 16.6.5.

[2020-09-23 00:41] wtilton commented on #1241
Is there anyway to use the in process in a blank project to generate SQL scripts? That's my goal, but not finding a way to get it to work.

[2020-09-23 18:39] wtilton opened #1345 "Not able to generate SQL with dotnet-fm CLI"
**Describe the bug**
I'm trying to execute SQL that FM can then use to make a migration script. To do that I've included System.Data.SqlClient through nuget to grab data from the database. Upon running the CLI I'm receiving this error that says it can't find the System.Data.SqlClient.

[code]

**To Reproduce**
[https://github.com/wtilton/FluentMigratorWithExternalDllsBug](https://github.com/wtilto

[2020-09-23 19:03] jzabroski commented on #1345
What version of dotnet-fm do you have installed?

Please provide 👍
[code]

[2020-09-23 19:28] wtilton commented on #1345
```dotnet tool list``` comes back blank. :|

[code]

[2020-09-23 19:29] wtilton commented on #1345
```dotnet tool list -g``` got it.

fluentmigrator.dotnet.cli      3.2.9        dotnet-fm

[2020-09-23 19:41] jzabroski commented on #1345
Got it.  I think the problem is FluentMigrator uses nuget package 4.4.3 https://github.com/fluentmigrator/fluentmigrator/blob/2bb058de468855a2c3aafa347e77aeb342ce1956/src/FluentMigrator.Runner.SqlServer/FluentMigrator.Runner.SqlServer.csproj#L20

I am less clear on why it is looking for System.Data.SqlClient, Version=4.6.1.2, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a

I am going to try a fe

[2020-09-23 19:44] jzabroski commented on #1345
I think, as a workaround, you can PROBABLY use any package version of this dependency that targets .netcoreapp2.0 but not any higher version.  e.g.: https://www.nuget.org/packages/System.Data.SqlClient/4.4.3

I would not be surprised if this works too: https://www.nuget.org/packages/System.Data.SqlClient/4.6.1 - i bet that what is happening is RollForward is engaging and getting the latest .netcor

[2020-09-23 19:45] wtilton commented on #1345
Do I need to use a different project type? Should I target .NET Core 2.1? I'll try that.

I hadn't caught that but that is indeed strange. The project references 4.8.2.

[2020-09-23 19:47] wtilton commented on #1345
Worth a shot, makes sense, I'll try that.

Seems a tad easier. I'll try that as well. Thanks for some ideas.

[2020-09-23 19:52] wtilton commented on #1345
Ok, tried targeting 4.6.1, same error, couldn't find that particular version even still. Changed the project to .netcore2.0, new error wants 4.5.1, changed that. Now it says it can't find 4.0.0. Lol, wtf. I think I might be in some sort of DLL hell.

[2020-09-23 20:00] wtilton commented on #1345
It looks like FluentMigrator.Runner.SqlServer references a particular version of System.Data.SqlClient depending on the version. I'm going to remove this reference and see if that sorts things out.

[2020-09-23 20:03] jzabroski commented on #1345
Technically, you shouldn't need to include a reference to that package if FluentMigrator references it.  You should at most reference FluentMigrator.Runner.SqlServer as that contains the contracts for advanced Sql server features like identity inserts.

[2020-09-23 20:08] wtilton commented on #1345
Yeah, I don't think I actually need references to any of them to get it running.

I keep reverting the version and it's wanting 4.0.0 now which nuget doesn't have. I feel like I have to just keep playing around with version numbers until something works. I would think I would need to match the version that my dotnet fm tool wants, not sure why it's jumping around. I wonder if using a .NETStandard

[2020-09-23 21:25] jzabroski commented on #1345
I think the confusion is caused by the fact nuget package versions dont align with assembly version info numbers, unfortuantely.

[2020-09-23 21:33] wtilton commented on #1345
I've looked up how to change the nuget package manager version, but all I got was how to update to the latest.

Past that I'm going to see if I can get a local sourced copy of the CLI working, so I can start going through that specifically and see if I can load the dependent DLLs through the service locator. Not sure if that's entirely correct, but have been reading up on dotnet tools, and MEF, ma

[2020-09-23 21:34] wtilton commented on #1345
Oh, I wonder if I can package the source that I have on my computer and then use my version of nuget to pack and deploy it to my own machine. That might be another idea.

[2020-09-23 22:44] jzabroski commented on #1345
Looking more carefully at your solution: Rather than use the following:
https://github.com/wtilton/FluentMigratorWithExternalDllsBug/blob/master/TestMigration.cs#L12-L14

Instead use `Execute.WithConnection` and don't use the provider specific System.Data.SqlClient namespace.  Just use System.Data.

[2020-09-24 17:56] wtilton commented on #1345
I'll try this now

[2020-09-24 18:14] wtilton commented on #1345
Doesn't seem to work: https://github.com/wtilton/FluentMigratorWithExternalDllsBug/tree/WithoutSqlData

Migration should spit out **select 1**, has **select 0**.

[2020-09-24 18:21] jzabroski commented on #1345
This is probably one of the only gotchas with using FluentMigrator - Execute.WithConnection is a promise to execute something, not the execution itself.  So, it captures a lambda.  When the [following statement](https://github.com/wtilton/FluentMigratorWithExternalDllsBug/blob/WithoutSqlData/TestMigration.cs#L16) runs, its not in the enclosed scope you think it is.

[2020-09-24 18:22] jzabroski commented on #1345
I think I should add some xmldocs to Execute.WithConnection, as this is probably the third time in the two years somebody gets tripped up by this.

[2020-09-24 18:44] wtilton commented on #1345
Makes sense. I was seeing this behavior and was splitting up migrations based off of that. What I'm trying to do though is transfer data from one database to the other so I need the data. I might have to go deep into my SQL-fu to see if I can do all of this directly in SQL.

[2020-09-24 18:51] jzabroski commented on #1345
I got it.  Well, the simplest workaround that will let you use a SqlConnection is to create your own In-process runner (effectively, without going into magical details, when you copy-paste the FluentMigrator.DotNet.Cli.csproj code, MSBuild does some magic to create binding redirects for you that avoid the above exceptions).  I realize that's not desirable, but it will get you from point A to B.

I

[2020-09-24 18:51] wtilton commented on #1345
I think I can get around it in some parts, but in others, not so sure. I'm using a regex here to parse out individual comments from a comments text. Not sure how to do that in sql, maybe insert something into a temp table, problem I think is how do I get the darn data first lol.
[code]

[2020-09-24 19:00] wtilton commented on #1345
Do you mean recreate the FluentMigrator.DotNet.Cli project? Because if so, I did already do that. Same issue. I was thinking of also making a copy or update  the FluentMigrator.Runner.SqlServer to use my same version.

I've been using FM probably since it has come out and don't think I've had this requirement before. Works perfectly through the in-process runner. I'm actually moving data from 2 ot

[2020-09-24 19:05] jzabroski commented on #1345
Hmm... Ok.  I need to look more deeply into this.  I feel like I am missing something  Thanks for all your details!

[2020-09-24 19:33] wtilton commented on #1345
Thank you for being along for the ride on this one. If there's anything I can do to help the project evolve I'm down to do it.

[2020-09-24 19:44] jzabroski commented on #1345
@wtilton That would be awesome.  The .netcoreapp3.1 code is stuck in my github.com/jzabroski/FluentMigrator and the remaining TODOs are listed out in #1178 .  I have a bunch of stuff I did to factor out the SAP SQL Anywhere stuff still not checked in in my local.  I probably should have just bit the bullet and deleted SQL Anywhere, but the reason I kept at it is that long-term, some customers want

[2020-09-24 20:41] PhenX commented on #1129
For your information I started working on it with Rider here : https://github.com/fluentmigrator/fluentmigrator/compare/master...PhenX:feature/docker

![image](https://user-images.githubusercontent.com/42170/94198050-f23fec80-feb6-11ea-8bb4-f2974e84292f.png)

[2020-09-24 21:12] jzabroski commented on #1129
@PhenX  Wow, great job.  It looks like you didn't mean to `git add .idea`, based on your `.gitignore` file.  Maybe you updated the gitignore file after?  If you can, maybe squash those commits locally so its easier to follow the changes you made to get all this working?

Or is .idea/runConfigurations integral to getting this working?  I was envisioning using TestEnvironment.Docker, a project creat

[2020-09-24 22:52] wtilton commented on #1345
My biggest thing lately has been time. I've read a little of the docs that you put up, looks great, I just have a big lack of understanding of the code base. It's gotten better as I've gone through trying to tackle this bug, but I'm still not even understanding what the issues are with the existing codebase to really give you anything constructive.  Do you have the buy in with the rest of the team

[2020-09-24 22:52] #1345 closed

[2020-09-24 22:56] jzabroski commented on #1345
I use FluentMigrator almost daily in my consulting, so I think I benefit a lot from any improvements I put into it.  In terms of fixing this issue, I will try to get to it soon.  I've been thinking of just pushing #1178 over the goal line and dropping SAP SQL Anywhere support, as that is the main thing slowing me down, because they do not seem to be maintaining the library and providing a .NET Cor

[2020-09-24 23:04] wtilton commented on #1345
Then that makes sense then. I use it maybe 2-3 times a month. This month we're just transferring all data to our new shiny DB.

If it was me, I would drop anything that doesn't have .NET Core support and move on. Devs using that can use older versions I'd think. The more I think about it though, some sort of plug-in system would make sense to me.

[2020-09-26 15:03] jzabroski opened #1346 "Build agent to sign tags."
https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/signing-tags

I'm not sure why, but releases created today don't use tag signing.  Even though we create them through the Web UI.  @eloekset does this even make sense to do?

[2020-09-26 15:21] #1206 closed

[2020-09-26 15:24] jzabroski opened #1347 "Vacation October 5 - October 20, 2020"
I'll be taking my first vacation in awhile during this time, and plan to unplug from computers.  As a result, I won't be responding to issues on stackoverflow.com or github.com.

[2020-09-26 15:26] jzabroski commented on #1183
@eloekset Can we officially kill off the old myget feed now?  And then close this sticky issue?  If not, is there anything I can help with?

[2020-09-26 16:36] jzabroski opened #1348 "master / develop code merge (v4 is here to stay)"
Hi All,
I put together the following Google Doc to track the work needed to get master and develop back in sync.  Once this is done and #1178 is done, we should be ready to easily ingest .NET 5.0 release.  I am pretty confident we will be ready for .NET 5.0

https://docs.google.com/spreadsheets/d/1dd8bD5pTznS85auIzTCCXF44Ol_gcjpdXJhr6cB6fDc/edit?usp=sharing

[2020-09-26 17:22] jzabroski commented on #911
Closing due to inactivity.  We have code coverage for this issue, so if it is truly breaking in new ways moving forward, the test should catch it.

[2020-09-26 17:22] #911 closed

[2020-09-29 22:28] jzabroski commented on #789
@jonp200 Just wondering how you see this working?  What would Alter.StoredProcedure do?

I have an extension method in my personal projects that is called `AlterStoredProcedure(string schema, string objectName)` and `DropStoredProcedure(string schema, string objectName, bool temporaryDrop)` but they assume a specific project layout for embedded resources.

[2020-09-30 17:50] PhenX commented on #1129
Hello John, yes I meant to add some files inside .idea that allow Rider / Resharper users to share some configuration.
At the beginning I wanted to let Rider take care of the containers because it helps a lot, but now that I saw the project https://github.com/Deffiss/testenvironment-docker you mentioned I think this is the right approach.
The containers I set up will help me a lot to contribute to

[2020-10-01 06:48] igitur commented on #1332
Unfortunately this isn't a viable solution to me, because the 2 "parts" form an atomic operation. Even if I were to do it with the up migration, it would break the down migration.

My 2 "parts" are:
- Get stored procedure script using `sp_helptext` and patch it. This all runs in `Execute.WithConnection`
- Run `Execute.Sql()` with the patched script.

So in the down migration case, it should be the

[2020-10-01 14:50] jzabroski commented on #1332
Sure.  Update the README with a link to third party projects if/when you do.

I personally don't think patch-based approach should go into core, but I do want some built-in support for views and stored procedures.  The problem is that you would then need to configure the "layout" for the text in those files.  What I do in my own projects is:

* FluentMigrations.csproj
  * /Schema folder
    * /Fun

[2020-10-01 14:55] jzabroski commented on #1332
Yes, this is what I meant in "the other workaround" (re-quoting below):

I actually do this workaround more these days than not, as I don't want my logic to be directly coupled to FluentMigrator, per say.  For example, I have functions that take an IDbConnection and IDbTransaction and refresh a database object in a SQL Server database by calling [`sp_refreshsqlmodule`](https://docs.microsoft.com/e

[2020-10-01 14:57] jzabroski commented on #1332
BTW, this may seem dumb, but - rather than use patches, why not just dump a copy of the entire object tree into a folder structure where the parent folder is a release name.  Then your migration simply computes a sha1 hash sum on the most recent release name and the previous release name, and does a file comparison for differences.  Then you avoid the complexity of figuring out how a patch got app

[2020-10-03 05:17] BigYellowHammer commented on #1219
This issue can be closed

[2020-10-03 12:38] #1219 closed

[2020-10-09 13:14] brunoAltinet commented on #640
Just a quick fix for latest FluentMigrator (3.2.9)
`using FluentMigrator.Expressions;
using FluentMigrator.Infrastructure;
using System;
using System.Collections.Generic;
using System.Linq;
using FluentMigrator;
using FluentMigrator.Model;
using System.Data;
using System.ComponentModel;

namespace MigExt
{
    public abstract class MigrationExt : Migration
    {
        public IMergeExpressionRoot

[2020-10-14 21:07] aderderian commented on #1053
Anyone have any updates on this thread? Looking to add Temporal Tables to our Data Warehouse and we use Fluent for our dynamic table migrations and would like to be able to add versioning tables automatically.

[2020-10-15 21:17] jzabroski commented on #1053
I implemented this using extension methods and then nobody on the team really used it. The big pain point was (a) discoverability (b) quirkiness with migrating existing tables to use system periods if they were previously managed via triggers.

[2020-10-16 11:24] aderderian commented on #1053
Thanks @jzabroski . I see you're in Boston. So am I!  My scenario would be for new tables. Did you extension method handle the entire use case of adding the proper columns and the PERIOD command? I was just going to run some SQL via EXECUTE command to ALTER the table after creation, then in the Down() method just drop the history table manually as well. Did your solution work for new tables? Thx!

[2020-10-20 10:25] EngSayed opened #1364 "DefaultMigrationInformationLoader constructor has IMigrationSource parameter which is an obsolete"
https://github.com/fluentmigrator/fluentmigrator/blob/2cdee6deae07edfefe8c464fedcc6d51e44cd5c7/src/FluentMigrator.Runner/DefaultMigrationInformationLoader.cs#L86

DefaultMigrationInformationLoader class has multiple constructors but the only one which is not obsoleted, has a parameter of type IMigrationSource which is an obsolete reference and it is written to use IFilteringMigrationSource instead

[2020-10-20 23:54] jzabroski commented on #1053
Yes, for new tables its fairly straightforward to support.

The use cases are:

1. Converting existing history tables to use system versioning
2. Validating a system versions table has contiguous periods, as FOR SYSTEM TIME queries depends on this contiguous periodicity to return correct results.  I use maintenance Migrations at the end of all SQL Server up Migrations to validate the data is in a

[2020-10-21 02:11] jzabroski commented on #1364
I see your point but in this case it's really a lightweight warning. I have plans for a different task interface that uses a tagless final embedding instead where neither interface will be required. Note, IFilteringMigrationSource implements IMigrationSource.

The reason neither of these concepts are great is we have many different ways to filter Migrations;
- by version number
- by maintenance
-

[2020-10-21 02:53] jzabroski commented on #640
@brunoaltinet can you submit a PR

[2020-10-21 11:35] aderderian commented on #1053
Thanks! More work than I need right now. We're always looking for help ourselves if you re looking for contracting type engagements.

We decided to go with building our own History tables and also the triggers for them being in code. The reason being we didn't want to paint ourselves into a corner with Triggers/Temporal if for instance we wanted to support this architecture in SQLite/MySql/etc. Th

[2020-10-21 12:35] jzabroski commented on #1053
Are you referring to the `IfDatabase` logic?  If so, I agree it is not great.  One workaround could be to get an `IServiceProvider` instance and ask it for an `IDbConnection` and do a type check on the instance type using C# pattern matching:

[code]

The downside to this approach is that a junior developer might actually try to manipulate the connection instance and not realize it's a phantom val

[2020-10-21 14:31] EngSayed commented on #1364
My concern for now is: as it is written on the obsolete message of IMigrationSource to use IFilteringMigrationSource to get better performance, would that affect DefaultMigrationInformationLoader class?

[2020-10-21 14:33] jzabroski commented on #1364
It has nothing to do with performance and everything to do with the fact filtering was not correct because IMigrationSource did not have all the metadata necessary to filter migrations.

[2020-10-22 15:15] jzabroski commented on #1364
I think we can probably create another overload that avoids the path that leads to the message by providing a more specific overload.  Let me know if you want to submit a PR to fix that.  That would allow people who are using the library externally and shipping their own runner to avoid warnings in their code.

[2020-10-27 07:37] a-jamil-idware commented on #603
How can I enable Quoted Identifer for Oracle DB?

[2020-10-27 09:33] a-jamil-idware commented on #687
@fubar-coder
Can I do that for Oracle as well using "OracleQuoter" class?

[2020-10-27 13:48] jzabroski commented on #603
@a-jamil-idware That would be a feature request.

[2020-10-27 13:53] jzabroski commented on #687
@a-jamil-idware Yes, you can look at where PostgresQuoter is used and add similar support for an OracleQuoter.  Happy to accept a PR and get it merged quickly (within one week turnaround usually).

[2020-10-27 13:54] jzabroski commented on #687
Related comment: https://github.com/fluentmigrator/fluentmigrator/issues/603#issuecomment-94649803 explains why by default we wouldn't quote.  Although, I am a bit skeptical that quoting really does force case sensitivity of variable names

[2020-10-27 13:59] a-jamil-idware opened #1365 "Enable Quoted Identifier functionality for Oracle in C#"
Just like for PostgreSQL we can override the functionality of Quoted Identifier, There should also be a way to do that for Oracle using DI.

[https://github.com/fluentmigrator/fluentmigrator/issues/687](for reference)

[2020-10-27 14:03] a-jamil-idware commented on #687
I understand quoting does force case sensitivity, I would have created a PR for that but I am extremely busy and I have temporarily used character escape. I think there should be a proper way for that and I have added a feature request for this [Enable Quoted Identifier functionality for Oracle](https://github.com/fluentmigrator/fluentmigrator/issues/1365)

[2020-10-27 14:22] a-jamil-idware commented on #687
@jzabroski  I will create a PR for the above mentioned feature request.

[2020-11-05 07:35] ig-sinicyn opened #1367 "Add support for PgSQL partial indexes"
Fluent migrator does support filtered index creation for SQL Server. It will be nice to have same feature for PG SQL.

As a real-world use case, we need to add unique constraint for nullable columns treating null as unique value.
There're [some solutions on stackoverflow](https://stackoverflow.com/questions/8289100/create-unique-constraint-with-null-columns) but no one can be easily made via Fluen

[2020-11-12 06:11] seanmars opened #1377 "Rollback not working when get error in migration up"
**Describe the bug**
When migration up, if get error the rollback not working properly.

**To Reproduce**
1. Create a Migration class like below

[code]

2. Use this class to do migration up
3. It will get error "!!! Key column 'wrong_column' doesn't exist in table"
4. After it, it still get the `test` table in database

**Expected behavior**
I think in this migration it will rollback all action i

[2020-11-12 07:30] RodionM opened #1378 "Check constraint is not created in Azure Database"
I have a migration that creates CHECK constraint for a table.
Examples:
Simple example
`alter table [TableName] add constraint [C_ConstraintName] check (not ([IsDefault] = 1 and dbo.IntScalarFunction() > 1));`

Example of SQL server generated script for needed constraint
[code]

Examples were run in migration as raw SQL via Execute.Sql method.

When I run this migration against default MS SQL data

[2020-11-12 09:32] #1378 closed

[2020-11-12 12:29] michasacuer opened #1379 "Update column where value is not null"
**Describe the question**
I want to update columns where values are not null. I can find values that null in my database like that:

[code]

but how to reverse `Where(new { IsValid = DBNull.Value });` condition to `is not null` ?

**Documentation Pages You've Read So Far**
github docs

[2020-11-13 18:32] mrclayman commented on #982
Why do I need to pull in runners for all database providers just to be able to use `AddFluentMigratorCore`?

[2020-11-18 14:39] nZeus commented on #882
Hi.

I have the same problem, but I wonder if a different solution can be implemented?

This works, but it ends up as an ugly workaround, as many services need to be re-registered.

This doesn't work if you get the connection string after the service provider has been built.

I couldn't find any documentation for this one. Could you please share some links?

---

Ideally, it should be possible to

[2020-11-18 15:58] fubar-coder commented on #882
@nZeus As a migration is something that you should only do at the start of your services, why don't you just create your own service collection just for the migration services?

I don't think that there is a need to have long-lived services with changing connection strings.

BTW: Adding `SetConnectionString` to the migration runner will most likely never happen. As I wrote, you can always create y

[2020-11-18 16:37] jzabroski commented on #882
I agree, it does not make sense to change a connection string for things that might have disposable object graphs related to that connection.  It's too clever by half to try to just update the connection string and assume nobody has some static state somewhere that could leak across connection strings.

Just create unique service collections and key them with what you want to do.  There is no free

[2020-11-19 14:55] nZeus commented on #882
This is what I did in the end, but a deferred setting of the connection string would simplify it.

Well, I think you're right, in the end. Even though it would be _convenient_ to have such a feature, it's not the root cause of the problem. And even if there would be a mechanism to set the connection string after it's added to the service collection, we would then need to have a way to re-initializ

[2020-11-20 01:32] jzabroski commented on #882
Thinking about this. It is a known problem that Microsoft DI does not allow ambient contexts. You can't `Func<Runner> Runner {get;set;}`. Instead you need to create a meta interface that returns an enumeration of runners each configured differently.

If you happen to think of a different approach I would like to learn it.

[2020-11-20 08:26] nZeus commented on #882
No, I don't, I ended up implementing the first approach.

Thank you guys for the help and thoughts.

[2020-11-20 15:50] kevinlong206 opened #1383 "Running fluentmigrator from linux, is mono still required? .net core?"
**Describe the question**
Is using 'mono' still the only way to get fluentmigrator running in Linux? I have a use case where I need to run it in a linux container from a ci/cd pipeline. I see mention of supporting .net core in past github issues, can the project be built and run using .net core without mono now?

These steps in a Dockerfile seem to work to get the Migrate.exe to run, I'm just wond

[2020-11-20 17:58] jzabroski commented on #1383
I think the limitations are with the driver programs. We had started to look into using TestEnvironment.Docker to verify end to end integration tests. Fabien Menager has made some PRs to that repo and the main issues were around culture issues related to Oracle needing time zone I think.

[2020-11-20 19:26] kevinlong206 commented on #1383
@jzabroski  thanks for the reply - I'm still unclear though.  My goal is to run fluentmigrator on ubuntu container, and run migrations against azure SQL.  Is mono the best way, or can I use .net core without mono?  For context I am a linux guy with basically zero .NET experience, trying to do some devops stuff for a windows dev team.

[2020-11-20 20:36] fubar-coder commented on #1383
`FluentMigrator.Tools` is a somewhat special case, as it contains drivers and native DLLs that are meant to be used from Windows and mono was the best way to execute those assemblies. It might be possible that the `FM.Tools` tool is executable with .NET 5.0, but I haven't tested it yet. However, when you write your own migration tool, you can definitely use it from .NET Core (running on Linux) to

[2020-11-20 20:43] kevinlong206 commented on #1383
@fubar-coder the team I am working with just runs Migrate.exe . It looks like I can run Migrate.exe via mono, and if that is the solution then it's fine. I just don't know if there is a better way. We didnt have plans to write a new migration tool, just to run the existing tool from linux.

[2020-11-20 21:24] jzabroski commented on #1383
@kevinlong206 Thanks for the additional context.

Mark and I discussed and we think, depending on your database driver, FluentMigrator.DotNet.Cli might be a better approach than the exe. It uses a special type of Nuget package called a Tool that can be installed globally or locally.

I recommend installing it locally via creating a Tool Manifest. The nice thing about this is it becomes easier to i

[2020-11-21 22:38] jzabroski commented on #1379
To the best of my knowledge, this isn't possible. I would have to double check the test coverage to see if I'm forgetting something.

The workaround is to use

[code]

[2020-11-21 22:40] jzabroski commented on #1378
Hi @RodionM

This all looks good to me.

If you have a typo you can create extensions methods on Migration class to avoid typos as much as possible

[2020-11-21 22:42] jzabroski commented on #1377
@seanmars I think this is because MySQL does not support transactional DDL like SQL Server.

[2020-11-23 07:16] michasacuer commented on #1379
Waiting for updates

[2020-11-23 10:00] fubar-coder commented on #1379
It's not supported and it most likely never will, because FM is not an ORM. But you can still use the `SetExistingRowsTo` extension method for new colums. Example:

[code]

The DB processor should automatically ensure that the existing rows are set to the new value, by creating an `UPDATE` SQL statement or other means.

[2020-11-23 15:47] jzabroski commented on #1379
Well, I can honestly see supporting ORM-like expressions in some lightweight context.  It's just more of a wish list feature given the workaround is not that unpleasant.  I have never heard anyone say they wouldn't use FluentMigrator because they had to call Execute.Sql occasionally for things Update doesn't support.  I think we could spec out what that ORM-like expression syntax would look like a

[2020-11-23 17:26] jzabroski commented on #1379
@michasacuer Sorry if I just didn't understand your brief comment, but I am a little confused about what you are waiting for.  I gave you the workaround.  Why do you think you are still blocked?  Or are you just really hoping to only use the Update expression syntax?

[2020-11-23 22:24] fubar-coder commented on #1379
I fear that this might might evolve to a micro ORM over time and there are already micro ORMs.

This will look quite complicated for the average user and I'm not sure if it's woth the hassle. Another problem with this syntax is, that F# or VB.NET might produce Linq expressions that are different from C#'s. This remembers me of my colleagues that are having **massive** problems understanding the [`

[2020-11-24 00:59] jzabroski commented on #1379
That's a good point about too complicated for the average user.  The moment you said it I knew you were right.  I was just brainstorming.  I have, similar to @michasacuer , wanted to do a simple seeding on a non-nullable column.

What about one of these two variants?

[code]

[code]

[2020-11-24 07:07] michasacuer commented on #1379
Thanks for that, dont think about that comment :P If its not supported; its not and i think its the end of a topic and you can close this issue, thanks for help

[2020-11-24 08:29] fubar-coder commented on #1379
I like this one, but what about a DML interface that allows both a fluent syntax for updates and the execution of SQL statements?

Yes, we would need to be able to handle nested DDL/DML statements. Sounds interesting too.

There is still something we need to think about for each of the suggestions above: Support for "IfDatabase" or something similar.

[2020-11-24 15:56] jzabroski commented on #1383
@kevinlong206 Just wondering if you were able to have any success with the above guidance?

[2020-11-24 21:34] kevinlong206 commented on #1383
@jzabroski  thanks again for the info. I have not had a chance to test this yet but plan to in the next few weeks. I won't be offended if you close the issue and appreciate the guidance.

[2020-11-24 21:55] jzabroski commented on #1383
@kevinlong206 I think of it as teamwork, since that was open source is.  So the guidance is in part in hopes you can tell us what works for you (or if it didn't work).  I think there is a decent chance it should work, but there is a decent chance you might get a runtime exception that can be quickly fixed.

Happy holidays!  I am a big fan of Thanksgiving because, in the spirit of saying thanks to

[2020-11-25 17:33] jzabroski commented on #1379
What do you have in mind?

I thought about your comment about being ORM-like.  I had another use case for expression syntax that allows for boolean comparisons: Partitioning functions in SQL Server.  These are soooo painful to type out in T-SQL syntax with a lot of repetitiveness.  It would be a lot nicer to write some C# with higher order functions.

[2020-11-26 09:29] fubar-coder commented on #1379
Something like this:

[code]

with `IDmlExpression` being:

[code]

[2020-11-26 15:30] seanmars commented on #1377
Ok, I see, I found some information of it. You are right, MySQL does not support transactional DDL.

Sorry I am new here.

[2020-11-26 15:30] #1377 closed

[2020-12-01 16:59] jzabroski commented on #1379
I am not clear why you want to expose `Delete { get; }` and `Update { get; }` from here.  For `Delete`, how would you seed a column value via `Delete`?

Why not something closer to just:

1. Update [ColumnExpressionBuilderHelper.SetNullable(bool isNullable)](https://github.com/fluentmigrator/fluentmigrator/blob/6cc99ee81632a6a80254b7c0233394f2952163a2/src/FluentMigrator/Builders/ColumnExpressionBu

[2020-12-01 20:05] ezsoftware commented on #1109
Thank you, removing the delimiter also fixed this issue for me.

[2020-12-01 20:38] fubar-coder commented on #1379
Yes, you're right about the `Delete` part.

I'm not so sure that the `SeedWith` functionality is really useful. I'm always thinking about Firebird where you add a non-nullable column to the table and set the default value with a `UPDATE tableWithNewColumn SET newColumn=newValue WHERE newColumn IS NULL`. Other databases might have different mechanisms to seed the new column with the correct value a

[2020-12-01 21:47] jzabroski commented on #1379
I'm not familiar with what Firebird does.  Can you elaborate?

What I was thinking of, was given:

[code]

generating the following:

[code]

This is a pretty common refactoring pattern for me, especially in SQL Server, because when a Fact table uses strings for Dimension values, SQL Server cannot do an "optimized bitmap filter trick": When a query plan uses a batch-mode hash join where one of the

[2020-12-01 22:33] jzabroski commented on #1379
I guess the downside to this syntax would be debuggability if for some reason the update were the Deadlock on a Provider that doesn't support Transactional DDL like SQL Server's Transact-SQL dialect of SQL.  It would definitely be a mystery to some why the whole statement would fail and how to fix it.  But I guess that can happen with SetExistingRowsTo as well.

Just thinking out loud and trying t

[2020-12-02 06:42] fubar-coder commented on #1379
The situation is strange:

On Firebird 2, you can only add nullable columns, but you can modify the metadata to make it non-nullable. Firebird 3 was extended to support altering the column to be non-null. The difficult thing around added non-nullable fields is described in [this null guide](https://www.firebirdsql.org/file/documentation/html/en/firebirddocs/nullguide/firebird-null-guide.html#nullg

[2020-12-02 20:25] jzabroski commented on #1379
Wow, I'm so glad I don't use Firebird!

Yes.  I usually use an ORM like EntityFramework so that my presentation tier can transparently convert those numeric enum values back into strings.  My LookupTable tables are all the same: LookupTableId, Name.  Sometimes, there is a Description column as well if the concept needs something like a tooltip affordance.

While you can compress string data via pa

[2020-12-02 20:47] jzabroski commented on #1312
Small note: The main reason this has not negatively effected me is that I archive migrations after every release I do, so I typically don't have more than 100 migrations in my assembly to query against.  So this is at most 100 additional migration table existence checks that are about 1ms each on my servers, and thus it has never bothered me personally.

[2020-12-02 20:48] jzabroski commented on #1367
@lillo42 Can I assign this to you?

[2020-12-02 20:51] #1347 closed

[2020-12-02 20:54] jzabroski commented on #1254
@pergardebrink Any interest in submitting a PR?  Thank you for your prior contributions.

[2020-12-02 21:03] lillo42 commented on #1367
@jzabroski  sure, no problem

[2020-12-07 02:29] jzabroski opened #1387 "Why choose FluentMigrator"
I recently answered this question on the SQL Server sub-reddit: https://www.reddit.com/r/SQLServer/comments/k1eg1m/how_do_you_handle_versioning_and_migrations/gewcllz/?utm_source=reddit&utm_medium=web2x&context=3

[2020-12-07 03:01] #1387 closed

[2020-12-07 07:21] enemysik opened #1388 "Relative ConnectionStringConfigPath does not work"
ConnectionStringConfigPath arguments does not work at a case of relative value.
For example:
I run a command from powershell like:
`C:\git\tmp> C:\Git\exmaple\Aso.Web\bin\Migrate\Migrate.exe -a "..\Aso.DataAccess.dll" -db:SqlServer2014 -profile "SeedDebug" -conn "DataContext" --connectionStringConfigPath "..\Aso.Web.dll.config"` it ends with error (console output below)

In case i run it directly

[2020-12-07 10:02] fubar-coder commented on #1388
A relative path is relative to the current directory - not relative to the location of the executable.

[2020-12-07 10:04] fubar-coder commented on #1388
I misread the issue.

[2020-12-07 10:06] fubar-coder commented on #1388
It's somewhat confusing, but it seems that DLLs are loaded relative to the path of the external runner while the configuration file is loaded relative to the current path.

[2020-12-07 12:41] enemysik commented on #1388
Ok if everything works as intended, I close the issue

[2020-12-07 12:41] #1388 closed

[2020-12-08 12:08] danielkraut opened #1389 "ArgumentException on Scheme Column Exists after updating Microsoft.Data.Sqlite"
**Describe the bug**
Using syntax `Schema.Table("table").Column("column).Exists()` inside a Migration to check wheter a column exists works fine with Microsoft.Data.Sqlite backend version up to 2.2.6, but fails with version 3.1.10 (didn't try other 3.x) versions. Stack trace:
[code]

**To Reproduce**
I created a small project to demonstrate the issue: [MigrationTypeException.zip](https://github.co

[2020-12-08 16:08] jzabroski commented on #1389
Does it fail with Microsoft.Data.Sqlite 3.1.9.  Seems like a pretty wide range of version changes.  A bit strange this issue was closed 22 hours ago by EF Core team, as it doesn't actually appear to be resolved.  However, Brice's comments are helpful to figure out what is happening.  I will try to take a look at your repro.

[2020-12-10 07:37] chrisvfabio commented on #1023
Any update on this?

[2020-12-11 04:30] chuaxiangjie commented on #1241
Hi, encountering the same issue "could not load file or assembly" System.Runtime for .Net 5.

Fluent Migrator works perfectly via application startup but failed using 'dotnet fm migrate'

[2020-12-11 22:10] fubar-coder commented on #1241
@chuaxiangjie Currently, you **must** publish the project with the migrations and use the published DLL. It doesn't work when you use the DLL from the build output directory.

[2020-12-12 03:53] jzabroski commented on #1241
@fubar-coder This is a .NET 5 issue.  @chuaxiangjie we currently don't handle .NET 5.  You can workaround it by creating a DirtyAssemblyResolveHelper that rebinds various common assemblies.

That said, you really don't need .NET 5 to run FluentMigrator.  Support for that will be coming soon, but I want to emphasize for most users its not even necessary.

[2020-12-13 17:23] jzabroski commented on #1389
@danielkraut Any chance you tested this to see when this broke?  Would do it myself but trying to triage until we get official .NET 5.0 support out the door.

[2020-12-13 21:23] danielkraut commented on #1389
I just tested all Microsoft.Data.Sqlite 3.x versions, and it seems that 2.2.6 is the last one which works. It already throws the exception with version 3.0.0 (which means netcore 3.0?).

[2020-12-13 21:39] Socolin opened #1392 "Warning when building with `AutoGenerateBindingRedirects` (Found conflicts between different versions of ...)"
**Describe the bug**
When building with flag AutoGenerateBindingRedirects to true we get warnings

[code]

**To Reproduce**

Just run `dotnet build` with the following `Repro.csproj` and `Program.cs`

csproj:
[code]

Program.cs
[code]

**Expected behavior**
No warning

**Information (please complete the following information):**
 - OS: Windows 10
 - Platform .NET Core 3.1
 - FluentMigrator version

[2020-12-14 01:16] aderderian opened #1393 "It would be great if we could dynamically execute a migration based on a schema defined at runtime."
For example,  user uploads and excel file and you want to parse the data sheets and columns into a database. Sheets being tables and columns in the sheet being columns in that table. How could we build the class dynamically and execute a migration on it? Should we write the class file out, dynamically compile it, then run the migration on it? Or use reflection on an existing class and pass in para

[2020-12-14 13:49] jzabroski commented on #1393
I think you're overthinking the task.

1. Use Aspose.Cells and write out the individual tabs into csv files (strip out all formatting from Excel)
2. Make sure you archive the CSVs so that you can revisit in case of any bugs
3. Use CsvHelper to parse the files
4. For each parsed row, validate the data before inserting it
5. Call insert based on the table name.

I don't think you need to use reflect

[2020-12-14 13:54] jzabroski commented on #1389
Thanks. That helps triage.

[2020-12-14 13:56] jzabroski commented on #1388
Probably worth updating docs

[2020-12-14 15:26] aderderian commented on #1393
@jzabroski so you're saying build a generic class like TMigration? And then just use that each time I want to create a new table? The number of tables (sheets) and columns (columns in  sheet), and format is not known before runtime. So theoretically someone could upload any excel and we would build the tables dynamically using FluentMigrator. A Schema would be persisted for versioning into the dat

[2020-12-14 18:19] jzabroski commented on #1388
Added link to document this.  Thanks for bringing this up, @enemysik

[2020-12-14 21:10] jzabroski commented on #1393
Did you try using an `IExpandoObject`?  Not sure if FluentMigrator Insert supports it (I doubt it). #981 was the last time someone requested something similar.  In theory, it's do-able.  I never did it because there were bugs in .NET Framework with handling DLR types, that I was never able to find the root cause of (although I did [submit a full repro privately](https://github.com/dotnet/runtime/i

[2020-12-14 21:13] jzabroski commented on #1393
Here is an example of what I mean about possibly tricking the system: https://stackoverflow.com/a/36558165/1040437

Obviously, it would be better of this was covered by tests.  But, if you need a solution, this might give you some inspiration.  You can also submit a PR to address #981

[2020-12-14 21:17] jzabroski commented on #1393
Closing as duplicate of #981

[2020-12-14 21:17] #1393 closed

[2020-12-14 22:24] jzabroski commented on #1392
I am pretty sure you can't use AutoGenerateBindingRedirects in .NET Core apps.  I asked Microsoft to confirm, since the documentation doesn't explicitly say you can't... or what the behavior is.

https://github.com/dotnet/project-system/issues/3677

[2020-12-14 23:04] Socolin commented on #1392
I don't know, I just upgraded from net472, I don't have this problem on any other projects.

If this has no effect in .NET Core I would expect the flag to be ignored or better, to get a warning about removing this.

When I build with this flag, I get a `<runtime>` section in the <Assembly>.dll.config. I don't know if this has any effects, I'll do some testings.

[2020-12-15 00:08] jzabroski commented on #1392
You can run the following in cmd to enable host tracing:

[code]

I dont recommend running this in pwsh (PowerShell), because PowerShell 7 is itself a .NET Core app, and you will get a lot of confusing messages from POwerShell's own host tracing.

[2020-12-15 00:12] jzabroski commented on #1392
Just wondering - how did you upgrade?  Make sure you clean the whole solution manually, by deleting all bin and obj directories (recommend you do it manually or after you check in your changes to source control to avoid accidentally deleting wrong files).

Basically, the workflow is:

1. git reset . --hard
2. git status # ensure no changes
3. rm --recurse --force **/bin/* && rm --recurse --force *

[2020-12-15 03:02] Socolin commented on #1392
I tried what I reported you into a new directory so there is no cache problem possible. (2 file into a new directory then `dotnet build`)

The `runtime` section is present in the .dll.config so `dotnet build` still generate it

[2020-12-15 04:52] jzabroski commented on #1392
OK.  But I don't think it does anything, as https://github.com/dotnet/project-system/issues/3677 mentions it's a bug to generate an app.config (which is no different than a .dll.config).  It's possible they only fixed the app.config scenario and not .dll.config scenario.  But there is no commit on that issue, so it's hard to know how they resolved it.  I just know the auto binding redirect generat

[2020-12-15 19:16] jzabroski commented on #1392
@Socolin Can you open a new issue in the dotnet/project-system repo.  I am fairly certain this is a bug.  It appears they handled it for app.config but not dll.config.

[2020-12-15 19:23] jzabroski commented on #1392
To elaborate, .NET Core generates a deps.json file which dotnet.exe uses to pass to the runtime a list of all assemblies it has to load.  It does this in conjunctton with a runtimeHosts.json (or however you spell it).  The "new" binding redirect is `<RollForward>Major</RollForward>` but it doesn't work great.  You can smooth out some issues as long as the EXE isn't referencing obsolete APIs that n

[2020-12-15 22:05] jzabroski commented on #1310
For SQLite, see https://www.sqlite.org/faq.html#:~:text=(9)%20What%20is%20the%20maximum,all%20500%2Dmillion%20characters%20intact.

[2020-12-15 22:07] jzabroski commented on #1310
For Firebird, see: https://firebirdsql.org/manual/migration-mssql-data-types.html#:~:text=Firebird%20can%20hold%20up%20to%2032%2C765,In%206.5%2C%20maximum%20was%20255.

MSSQL Ver | Data Type | Firebird | MSSQL definition and comments
-- | -- | -- | --
6.5 | varchar | VARCHAR | Variable-length non-Unicode data with a maximum of 8,000 characters. Firebird can hold up to 32,765 characters. In 6.5, ma

[2020-12-15 22:13] jzabroski commented on #1310
For IBM DB2, searching docs is difficult.  I found this tutorial: https://www.db2tutorial.com/db2-basics/db2-varchar/

[2020-12-15 22:15] jzabroski commented on #1310
For Oracle, docs are very clear. See: https://docs.oracle.com/en/database/oracle/oracle-database/19/refrn/datatype-limits.html#GUID-963C79C9-9303-49FE-8F2D-C8AAF04D3095

But it depends on knowing how the user configured `MAX_STRING_SIZE`.  @PhenX any thoughts?

[2020-12-15 22:21] jzabroski commented on #1310
For MYSQL, see: https://dev.mysql.com/doc/refman/8.0/en/char.html#:~:text=Values%20in%20VARCHAR%20columns%20are,and%20the%20character%20set%20used.

[2020-12-15 22:22] jzabroski commented on #1310
For Redshift, see: https://docs.aws.amazon.com/redshift/latest/dg/r_Character_types.html#r_Character_types-storage-and-ranges

[2020-12-15 22:25] jzabroski commented on #1310
For Postgres, 😒

See: https://www.postgresql.org/docs/9.2/datatype-character.html

[2020-12-15 22:45] fubar-coder commented on #1310
My thoughts on this issue were: Make `AsStringMax()` an alias for `AsString(int.MaxValue)` (or vice-versa), which will be translated to a CLOB type for the different databases. IOW: The Postgres and MySQL processors would emit `text`, while the SQL Server processor would emit `varchar(max)` (which has a 2GB limit, since SQL Server 2005, IIRC).

It's not an optimal solution, but better than nothing

[2020-12-16 20:34] PhenX commented on #1310
I'm not sure what to think about this. I recently struggled about this, and having a migration resulting in different SQL depending on server configuration feels weird to me. But I don't know how to handle this without having an option in FluentMigrator itself, telling if strings are limited to 2000/4000 or 32767.

Also, for many DBMS, there is a large difference between "char" strings and "text"

[2020-12-16 23:47] jzabroski commented on #1310
it sounds like you feel #1063 is a pre-requisite to doing this feature correctly, and that for Oracle, you feel if users don't like the lowest limit of 2000, they can override the OracleTypeMap instance and specify a new StringMax value.

[2020-12-16 23:48] jzabroski commented on #1310
@PhenX When you say "this", what struggle did you have, in particular?  Just making sure I understand.

[2020-12-17 18:17] Socolin commented on #1392
Ok, Thanks a lot for the explanation

I thought it was working same way as before, I'll do some research to understand this in details when I found some time.

I removed all `AutoGenerateBindingRedirects` from my project and it works, so I suppose I can close this issue.

[2020-12-17 18:17] #1392 closed

[2020-12-18 14:51] kristianschneider commented on #1079
Hi @cfgj

I seem to have ended up with the same issue as you and have reached a dead-end.
What solution did you end up with ?

[2020-12-18 15:19] jzabroski opened #1395 "Automate updating fluentmigrator/documentation git submodules"
@eloekset Any chance we can automate updating this whenever we publish a release to nuget.org?

![image](https://user-images.githubusercontent.com/447485/102630474-9635de80-411a-11eb-8638-414c4a55500e.png)

[2020-12-18 15:22] jzabroski commented on #1079
@kristianschneider Did the solution in https://github.com/simpleinjector/SimpleInjector/issues/536#issuecomment-382438219 not work for you?  I mentioned it above.

[2020-12-18 15:50] jzabroski commented on #1367
This is the last feature for 3.2.10.  Release notes are already drafted, I just need @lillo42 to fix merge conflicts and for me to click merge.

[2020-12-20 04:13] jzabroski commented on #1395
I think it's as simple as the following sequence (which is what I did tonight to manaully do this):

[code]

[2020-12-20 04:26] jzabroski commented on #1395
actually, i see we do update it every time we deploy the documentation: https://github.com/fluentmigrator/documentation/blob/master/azure-pipelines.yml#L17

[2020-12-20 17:05] jzabroski commented on #883
Considering this closed as there is a sample on how to load migrations when defined in F#.

[2020-12-20 17:05] #883 closed

[2020-12-20 17:17] jzabroski opened #1396 "Consider Microsoft.Extensions.FileProviders.EmbeddedFileProvider"
We have our own IEmbeddedResourceProvider and DefaultEmbeddedResourceProvider today.  It might make more sense to use Microsoft.Extensions.FileProviders.EmbeddedFileProvider.

The biggest con is it doesn't make sense to support both interfaces (so we either make a breaking change or increase code complexity).  The biggest pro would be standardization.

[2020-12-30 02:56] jasonsultana commented on #1333
I'm actually getting this same problem, using the `dotnet fm` tool on OSX.

[code]

What's very curious is that I can't even find version 4.2.2 of System.Runtime on Nuget at https://www.nuget.org/packages/System.Runtime/.

Any ideas?

[2020-12-30 04:05] jzabroski commented on #1333
@jasonsultana This is a very different issue. Your problem is with computing the transitive closure of dependencies at startup when your Migrations reference a system assembly from netcoreapp3.1 or higher.

[2020-12-30 04:05] jzabroski commented on #1333
The workaround is to create an in process runner

[2020-12-30 15:09] jzabroski commented on #1395
@eloekset I'm a little confused why its not updating the latest docs.  Thankfully, the docs are relatively up-to-date.

[2021-01-01 09:08] fubar-coder commented on #1395
I'm confused too. Maybe there's an additional checkout needed?

[2021-01-13 16:04] bratherem opened #1401 "Running in docker container. Out-of-process - "No migrations found""
**Describe the question**

"No migrations found" in a compiled docker container project.
Assembling the main docker image from `mcr.microsoft.com/dotnet/runtime-deps` with dotnet Sdk

Custom sdk docker image
[code]

Create project docker image with custom sdk image
[code]
I get a good image based on which I launch the container.
Next, command to display migrations
[code]
Сommand result
[code]
Comm

[2021-01-13 17:14] fubar-coder commented on #1401
Did you try specifying the whole path? (`/app/publish/Middleware.Data.dll`)
IMHO it should not be necessary, but maybe it is nonetheless?

[2021-01-14 07:28] bratherem commented on #1401
I indicate explicitly `/app/publish/Middleware.Data.dll` - not successful (

[2021-01-14 08:04] bratherem commented on #1401
Do you want to say that FluentMigrator will not work under Linux?

[2021-01-14 09:04] lillo42 commented on #1383
At home I used Linux Ubuntu 20.04 and I don't have a problem to run FluentMigrator in linux, but to run FluentMigrator I had develop my own tool(where a can just run without any parameters and this tool have a reference to my projects who have my migrations) and it`s run wells.

I will take a look if dotnet tools work fine in linux

[2021-01-14 11:39] bratherem commented on #1401
The problem was `Dockerfile`
Since the project had
[code]
There was no need for the code below
[code]
was going to empty dll
Replaced with
[code]
and everything worked as it should.

Maybe someone will find the case useful.

[2021-01-14 11:40] #1401 closed

[2021-01-14 12:49] jzabroski commented on #1401
@bratherem Thanks.  One other point with your Dockerfile:

If you're using Alpine Linux, why are you setting `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT` to false?  Maybe you know what you're doing, but I thought that Alpine doesn't ship with globalization data by default, and the Microsoft .NET Docker images for Alpine Linux explicitly set this to true to prevent you from shooting yourself in the foot

[2021-01-14 13:03] bratherem commented on #1401
@jzabroski Thanks, I'll take note!

[2021-01-14 15:27] bratherem commented on #1401
@jzabroski Without `ENV DOTNET_SYSTEM_GLOBALIZATION_INVARIANT = false`
falls with an error
[code]

[2021-01-20 16:45] d-vs opened #1406 "Could not load file or assembly 'System.Runtime, Version=4.2.2.0 ..."
**Describe the bug**
I've created a .Net Core 3.1 project, containing fluent migrations. The project compiles to an .exe (it's a console app). When attempting to run migrations contained in the assembly, using the dotnet-fm tool, the following exception occurs:

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime, Version=4.2.2.0, Culture=neutral,

[2021-01-20 17:07] jzabroski commented on #1406
For now, the only workaround is to add a DirtyAssemblyResolveHelper that helps the run-time out by doing an ad-hoc binding redirect using your bin directory as the probing path. Here's an example implementation.  It's called Dirty because ideally there would not be a need for this.  But with this, you can use the .NET Global CLI Tool FluentMigrator.DotNet.Cli _and_ you can even run net48 assemblie

[2021-01-20 17:10] jzabroski commented on #1406
Note, DirtyAssemblyResolveHelper would also probably ideally use MetadataLoadContext to help with probing, but I haven't tried it and it probably isn't strictly required.

[2021-01-21 01:47] jzabroski commented on #1406
@fubar-coder What are your thoughts on adding a DirtyAssemblyResolveHelper switch to FluentMigrator.DotNet.Cli until I finish and merge #1072 ?  I think this would be a low effort workaround vs. the amount of work to merge back in my changes since it's drifted a lot from master since May.

[2021-01-21 07:47] d-vs commented on #1406
@jzabroski thanks for the swift response. Will use the in-process runner method until there is proper support. Will leave you to close this issue as you see fit.

[2021-01-21 09:56] fubar-coder commented on #1406
@jzabroski Seems reasonable. I definitely makes sense to have a working workaround for this issue.

[2021-01-28 20:35] jackjwilliams opened #1408 "Allow a migration to run multiple times"
**Describe the question**
In the past, a typical pattern I have is to always run a set of migrations labeled as "Seed" data. Maybe this is the wrong term, but it refers to the more static reference data in my system. The database must always match my backing class.

In DbUp, there was a simple solution: Just don't write it to the Journal table:

[code]

Is there an equivalent way to set a Null IVe

[2021-01-29 12:23] fubar-coder commented on #1408
What about using a ["maintenance migration"](https://fluentmigrator.github.io/articles/glossary.html#maintenance)? Those are not added as migrations to the version table and are also configurable to be executed after all other DB migrations. They are (IIRC) sorted by name, so you can also name them S01Name, S02Name, etc... and they'll always be executed n this order.

[2021-01-29 12:38] jzabroski commented on #1408
I think you're asking a bit of an xy problem. There's no explanation in your question of why you don't want to journal your seed data. (Calling it SeedData or DataSeeding are both common.)

That said, maintenance Migrations are what you want. I would suggest taking advantage of dependency injection and injecting all instances of ISeedData into your test database. That way you keep the number of Ma

[2021-01-29 19:40] #1408 closed

[2021-01-29 20:21] jzabroski commented on #1383
@lillo42 Thanks for all your help.  You really stepped up the past few months.  Curious what you found?

[2021-01-29 20:29] #1367 closed

[2021-02-01 18:22] jzabroski opened #1410 "Set up GitHub Issues Forms Templates"
https://github.com/gh-community/issue-forms-feedback#issue-forms-alpha

@fubar-coder @eloekset I signed us up for this beta (or, I guess, alpha).

[2021-02-03 06:41] lillo42 commented on #1383
To run dotnet tool isn't necessary, but to build/run test is necessary install Mono, if we want we could add [Microsoft.NETFramework.ReferenceAssemblies](https://www.nuget.org/packages/Microsoft.NETFramework.ReferenceAssemblies/) to project and that allow us to build in Linux/MacOSX without install Mono, but if we want to run test still necessary install Mono.

Fun fact, I've tried to use in .NET

[2021-02-03 06:41] lillo42 commented on #1383
@jzabroski
To run dotnet tool isn't necessary, but to build/run test is necessary install Mono, if we want we could add [Microsoft.NETFramework.ReferenceAssemblies](https://www.nuget.org/packages/Microsoft.NETFramework.ReferenceAssemblies/) to project and that allow us to build in Linux/MacOSX without install Mono, but if we want to run test still necessary install Mono.

Fun fact, I've tried to u

[2021-02-08 17:48] SergejSachs opened #1415 "Missing documentation and examples on relationships"
There are missing examples how fluent migrator works with .net core entity mapping on relations.

Creating one table is pretty simple.
One to many is little bit more complicated.

Many to Many is just try and error without a documentation on every new project im working on without accessing the old codebase.

[2021-02-09 13:53] jzabroski opened #1416 "3.2.12 build failed due to AzureDevOps screwiness"
See https://github.com/microsoft/azure-pipelines-tasks/issues/13404 for potential clues

[2021-02-09 18:13] YeskaNova opened #1417 "Bug coming from the outdated System.Data.SqlClient dependency"
Hi,

I use FluentMigrator in my app to check if a SQL table exists. My whole app crashes when I stress-test it. I have narrowed the issue to this crazy-to-debug bug: https://github.com/dotnet/runtime/issues/19735 . FluentMigrator for SqlServer uses System.Data.SqlClient version 4.4.3 . This bug has been fixed in 4.5.0-RC1. Can we update that dependency to anything more recent than that? ( If we ca

[2021-02-09 18:32] jzabroski commented on #1417
Immediate workaround would be to force your library to handle AssemblyResolve.

Build is currently broken due to AzureDevOps StackOverflowException.  Not sure on ETA to fix it.

[2021-02-09 18:36] jzabroski commented on #1415
@SergejSachs There is no concept of many to many in FluentMigrator.  Just primary keys and foreign keys.  Can you please elaborate what you're looking for?  I get the sense you're looking for EntityFramework code-first migrations.  How did you find out about FluentMigrator?  Thanks.

[2021-02-09 18:49] YeskaNova commented on #1417
Yes, AssemblyResolve can do the trick, I'll do that for the time being. It took me weeks to figure out where was the error so if we can put this for the next release that would save time for someone else in the future. Thank you.

[2021-02-10 06:12] lillo42 commented on #1383
To allow FM build/test using only .NET Core on Linux is necessary add support/update [Db2 package](https://www.nuget.org/packages/IBM.Data.DB2.Core/) SAP Hana package (https://developers.sap.com/tutorials/hana-clients-dot-net-core.html) also SAP Anywhere doesn't have support for .NET Core and that should be removed

[2021-02-10 17:55] jzabroski commented on #1383
We need to drop SAP Anywhere. See: #1218
I think the number of users of SAP Anywhere FluentMigrator is extremely low, possibly single digits.  @eloekset added the support for a past emloyer but other than that, we dont know anyone whose used it and never got a support ticket for it.

[2021-02-10 18:12] fubar-coder commented on #1218
@jzabroski SAP has two former Sybase databases: SQL Anywhere (ASA) and Adaptive Server Enterprise (ASE).

It seems that you can use ASA - according to [this answhere here](https://sqlanywhere-forum.sap.com/questions/36180/access-sql-anywhere-from-net-core-31) - the database from .NET Core over ODBC. There also seems to be an [ADO.NET driver for .NET Core on nuget.org](https://www.nuget.org/package

[2021-02-10 18:13] fubar-coder commented on #1383
@jzabroski Maybe we should think about dropping JET support too.

[2021-02-10 21:36] jzabroski commented on #1218
If we want to support legacy databases via System.Data.Odbc, that is fine, but I think we need some basic sanity checks for what we consider maintainable:

1. Does the database support a docker image or similar for integration tests to be run?
2. Should we upgrade from supporting net461 TFM to net48 so that we can fully utilize net standard2.0 libraries like [System.Data.Odbc](https://www.nuget.or

[2021-02-10 21:39] jzabroski commented on #1383
JET
- Doesn't support Linux (at least not for free, anyway)
- Requires [System.Data.Odbc](https://www.nuget.org/packages/System.Data.Odbc/) to work on .NET Core

So... it may be time to drop it.  I think people prefer Sqlite anyway, since its open source and the maintainer is very open to companies like [expensify sponsoring its development](https://www.sqlite.org/famous.html).

[2021-02-10 22:31] fubar-coder commented on #1218
@jzabroski I personally don't mind dropping databases that aren't supported in docker, but I'm curious how you specify docker support?

- Is there an official docker image?
- Is there any unofficial docker image?
- Can it run inside a Linux docker container?
  - Is it installable in a Ubuntu image with apt?

Database | Docker Hub link
----------|---------------------
SQL Server       | https://hub

[2021-02-11 05:47] lillo42 commented on #1383
I think it's better we work on this issue on next FM major.
Next major where we are going to drop support for JET, SAP Anywhere and SQL CE, right?
Maybe we can do some experiment to see if is necessary change more anything.

I've never ever listen about JET, here was the first time :smile:

[2021-02-12 11:13] torbjorn-hansson-stratsys opened #1419 "How to determine exactly what migration that fails during migration?"
**Describe the question**

I'm calling `IMigrationRunner.MigrateUp()` and a migration that uses `Execute.Sql(string)` fails during execution because it has invalid sql (not important atm). The exception returned is:

[code]

How can I get the name and/or version of the migration?

**Expected benefit**
Would be much easier to find exactly what migration that fails of instead of searching migrations

[2021-02-13 14:34] SergejSachs commented on #1415
Yes its about the relation between entity framework and fluent migrators default behaviours.
Would be nice to have just an example documentation on that because that's probably the way to go in .NET Core.

[2021-02-17 20:11] jzabroski commented on #1419
@torbjorn-hansson-stratsys

I don't run into this problem... usually the output looks something like this (**emphasis mine** to indicate the prelude to running a specific migration):

-------------------------------------------------------------------------------
**2021021610: Issue8193_AlterTableFooAddColumns_Quantity_Price migrating**
-------------------------------------------------------------

[2021-02-17 20:11] jzabroski commented on #1419
Are you using your own runner?  I dont have this problem with FluentMigrator.Dotnet.Cli or with FluentMigrator.MSBuild.dll

[2021-02-18 15:59] jzabroski commented on #1416
Re-running the job to see if it will succeed without changes.

https://dev.azure.com/fluentmigrator/fluentmigrator/_build/results?buildId=428&view=results

[2021-02-18 16:36] jzabroski commented on #1416
See https://github.com/microsoft/vstest/issues/2667#issuecomment-781472741

[2021-02-18 16:59] jzabroski commented on #1416
One possible workaround: https://blog.magnusmontin.net/2019/05/30/override-testrunparameters-in-net-core/

Use PowerShell.  I think this would entail running the Visual Studio PLatform Installer possibly.

[2021-02-18 17:16] OneThatWalks commented on #1406
What might be a workaround for out of process runners?

Our team has been using powershell to execute migrate.exe based on local machine/user nuget package location.  We are struggling with how we can get an out of process runner to work with Octopus Deploy and not be so coupled to file paths.

Somehow the dotnet-fm tool worked locally and I must have changed something because now I get this Syste

[2021-02-18 17:52] jzabroski commented on #1406
Create a MainteanceMigration that runs BeforeAll and in the `Up()` method, just call a "dirty" assembly resolve using the signature `Assembly AssemblyResolve( object sender, ResolveEventArgs args)` that just matches on the assembly name for System assemblies.

[2021-02-18 17:52] jzabroski commented on #1406
If you want to submit a PR for this, I would _love_ that.  Our build is currently broken due to an unknown issue and that is one reason I haven't had time to create a PR myself (on top of being really busy with work + life).

[2021-02-18 17:57] jzabroski commented on #1416
logged issue here https://developercommunity2.visualstudio.com/t/VSTest2-task-diagnosticsEnabled:-true/1342801?entry=myfeedback&space=21&scope=follow

@eloekset  Am I being dumb about not knowing how to attach the crash dump to the logs.zip?  Do you know an easy way?  Just not that familiar with AzureDevOps outputs.

[2021-02-18 18:00] jzabroski commented on #1416
Found this: https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops - trying this now with the latest build attempt.  https://dev.azure.com/fluentmigrator/fluentmigrator/_build/results?buildId=434&view=results

[2021-02-18 18:14] jzabroski commented on #1416
Think I found it here: https://dev.azure.com/fluentmigrator/fluentmigrator/_test/analytics?definitionId=1&contextType=build

CallingConstraintExistsReturnsFalseIfTableDoesNotExistWithSchema

[2021-02-18 19:02] jzabroski commented on #1416
It looks like we can get the crash dump this way: https://stackoverflow.com/a/38470823/1040437

Kind of strange but basically if you write output to the log that starts a log line with `##vso[task.uploadfile]<filename>`

We can do this via PowerShell:
[code]

This is pretty weird side-channel way to do things, and I am shocked this is how things actually work.  @eloekset does this look right to yo

[2021-02-18 19:10] OneThatWalks commented on #1406
@jzabroski I made a mvp to see if this is what you are talking about.  When you get a chance, check out [Program.cs](https://github.com/OneThatWalks/fluentmigrator/blob/master/src/FluentMigrator.DotNet.Cli/Program.cs) in my fork.

I tested this against my migration in the absence of extra time to create a sample project.
The results when debugging is that System.Runtime is loaded from the Runtime

[2021-02-18 19:14] jzabroski commented on #1406
@OneThatWalks That's exactly what I had in mind.  We can improve it slightly by using MetadataLoadContext to sneak peak at the assemblies, but I am 99% sure people will be happy with this solution.  Remaining blocking is #1416 which I have been working on a bit (if you're familiar with AzureDevOps, feel free to take a look at my notes so far.)

[2021-02-18 19:25] OneThatWalks commented on #1406
We also use Azure Dev Ops I'll have a look, different beast and I sympathize.

[2021-02-18 19:44] OneThatWalks commented on #1416
When I looked though some of the logs I see it stopped at a specific test [CallingNullsFirstOrLastToExpressionInPostgres], if that matters at all.  I am continuing to look through the diags.

[code]

[2021-02-18 20:08] jzabroski commented on #1416
That would make a lot of sense as that was a test associated with the last commit for the release.  But it's weird that the PR succeeded but the build failed.  Maybe the build didn't re-run after @lillo42  added more files to the PR? #1397  But that was in 3.2.11 release - which went out without an issue, so kind of strange it would fail now

Which log did you pull the above from?

[2021-02-18 20:19] OneThatWalks commented on #1416
I just pulled the pipeline logs from https://dev.azure.com/fluentmigrator/fluentmigrator/_build/results?buildId=434&view=results

I also decided to use VSTest locally and see if I got the same results, which I do but the results are inconclusive.
I tried x86 and x64
Command below assumes you have a a vs developer terminal open to the unit test project root.
`vstest.console.exe ".\bin\Release\net46

[2021-02-18 20:29] OneThatWalks commented on #1416
I am running in blame mode, and maybe it isn't a single test causing an issue.  Over three runs I get different blames.

[2021-02-18 20:36] jzabroski commented on #1416
@OneThatWalks Are we looking at the same pipeline logs?  This is where I went:
![image](https://user-images.githubusercontent.com/447485/108417540-19001600-71fe-11eb-949b-ea1267426229.png)

which ends up in a logs_433.zip file that looks like this:

![image](https://user-images.githubusercontent.com/447485/108418352-1f42c200-71ff-11eb-9f6b-413c41476959.png)

Maybe thats why I cant figure this prob

[2021-02-18 20:39] OneThatWalks commented on #1416
Yes this is right, the Job folder contains diagnostics about step 7 (VSTest)

[2021-02-18 20:42] OneThatWalks commented on #1416
I have found myself in quite the rabbit hole today.  Here is a screenshot from the user mode memory dump of the testhost

![image](https://user-images.githubusercontent.com/644628/108418915-d93a2e00-71ff-11eb-9d7f-a15a1a37eab0.png)

[2021-02-18 21:01] jzabroski commented on #1416
Every day is a rabbit hole for me.  Just one more question -

When i go into the Jobs folder, the end of the log is this (**emphasis mine in bold**):

2021-02-18T16:46:50.2880129Z   Passed CallingNullsFirstOrLastToExpressionInPostgres(First) [14 ms]
2021-02-18T16:46:51.3429498Z ##[error]The active test run was aborted. Reason: Test host process crashed : Process is terminated due to StackOverflowE

[2021-02-18 21:26] jzabroski commented on #1416
@lillo42 Can you please look at this and fix it.

[2021-02-18 22:13] OneThatWalks commented on #1416
Open the 7_Attempt.diag file however it might be named in your Job folder here is the one I pulled earlier.

![image](https://user-images.githubusercontent.com/644628/108428426-8f0b7980-720c-11eb-827c-04f31183de6e.png)

[2021-02-18 22:15] jzabroski commented on #1416
GOT IT.  Darn, I was so close to figuring it out.  I downloaded the wrong dump earlier from the previous build.  the diag files are only available when you run a new build and select the advanced diagnostics checkbox.

[2021-02-18 23:41] KiLLeRRaT opened #1420 "InSchema vs WithSchema"
**Describe the question**
In most cases, when using Fluent Syntax you will use `InSchema(...)` but when you say, create a UniqueConstraint, you have to use `WithSchema(...)`.

e.g.:
[code]
vs

[code]

Why is that? Why not have it `InSchema` across the board?

Sorry if this is a silly question, but I couldn't find a clear answer anywhere.

Cheers,

EDIT: Just found this inconsistency while writing

[2021-02-19 01:46] jzabroski commented on #1420
I think a lot of these small inconsistencies are due to being an open source project and perhaps less than perfect review process.

[2021-02-19 02:03] jzabroski commented on #1420
https://www.strathweb.com/2018/12/using-roslyn-c-completion-service-programmatically/

Actually looking like it might be possible!

[2021-02-19 12:04] #1416 closed

[2021-02-19 12:25] #1420 closed

[2021-02-19 12:34] jzabroski opened #1423 "Replace legacy myget feed with AzureDevOps feed"
**Describe the bug**
Build failed because myget feed is officially dead.

**To Reproduce**
Run azure build pipeline.

**Expected behavior**
No build errors!

**Additional context**
We moved to AzureDevOps awhile ago, but this was never updated.  It really only affects the v4 branch.

[2021-02-19 12:34] #1423 closed

[2021-02-19 12:40] OneThatWalks commented on #1406
@jzabroski before I start for the day do you have suggestions on what I should change pre PR, you had some ideas you were thninking in relation to the MetadataLoadContext api.  It seems like this might be a temporary solution until the tool is updated to support dotnet core 3.1+.

[2021-02-19 13:57] jzabroski commented on #1406
Ship it

[2021-02-19 17:00] jzabroski opened #1425 "AzureDevOps artifact feed has reached free tier limit"
**Describe the bug**
https://dev.azure.com/fluentmigrator/fluentmigrator/_releaseProgress?_a=release-environment-logs&releaseId=46&environmentId=164&jobTimelineRecordIdToSelect=46be2a11-6999-5e05-6807-ab62a9ea9c35&selectTaskWithIndex=3#

[code]

[2021-02-19 17:01] jzabroski commented on #1425
@eloekset I'm not sure how we delete old packages, when package feeds are supposed to be immutable?

[2021-02-19 17:11] jzabroski opened #1426 "Fix nuget licenseUrl/iconUrl deprecated warnings"
[code]

from: https://dev.azure.com/fluentmigrator/fluentmigrator/_releaseProgress?releaseId=46&_a=release-environment-logs&environmentId=165

[2021-02-19 17:23] jzabroski opened #1427 "Delete FluentMigrator.Tools 3.3.0-tags-v3-2-5.1+89"
Related to #1425

Delete FluentMigrator.Tools 3.2.10
Delete FluentMigrator.Tools 3.2.9

[2021-02-19 18:40] jzabroski commented on #1425
@fubar-coder This is another argument for dropping Jet, Sap SqlAnywhere, and possibly DB2... smaller package footprint.

[2021-02-19 18:42] jzabroski commented on #1383
@lillo42  The fix for this issue will go out today in v3.2.15

[2021-02-20 19:01] fubar-coder commented on #1425
@jzabroski I concur that dropping support for databases with bundled native code should reduce the package size for the tools considerably

[2021-02-20 23:09] jzabroski commented on #1425
Or we just upload a one-time package for those binaries to link to the package.

[2021-02-21 02:11] boop5 commented on #933
It seems the resources here are not 100% correct. at least with net5

here is my complete working example

[code]

[2021-02-21 03:14] jzabroski commented on #933
What problem are you getting?

[2021-02-21 08:12] fubar-coder commented on #1425
That sadly doesn't work IIRC. The console tools (DotNet.Cli and FM.Console) can reference other packages, but those references aren't usable (directly, without jumping through hoops) from the console tool. `nuget install` pulls the dependencies, but it's a parallel installation (under the `packages` directory). There was a similar (IIRC) problem for `dotnet` tools.

[2021-02-21 14:11] jzabroski commented on #1425
Yes, the Tools typically require OctoPack compliant behavior.

I think we should only ship OctoPack compliant packages to Nuget.org. or, just don't ship db2 & wait to see who complains?:yum:

The new MSBuild $(Pkg***) variables would perhaps allow for better plug-in behavior for FluentMigrator.MSBuild

[2021-02-22 07:16] eloekset commented on #1425
I didn't expect that to happen for a public project. Seems like we need to either ask for raised quotas or find some other free NuGet package host for Open Source source projects.

[2021-02-22 07:31] fubar-coder commented on #1425
MyGet won't work. I used it previously, but they removed the additional storage space even though I only used it for open source projects. What about GitHub itself?

[2021-02-22 10:39] bionanek opened #1428 "Can't run migrations, Could not load file or assembly 'System.Runtime, Version=4.2.2.0'"
**Describe the question**
Hey everyone.
I've written few migrations in my project. It's a .NET Core Class Library project.
I've added FluentMigrator 3.2.15 and FluentMigrator.Runner 3.1.15 nugget packages to it.
When I'm trying to run these migrations using dotnet cli like so:

[code]

it builds VersionInfo table, but when it starts running one of my migrations it throws an error:
[code]

Not sure

[2021-02-22 13:17] jzabroski commented on #1428
Did you look at the release notes

[2021-02-22 15:26] eloekset commented on #1425
Yes, [GitHub Packages](https://docs.github.com/en/packages/guides/configuring-dotnet-cli-for-use-with-github-packages) looks free for public projects. I can create a Personal Access Token try to push new packages from the release pipeline and then push all we've got from the Azure Artifacts feed if we feel confident with GitHub Packages.

[2021-02-22 15:52] eloekset commented on #1425
I've configured the pipeline to use GitHub Packages as the preview feed now. Left to confirm that it works. I tried to initiate a new release from the 3.2.15 tag, but Azure Pipelines has been down for 5 hours now, so we'll have to wait until it's up again.

[2021-02-22 16:22] #933 closed

[2021-02-22 16:23] jzabroski opened #1430 ".NET 5.0 - Custom Version Table Metadata not working"
It seems the resources here are not 100% correct. at least with net5

here is my complete working example

[code]

and

[code]

_Originally posted by @boop5 in https://github.com/fluentmigrator/fluentmigrator/discussions/1429#discussioncomment-394155_

[2021-02-22 16:24] jzabroski commented on #1430
@boop5 I moved #1429 to a GitHub Discussion and moved your question into this new Issue.  Can you please elaborate on what problem you are running into?  Saying something is "not working" is not very descriptive.

[2021-02-22 16:25] jzabroski opened #1431 "Add `.WithVersionTable<VersionTable>()` DI Helper"
Or, IMHO, a more elegant option would be to add a `.WithVersionTable<VersionTable>()` function. The implementation of this function would be something simple like:

[code]

_Originally posted by @mabead in https://github.com/fluentmigrator/fluentmigrator/discussions/1429#discussioncomment-394154_

[2021-02-22 16:28] bionanek commented on #1428
Not really, only docs on your documentation website.

[2021-02-22 16:38] jzabroski commented on #1428
Please see: https://github.com/fluentmigrator/fluentmigrator/releases/tag/v3.2.15

Use --allowDirtyAssemblies

We need to update https://github.com/fluentmigrator/documentation to mention this flag.  Come to think of it, we probably should catch unhandled exceptions and see if it's an exception of this type `System.IO.FileNotFoundException` where Message starts with `"Could not load file or assemb

[2021-02-22 16:42] jzabroski commented on #1425
@eloekset You're awesome.  Thank you for doing that.  I use GitHub Actions for RazorLight btw and the build matrix feature is super awesome.  I also find it easier to add builds to new projects because it is very copy-paste and text-centered vs. ui-centric AzureDevOps.

[2021-02-22 16:44] jzabroski commented on #1425
Can we still do that?  I already pushed 3.2.15 to Nuget.org by bypassing the AzureDevOps package feed step.

[2021-02-22 16:48] jzabroski commented on #1428
Created doc issue https://github.com/fluentmigrator/documentation/issues/42

[2021-02-22 17:30] eloekset commented on #1425
Yeah, it should be possible to push that version to the new feed. No conflicts there. Azure DevOps is up again now, and the release just started. Not sure if connection to the new feed is configured correctly.

[2021-02-22 20:03] fubar-coder commented on #1430
@jzabroski @boop5 I guess that the problem is, that registering an `IVersionTableMetaDataAccessor` is required, because a registration of a `IVersionTableMetaData` instance might not be sufficient? However, the registration of a `PassThroughVersionTableMetaDataAccessor` instance should work too.

[2021-02-22 20:05] fubar-coder commented on #1428
Looking for the text `Could not load file or assembly` will most likely only on systems with an english locale.

[2021-02-22 20:15] jzabroski commented on #1428
@fubar-coder Good point.  Is there any other thing we filter we could use that is locale neutral?  I guess we could check for just "`System.Runtime`".  But, this issue can also happen with out-of-box dependencies like System.ComponentModel.DataAnnotations, so maybe we shouldn't bother filtering at all?

[2021-02-22 21:01] jzabroski commented on #1430
I don't know.  To me, the behavior @boop5 is describing can only happen if you're using attributes and the attributes are mismatched.

e.g.,

[code]

For this reason, I wanted to use MetadataLoadContext to validate the above dependency match.  I think `--allowDirtyAssemblies` would also resolve this issue, but I think checking the version numbers on the two assemblies for this specific scenario is

[2021-02-23 06:41] bionanek commented on #1428
Hey guys! Thanks, @jzabroski, your solution helped and saved me a lot of time.
I will consider preparing PR for that but can't really right now, so don't promise ;)

[2021-02-23 06:41] #1428 closed

[2021-02-26 13:46] realmfoo opened #1434 "ORA-01704: string literal too long (Unicode symbols)"
**Describe the bug**
"ORA-01704: string literal too long" when inserting string via `Insert.IntoTable` a string with many wide characters (2 bytes per char).

**To Reproduce**
Issue #1171 describes a problem but for ascii characters.
Issue #1265 was fixed for limited number of special symbols.
Try to use a unicode text with wide characters of 2 or more bytes in tests.

**Expected behavior**
No err

[2021-03-01 01:22] #1415 closed

[2021-03-02 14:00] jzabroski commented on #1434
@realmfoo Yes, solution is to fix the fix by using ParseCombiningCharacters to respect the underlying string encoding.

Would you be interested in writing a PR?

Here's roughly an example of using parse combining characters that I had saved in Linqpad when the author of #1265 fix provided their PR:

[code]

[2021-03-02 19:47] eloekset commented on #1425
Two things:

1. I've tried pushing packages to FluentMigrator using a PAT for my own user, but this has failed no matter how I configure the service connection. I think we're going to need a PAT for the FluentMigrator organization, but I can't find where to create one, or I don't have access to do so.
2. Are we sure that GitHub Packages has unlimited storage for public repositories? I've got an or

[2021-03-02 20:03] jzabroski commented on #1425
I think we need to trim the bloat in AzureDevOps then.

I wonder if there is an API where we can quickly see package sizes

[2021-03-02 20:22] eloekset commented on #1425
We have retention turned off on our Azure Artifacts. These are the default settings:
![image](https://user-images.githubusercontent.com/791721/109709118-78660a80-7b9c-11eb-8dba-bff3eb4f798a.png)

So if I enable this, we'll start loosing old packages that haven't been downloaded the last 30 days.

And we can setup billing through an Azure Subscription. It's not very expensive for a few additional G

[2021-03-04 06:44] eloekset commented on #1425
I can run the script that downloads all versions of all packages again, and store them in a few backups. Then turn on the default retention policies. If someone misses old packages, we can always adjust retention settings and upload old versions from the backups again. I'll notify here when it's done.

[2021-03-06 19:14] eloekset commented on #1425
Ok, I've downloaded all 423 NuGet packages from the Azure Artifacts feed and stored them on my on-prem server and a private cloud backup service. So it should be safe to delete packages from the feed now.

![image](https://user-images.githubusercontent.com/791721/110218142-4ca69580-7eb8-11eb-97bb-bd4bd84888cb.png)

I'll try the default retention settings of the feed, and we'll see what the impact

[2021-03-07 11:17] eloekset commented on #1425
Since I downloaded all versions of all packages to take a backup of them, the retention settings won't delete anything until in 30 days. I've created a separate Azure Subscription and configured billing for our DevOps organization. Now there's no spending limit on Azure Artifacts, so we should be able to deploy pre-releases to the feed again.

I'll watch this in the coming months. If we're able to

[2021-03-16 15:23] jzabroski opened #1438 ".PrimaryKey() doesn't work on Alter.Table() syntax root"
**Describe the bug**
`.PrimaryKey()` doesn't work on `Alter.Table()` syntax root.  `.PrimaryKey()` does work on `Create.Table()` syntax root.

This probably doesn't come up very often, but in my scenario, I was fixing a table someone created using natural keys and making it use synthetic keys created via `IDENTITY` auto-incrementing values.

SQL Server does support the underlying syntax to make th

[2021-03-19 14:03] DarrenWainwright opened #1440 "Dependency Injection in Azure Functions causing Object reference error"
**Describe the bug**
Trying to use FluentMigrator in an Azure Functions v3 app, and implementing with Dependency Injection. Database being used against is Postgre.

Experiencing an 'Object reference not set to an instance of an object' when trying to inject IMigrationRunner, or trying to access it in the IServiceProvider.

**To Reproduce**
Followed the steps on the projects quick start. Snippets o

[2021-03-19 15:12] jzabroski commented on #1440
I hate Azure Functions so much.  I've never once seen a project say, "Worked the first time."  I don't know what to tell you, other than I have lost my desire to continue troubleshooting Azure Functions.

I guess I'd prefer to discuss, how does one integration test Azure Functions?  Is it even testable?

[2021-03-19 15:35] jzabroski commented on #1440
The problem you're probably running into is the stupid default behavior of Azure Functions SDK.  By default, the SDK optimizes away your dependency tree.  So you should probably start by seeing if your deploy directory has the right FluentMigrator dlls.  I know, it's crazy.  This was one of the feedback items I gave them they downvoted.

[2021-03-20 11:48] MihailsKuzmins commented on #1086
Is it possible to use `System.ComponentModel.DataAnnotations.Schema.ColumnAttribute`?
Or any other custom attribute with the same functionality will do.

Currently `ExtractData(object)` uses the name of a property, but it might be possible that the name of a column differs from the property name.

https://github.com/fluentmigrator/fluentmigrator/blob/9c87d698b161b3a1bb596a5624c02891a64459c5/src/Fl

[2021-03-22 21:04] MihailsKuzmins opened #1441 "Migration.Insert.Row where a value is Enum"
I haven't found a similar issue, but please redirect me if it actually exists. (I apologise if I've created a duplicate by accident)
I have a problem with this code
[code]

The error I get: **!!! Incorrect integer value: 'Value' for column 'intColumn' at row 1**
So it means that the runner transforms enums into their string values instead of their underlying numeric type which is not the right beh

[2021-03-22 21:11] jzabroski commented on #1441
[code]

[2021-03-23 07:14] MihailsKuzmins commented on #1441
@jzabroski, thank for the reply.
Of course it does, but it makes my code a bit clumsy and unnatural.
Do you think that there might be problems with enum handling?

[2021-03-23 13:31] jzabroski commented on #1441
@MihailsKuzmins There is no enum handling .  The code does not do any coercion.

If you find it unnatural, I would suggest creating a wrapper syntax, where you traverse the dictionary and update object values from enum values to integral storage values.  However, you might want to also handle the underlying storage of the enum type, when you perform your cast.

[code]

I would think of this transf

[2021-03-23 14:00] jzabroski commented on #1441
If you want to submit a PR for handling enums, you can, but you need to handle all possible integral storage types in your unit tests.  Thank you,

[2021-03-23 19:38] MihailsKuzmins commented on #1441
@jzabroski
I'm thinking about creating a PR for enum handling. There is one question I would like to ask about a possible implementation.
Of course the easiest way is to do it in `InsertDataExpressionBuilder`, but it will result for an unnecessary mapping from Dictionary to Dictionary for `Row(IDictionary<string, object> data)`. Therefore, in order to avoid it, enum handling could be implemented w

[2021-03-24 17:42] jzabroski commented on #1441
These are always hard guidance to give.  Sometimes, I make mistakes, even with 20 years c# experience.  Sometimes, you just have to play with it to see what feels right.  I did have an idea for creating a "FluentMigrator.Opinions" nuget package (see #1206) which would allow people to export syntax that matches my aesthetic tastes.  Since FluentMigrator is over 12 years old, it has the accumulation

[2021-03-24 19:13] MihailsKuzmins commented on #1441
When you mentioned the "pickling method" (serialisation, right?) it gave me an idea to look at `GenericQuoter` which does look like a perfect place to handle the type.

But looking at the bullet points 2 and 3, unfortunately, again I'm a bit lost.

So you suggest that there should be something like options which determine how to handle enum values? For example in `RunnerOptions`?

The `Quoter` cla

[2021-03-29 16:39] dogaanismail opened #1444 "FluentMigrator Async Insert - Cannot access a disposed object. ObjectDisposed_ObjectName_Name"
**Describe the question**

Hello,

I would like to ask a question that is about async inserting data.

I have been working on my own project that I have been using .Net Core 3.1 and Linq2b ORM tool for. I have a problem that is about inserting data by using async method. I want to insert a log data. There is a method that is called InsertWithInt32IdentityAsync in Linq2Db. This method returns an er

[2021-03-30 12:03] dogaanismail commented on #1444
The problem has been solved by editing **CreateTableExpressionBuilder** and calling _migrationContext instead of calling CreateNullMigrationContext function.

Instead of the following code block;

       ` public virtual CreateTableExpression GetCreateTableExpression(Type type)
        {
            var expression = new CreateTableExpression { TableName = NameCompatibilityManager.GetTableName(type

[2021-03-30 12:03] #1444 closed

[2021-03-30 20:54] CraigComeOnThisNameCantBeTaken opened #1445 "Postgres Identity column does not work"
**Describe the bug**
The identity option, as well the the default sequential id value do not work with postgres

**To Reproduce**
[code]

With the uuid-ossp installed as an extension on my postgres database the following migration results in an integer primary key:
[code]

This results in a PK uuid which seems promising:
[code]

however when I attempt the following query:
`insert into "Players" VA

[2021-03-31 00:08] jzabroski commented on #1445
@lillo42 can you please look

[2021-03-31 21:38] CraigComeOnThisNameCantBeTaken commented on #1445
Reproduced on mac os with postgres 13 as well.

[2021-04-02 06:10] lillo42 commented on #1445
@CraigComeOnThisNameCantBeTaken the problem is your insert query.

The correct query:
[code]

When you create a table with default, that means if you don't pass a value Postgres will use the default value, and in your query you don't explicit the column, so PostgreSQL is assuming  you need to pass all column.

About this part:

[code]
doesn't make sense you use AsGuid and Identity together because

[2021-04-02 06:25] lillo42 commented on #1445
@CraigComeOnThisNameCantBeTaken the problem is your insert query.

The correct query:
[code]

When you create a table with default, that means if you don't pass a value Postgres will use the default value, also in your query you don't explicit the column, so PostgreSQL is assuming  you are going to pass all column.

About this part:

[code]

It doesn't make sense you use AsGuid and Identity togeth

[2021-04-02 14:56] CraigComeOnThisNameCantBeTaken commented on #1445
Im very sorry! Im sorry I wasted your time and thanks for the help. This was 10/10 stupid.

[2021-04-02 14:56] #1445 closed

[2021-04-03 01:22] CraigComeOnThisNameCantBeTaken opened #1446 "Add documentation on running tests with in-memory databases"
**Is your feature request related to a problem? Please describe.**
There is no documentation on how to use fluentmigrator with inmemory tests in the same style as EF.

**Describe the solution you'd like**
Documentation should be added.

**Additional context**
I have implemented this myself. Details for which can be found in my answer on stackoverflow here:
https://stackoverflow.com/questions/53282

[2021-04-05 23:44] Mosheh opened #1447 "SAP Hana - Wrong column type mapping"
**Describe the bug**
In the SAP Hana database, there is the BOOLEAN  (true, false), when I set fluent migrator to create a boolean column a TINYINT is created. It's very wrong.

**To Reproduce**
            Create.Table("TESTE")
                .WithColumn("Id").AsInt32().PrimaryKey().Identity()
                .WithColumn("TestBoolean").AsBoolean()

![image](https://user-images.githubusercontent.

[2021-04-05 23:56] Mosheh commented on #1447
https://github.com/fluentmigrator/fluentmigrator/pull/1448/files

[2021-04-10 22:39] luojunyuan opened #1450 "When call runner.MigrateUp() get System.IO.FileNotFoundException twice"
**Describe the question**
Follow the [quickstart](https://fluentmigrator.github.io/articles/quickstart.html?tabs=runner-in-process) step by step.

when call the
[code]

VS give me the `System.IO.FileNotFoundException` twice in `System.Private.CoreLib.dll`

`System.IO.FileNotFoundException:“Could not load file or assembly 'System.Data.SQLite, Culture=neutral, PublicKeyToken=null'. The system could

[2021-04-11 07:08] fubar-coder commented on #1450
This stems from the fact that FM tries to use several different .NET assemblies for data access. Removing those exceptions would require to change the ADO assembly resolve mechanism, which is nothing that should be done for 3.x.

[2021-04-11 10:19] luojunyuan commented on #1450
Thanks for your explanation. If this is not necessary to fix, feel free to close

[2021-04-12 14:42] #1447 closed

[2021-04-12 14:56] jzabroski commented on #1241
As an update, 3.2.15 release contains a workaround for this problem via the allowDirtyAssemblies flag.

[2021-04-14 13:10] ngvtien commented on #1145
@jzabroski - to expand on this idea a bit further, I've come across a situation where I need to skip certain migration because certain database metadata doesn't exists at the time but these migration will run when those conditions are met.

There might be a few reasons as to why this is
- One codebase against multiple version of the database
- Certain application features requires different databa

[2021-04-14 13:37] jzabroski commented on #1145
@ngvtien This already exists.  Look at the examples folder.  Although, if I understand you correctly, you want a a SqlConstraint sub-class to MigrationConstraintAttribute.

To be honest, I hate MigrationConstraintAttribute - it doesn't work 100% correctly, in that the VersionInfo metadata is only loaded at the start of the runner, not after every migration, so the behavior is in my opinion not int

[2021-04-14 13:38] jzabroski commented on #1145
Please open a new issue Or Discussion to discuss further.  I am going to lock this as I dont like people commenting on old issues as I can sometimes miss comments and that is not my intention to ignore people

[2021-04-19 12:22] zelenij opened #1456 "Sqlite Identity column is required to be int32"
**Describe the bug**

Sqlite code generator seems to require that Identity column must be Int32 - in which case it will be defined as autoincrement. I can't find any reason for this in the documentation.  In fact, the sqlite doc says that primary autoincrement key will be mapped to the hidden ROWID column, which is 64 bit.  So there is no reason that the code generator shouldn't accept Int64 at le

[2021-04-19 14:25] fubar-coder commented on #1456
This is somewhat confusing, and might indeed be a problem when you want to use the same migration for multiple databases and you expect more than 2 billion rows in a table.

If you're using the migration only with SQLite, then this is not a problem at all, because SQLite doesn't distinguish between multiple integer types of different widths. In other words: SQLite only knows "INTEGER", "REAL", etc

[2021-04-20 00:08] zelenij commented on #1456
This is exactly my scenario - I expect a lot of record in production, where I'm targeting PostgreSQL, but for local testing I'm fine with Sqlite for now.  Ideally I'd want to use identical migrations as far as possible.

[2021-04-20 00:09] zelenij commented on #1456
I'll be happy to create a PR to address this problem.

[2021-04-21 19:02] danpadmore commented on #1281
I would love this feature, because currently I rely on [preview](https://fluentmigrator.github.io/articles/runners/dotnet-fm.html#--preview) for generating scripts, but [Schema.Exists](https://fluentmigrator.github.io/articles/fluent-interface.html#schemaexists-expressions) executes during script generation instead of generating the required script in the preview.

[2021-04-22 12:16] kroliczek94 opened #1457 "FormatException with creating column with default json value ("{}")"
Hello, I have a problem with FluentMigrator after update to from `3.1.3` to `3.2.15`.

**Describe the bug**
I am updating my environment from to .NET 5, so also I am updating all libraries in system. Earlier, I had some column with containing Json data. For default it should be empty Json Object - {}. As can I see StringBuilder.AppendFormat recognize this empty object braces as format tokens (with

[2021-04-22 19:24] jzabroski commented on #1457
What error do you get? Thanks

[2021-04-22 21:55] fubar-coder commented on #1457
@jzabroski To clarify, I guess that you asked for the stack trace, to get to the location where the `{}` aren't escaped correctly?

[2021-04-22 21:58] jzabroski commented on #1457
Yes, a stack trace eith full exceptions message is helpful. Ex.ToString()

[2021-04-22 22:29] kroliczek94 commented on #1457
Hi guys, thanks for you answer:

`2021-04-22 14:11:04:740 [ERROR] Gillie.DbUpdater.Program - Error occured on migrate application
System.FormatException: Input string was not in a correct format.
   at System.Text.StringBuilder.FormatError()
   at System.Text.StringBuilder.AppendFormatHelper(IFormatProvider provider, String format, ParamsArray args)
   at System.Text.StringBuilder.AppendFormat(Str

[2021-04-22 22:45] jzabroski commented on #1457
Simple workaround for now is to use {{}} to escape string format

[2021-04-23 07:24] fubar-coder commented on #1457
Other dialects might be affected too.

[2021-04-23 09:48] fairking commented on #880
I am missing `IfNotDatabase("sqlite")` method.

[2021-04-23 10:16] fairking commented on #812
Looks like the support of `DROP TABLE` is introduced in sqlite version 3.35.0. (https://sqlite.org/changes.html#version_3_35_0).

Let me know guys if you managed to execute `Delete.Column("Col2").FromTable("TableName");` on the latest version of sqlite. And which sqlite nuget library you used.

[2021-04-23 13:09] jzabroski commented on #880
@fairking Use LINQ Except instead.

I think what we should add is a factory of ProcessorId values that is exposed at run-time through DI via querying all available processors.  You can then write processorIds.Except("sqlite")

[2021-05-03 20:56] josephbaggettgainsco opened #1471 "Fluent Migrator 3.2.1 Timeout occurring when running sql script that runs long"
How do I change the timeout on the migration runner to handle sql scripts that take too long to execute but are completely valid going through FluentMigrator 3.2.1?

        /// <summary>
        /// Configure the dependency injection services
        /// </summary>
        private static IServiceProvider CreateServices()
        {
            return new ServiceCollection()
             // Add com

[2021-05-04 02:15] fubar-coder commented on #1471
Did you try a timeout value of `-1`? IIRC, [Timeout.Infinite](https://docs.microsoft.com/en-us/dotnet/api/system.threading.timeout.infinite?view=net-5.0) (for example) is defined as `-1`.

[2021-05-04 13:23] #1471 closed

[2021-05-05 13:50] jzabroski commented on #1441
@MihailsKuzmins Sorry I didn't reply back - the day of your last reply, I was sick with COVID-19. Are you still interested in working on this?

[2021-05-05 16:12] MihailsKuzmins commented on #1441
@jzabroski oh, I'm sorry. I hope you are doing well now.
I just thought that you didn't have enough time for my never-ending cycle of questions and decided to leave everything as it is 😅.
Yes, I am interested in this issue, so if you could guide me a bit more further and tell me whether or not my approach is good for the FLuentMigrator, I could dive in 😃

[2021-05-05 23:23] jzabroski commented on #1441
Cool - let's re-open this.  Yeah, I have time (I am just now getting close to 100% strength even though I have been covid negative for like a month).  Hoping to take a look at the backlog this weekend and catch up. I think everything you brought up makes sense, but I would need to dive into the code to give exact guidance.  You brought up a good point about the pickler needing to handle either num

[2021-05-06 14:07] jzabroski commented on #1023
https://github.com/dotnet/SqlClient#supportability

Just verified that this package works on 4.6.1

Merging.

[2021-05-06 14:09] #1023 closed

[2021-05-09 20:47] MihailsKuzmins commented on #1441
@jzabroski, I've decided to stop talking and actually write some code, so that we have something to discuss.
I have prepared a PR #1475 were I added `QuoterOptions`. Since DI is used in the FluentMigrator it seemed like a good idea to inject `QuoterOptions` into quoters and use options there (hopefully I haven't messed up with constructors 😅).
I would be grateful if someone could review the PR, bu

[2021-05-11 08:21] fubar-coder commented on #1441
@jzabroski The PR is a good first start. This is what came to my mind:

* This change is a breaking change (source-level)
  * A parameterless constructor should be implemented for all direct `IQuoter` implementations like `GenericQuoter`
  * The parameterless constructor should be marked as obsolete with a hint that it'll be removed in a future version
  * The first version that would be able to r

[2021-05-12 18:08] jzabroski commented on #1441
I reviewed this - I am commenting on 4 as a xUnit.net person who dislikes NUnit.  Personally, I think `[SetUp]` is over-used and adds extra indirection to the code.  The one use case for SetUp I quite like, is ability to have a CancellationToken that can time out a set of tests concurrently based on some abstract criteria (wait 30 seconds before timing out the task chain in the test).  We don't ne

[2021-05-12 18:18] jzabroski commented on #1441
Separately, I pointed out it seems like we're breaking the ABI for FirebirdGenerator by not leaving the old constructor around and marking it as obsolete.

I think that we should not allow three-valued logic for the QuoterOptions - it should be not nullable.

Regarding Microsoft DI FirebirdQuoter - the way Microsoft DI works, you can get in trouble if it's not deterministic how to construct the ob

[2021-05-14 08:28] fubar-coder commented on #1441
Ok, it seems my explanation wasn't clear enough, so I hacked together this sample code:

[code]

This code change allows to set `EnumAsUnderlyingType` to be set using the `QuoterOptions` and/or `FirebirdOptions`.

We could also keep the `EnumAsUnderlyingType` as `bool` if we use the `InternalsVisibleToAttribute` and the code would change to:

[code]

With an `InternalsVisibleToAttribute` in the FM

[2021-05-15 13:26] MihailsKuzmins commented on #1441
@jzabroski, @fubar-coder thank you for the review!
I have pushed some changes to my code:
- added `[Obsolete]` constructors for quoters and some other classes, so that the ABI is not broken.
- added a `[Theory]` method for `CanEscapeAString`
- marked current constructors of the `FirebirdQuoter` as `[Oboslete]`, added my new constructors which accept quoter options

For know, I guess, there are two

[2021-05-17 08:20] fairking commented on #1290
[dotnet](https://www.nuget.org/packages/Microsoft.Data.Sqlite.Core/6.0.0-preview.3.21201.2) is considering to update the version of sqlite: https://github.com/dotnet/efcore/issues/24834
Also the [System.Data.SQLite.Core](https://www.nuget.org/packages/System.Data.SQLite.Core/) will be updated very soon: https://system.data.sqlite.org/index.html/doc/trunk/www/news.wiki

[2021-05-17 08:33] fairking commented on #812
[dotnet](https://www.nuget.org/packages/Microsoft.Data.Sqlite.Core/6.0.0-preview.3.21201.2) is considering to update the version of sqlite: https://github.com/dotnet/efcore/issues/24834
Also the [System.Data.SQLite.Core](https://www.nuget.org/packages/System.Data.SQLite.Core/) will be updated very soon: https://system.data.sqlite.org/index.html/doc/trunk/www/news.wiki

[2021-05-18 13:09] wiciok opened #1479 "Password to sql server is logged as plain text, when connection string contains whitespace around equality mark"
**Describe the bug**
Password to sql server is logged as plain text, when connection string contains whitespace around equality mark, ex.  `'Password = examplepassword'`

**To Reproduce**
Use FluentMigrator with SQL Server connection string, that contains whitespace around equality mark, ex.
`Server = 127.0.0.1;Database = FluentMigrator;Password = pass@123;User Id = MyUser`

**Expected behavior**

[2021-05-18 14:35] #1479 closed

[2021-05-18 14:36] jzabroski commented on #1479
I will try to release 3.2.16 today  CC @lillo42 as well - sorry this has been delayed.  Still getting my energy levels up after recovering from COVID-19.

[2021-05-19 13:52] jzabroski commented on #1456
Please create.

[2021-05-19 13:54] Lopopix opened #1481 "Get "FileNotFound" error when running migration through dotnet-fm"
**Problem**
For a new project I installed the latest version of FluentMigrator (3.2.15) and everything needed to build my script with dotnet-fm.
When I launch the command, I get a "FileNotFound" error, saying it can not load FluentMigrator.dll

After downgrading of packages to a version used in another project (v3.2.1), it works (without any other change). Is it possible that something has change

[2021-05-19 15:39] fubar-coder commented on #1481
Maybe it's a version mismatch (wrong assembly binding redirect)?

[2021-05-19 18:38] jzabroski commented on #1481
In your test environment, if you use the flag to allow dirty assemblies, does is still work?

[2021-05-20 06:24] eloekset commented on #1425
Looks like the 3.2.16 release went well to both the DevOps feed and nuget.org, so we should close this issue now.

[2021-05-20 06:24] #1425 closed

[2021-05-21 00:44] jzabroski commented on #1425
Great job

[2021-05-24 00:57] CoskunSunali commented on #978
Hi @jzabroski Here I am! I finally have time to look through this issue and provide you a real world scenario where we can discuss what would help and what not.

To start with, I am using MSSQL but I would need the same thing with MySQL as well.

My so-called "real world scenario" is that, I would like to use the version table for a plug-in enabled environment where different plug-ins have differe

[2021-05-25 14:55] arhughes opened #1483 "TypeInitializationException in Mono starting in 3.2.16 with MS SQL Server"
**Describe the bug**
Starting in version 3.2.16, running any migrations on Mono against MS SQL Server fail with the error:
[code]

This appears to be caused #1436, which moved to Microsoft.Data.SqlClient and apparently does not support Mono.

**To Reproduce**
Try to run any migration with a SqlServer provider under Mono. An example showing that Microsoft.Data.SqlClient is not supported under Mono

[2021-05-31 12:48] m4rkyx opened #1486 "Can not resolve reference `Microsoft.Identity.Client` on Xamarin.Forms"
When updating from 3.2.15 to 3.2.16 our Xamarin.Forms solution cannot build because of the current error :
`
Can not resolve reference: Microsoft.Identity.Client, referenced by Microsoft.Data.SqlClient. Please add a NuGet package or assembly reference for Microsoft.Identity.Client, or remove the reference to Microsoft.Data.SqlClient.
`

Works perfectly with version 3.2.15.
We don't want to add the

[2021-06-11 16:07] jzabroski commented on #1486
There were no SQLite specific features added in 3.2.15 so that should be fine for now.  Thanks for reporting this.

I have not built a Xamarin Forms application before.  Can you tell me how to set that up?  It looks like the Xamarin.Forms Todo app uses SQLite.  https://github.com/xamarin/xamarin-forms-samples/tree/main/Todo

Separately, can you tell me what TFM you're using when you say your Xamar

[2021-06-11 16:27] jzabroski commented on #1483
Thanks.  It looks like our tests should cover Mono somehow.  There was another report in #1486 of a similar issue with a different stack trace, but I'm not sure if they were using Mono.

[2021-06-16 13:11] YanerTavuz commented on #1023
It works but there seems to be some kind of locking of the dll for Microsoft.Data.SqlClient.SNI.
Example. I have an ASP.NET MVC 5 site which also runs migrations using FluentMigrator, hosting it in IIS and rebuilding the solution fails because the dll is locked by the IIS process.
`using (var scope = ServiceProvider.CreateScope())` doesn't seem to help with releasing resources.

[2021-06-16 17:33] jzabroski opened #1490 "Microsoft.Data.SqlClient epic"
It seems like the 3.2.16 release decision to move to Microsoft.Data.SqlClient may have been a regretful one.  Initially it was only Mono users impacted by this problem, but now it appears to be more general.

#1483  -- @arhughes
#1486  -- @m4rkyx

[2021-06-17 07:25] m4rkyx commented on #1486
We're targeting .net standard 2.0 in our solution and we are using the `Mono.Data.Sqlite.dll` (included with Xamarin SDK) instead of the package `sqlite-net-pcl` provided in the Xamarin.Forms Todo. Maybe the use of this dll could lead to this error.